{% load lametro_extras %}

<div class="table-responsive">
    <table class='table' id='council-members'>
        <thead>
            <tr>
                <th scope="col">{{ CITY_VOCAB.COUNCIL_MEMBER }}</th>
                <th aria-hidden="true" scope="col"></th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in posts %}
            <tr id="polygon-{{ membership.post.label | slugify }}-{{ membership.person.name | slugify}}" data-name="{{ membership.person.name | slugify}}" data-polygon="polygon-{{ membership.post.label | slugify }}">
                <td>
                    <div class="thumbnail-square">
                        {% with person=membership.person aspect_ratio="fill-100x100" %}
                            {% include 'common/headshot.html' %}
                        {% endwith %}
                    </div>
                </td>

                <td data-order='{{ membership.person.family_name}}'>
                    {{ membership.person.id | call_link_html | safe }}
                </td>

                <td data-order='{{ membership.index }}'>
                    <p class="mb-1">{% firstof membership.person.board_office.role membership.role %}</p>

                    <p class="small mb-1">
                        {{ membership.post.acting_label | comma_to_line_break | safe }}
                    </p>

                    {% if "Caltrans" in membership.post.label %}
                        <p class="badge caltrans-badge mb-1">Caltrans</p>
                    {% elif "District" in membership.post.label %}
                        <p class="badge district-badge mb-1">Districts</p>
                    {% elif "sector" in membership.post.label  %}
                        <p class="badge sector-badge mb-1">Sectors</p>
                    {% elif "Mayor" in membership.post.label %}
                        <p class="badge city-badge mb-1">City of LA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
