{% load lametro_extras %}

<div class="table-responsive">
    <table class='table' id='council-members'>
        <thead>
            <tr>
                <th>{{ CITY_VOCAB.COUNCIL_MEMBER }}</th>
                <th></th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in posts %}
            <tr id="polygon-{{ membership.post.label | slugify }}" data="{{ membership.person.name | slugify}}">
                <td>
                    <div class="thumbnail-square">
                        <img src='{{ membership.person.headshot_url }}' alt='{{ membership.person.name }}' title='{{ membership.person.name }}' class='img-responsive img-thumbnail' />
                    </div>
                </td>

                <td data-order='{{ membership.person.family_name}}'>
                    {{ membership.person.id | call_link_html | safe }}
                </td>

                <td data-order='{{ membership.index }}'>
                    {% firstof membership.person.board_office.role membership.role %}
                    <br/ >

                    <span class="small">
                        {{ membership.post.acting_label | comma_to_line_break | safe }}
                    </span><br />

                    {% if "Caltrans" in membership.post.label %}
                        <span class="badge caltrans-badge">Caltrans</span>
                    {% elif "District" in membership.post.label %}
                        <span class="badge district-badge">Districts</span>
                    {% elif "sector" in membership.post.label  %}
                        <span class="badge sector-badge">Sectors</span>
                    {% elif "Mayor" in membership.post.label %}
                        <span class="badge city-badge">City of LA</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


