{% load extras %}
{% load lametro_extras %}

<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Upload a file and trigger the previewPDF function -->
    {{form.agenda}}
    
    <p class="hidden" id="pdf-form-message"><br>You submitted the below agenda. Does it look correct?</p>
    <iframe
        id="pdf-check-viewer-test"
        class="pdf-viewer hidden"
        frameborder="0"
        seamless="true"
        width="100%"
        height="400px"
        src="">
    </iframe>

    {% if form.agenda.errors %}
        <br> 
        <span class="error-block" style="color: #eb6864;">{{form.agenda.errors}}</span>
    {% endif %}

    <button type="button" class="btn btn-default hidden" id="pdf-form-cancel"><i class="fa fa-times" aria-hidden="true"></i> No, that's not right</button>
    <button type="submit" class="btn btn-teal hidden" id="pdf-form-submit" name="{{name}}"><i class="fa fa-check" aria-hidden="true"></i> Looks good! Submit</button>

</form>



