<div class="row">
    {% if has_agenda and not event.has_passed %}
    <div class="col-md-7">
    {% else %}
    <div class="col-12">
    {% endif %}

        <p>{{event.description}}</p>
        <p class="small text-muted">
            {% if event.status == 'cancelled' %}
                <del class="d-block">
                    <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}
                </del>
                <del class="d-block">
                    <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}
                </del>
            {% else %}
                <span class="d-block"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{event.start_time | date:"D n/d/Y"}}</span>
                <span class="d-block"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{event.start_time | date:"g:i a"}}</span>
                <span class="d-block"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{event.location.name}}</span>
            {% endif %}
        </p>


        {% if event.web_source.url %}
            <p class="small">
                {% if not agenda_url and not uploaded_agenda_url and not uploaded_agenda_pdf %}
                    <span class="d-block">Not seeing an agenda? Please use this link:</span>
                {% endif %}
                <a href="{{event.web_source.url}}" title="View on the {{CITY_VOCAB.SOURCE}} website" target="_blank">
                    <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
                    View on the {{CITY_VOCAB.SOURCE}} website
                </a>
            </p>
        {% endif %}
    </div>

    {% if has_agenda and not event.has_passed %}
        <div class="col-md-5">
            <h4>Submit public comment remotely</h4>

            <p>
                <strong class="d-block mb-2">Before the meeting</strong>

                <div>
                    <strong>Via email:</strong>
                    <a href="mailto:boardclerk@metro.net">boardclerk@metro.net</a>
                </div>

                <div>
                    <strong>By postal mail: </strong>
                    <address class="d-inline">Office of Board Administration, One Gateway Plaza, MS: 99-3-1, Los Angeles, CA 90012</address>
                </div>
            </p>

            <p>
                <i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i>
                <em>
                    Please make sure to note the meeting name, meeting date, and agenda number or item along with comments submitted by email or postal mail.
                    <strong>Comments via mail must be received by 5pm on the day prior to the meeting.</strong>
                </em>
            </p>
        </div>
    {% endif %}
</div>
