{% load wagtailcore_tags %}

<section class="row">
    {% if has_agenda and event_notices %}
    <section class="col-md-7">
    {% else %}
    <section class="col-12">
    {% endif %}

        <p>{{event.description}}</p>
        <p class="small text-muted">
            {% if event.status == 'cancelled' %}
                <del class="d-block">
                    <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{event.start_time | date:"D n/d/Y"}}
                </del>
                <del class="d-block">
                    <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{event.start_time | date:"g:i a"}}
                </del>
            {% else %}
                <span class="d-block"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{event.start_time | date:"D n/d/Y"}}</span>
                <span class="d-block"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{event.start_time | date:"g:i a"}}</span>
                <span class="d-block"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{event.location.name}}</span>
            {% endif %}
        </p>

        {% if USING_ECOMMENT %}
            {{ event.ecomment_message }}
            {% if event.is_ongoing %}
                <p>
                    <strong>You can submit your comments to the Metro Board of Directors during this meeting.</strong>
                    Use the following link to comment on board reports on the agenda.
                </p>

                <p>
                    <a class="btn btn-primary" href="{{ event.ecomment_url }}" target="_blank" aria-label="Go to public comment - link opens in a new tab">
                        <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
                        Go to public comment
                    </a>
                </p>
            {% elif event.ecomment_message %}
                <p>{{ event.ecomment_message|safe }}</p>
            {% endif %}
        {% endif %}

        {% if web_source.url %}
            <p class="small">
                {% if not agenda_url and not uploaded_agenda_url and not uploaded_agenda_pdf %}
                    <span class="d-block">Not seeing an agenda? Please use this link:</span>
                {% endif %}
                <a href="{{web_source.url}}" title="View on the {{CITY_VOCAB.SOURCE}} website" target="_blank" aria-label="View on the {{CITY_VOCAB.SOURCE}} website - link opens in a new tab">
                    <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
                    View on the {{CITY_VOCAB.SOURCE}} website
                </a>
            </p>
        {% endif %}
    </section>

    {% if has_agenda and event_notices %}
        <article class="col-md-5">
            {% for notice in event_notices %}
                {{ notice.message|richtext }}
            {% endfor %}

            {% if USING_ECOMMENT %}
                {% if event.is_ongoing %}
                    <p>
                        <strong>On the web:</strong>
                        <a href="{{ event.ecomment_url }}" target="_blank" aria-label="Go to public comment - link opens in a new tab">
                            <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
                            Go to public comment
                        </a>
                    </p>
                {% elif event_status == "future" %}
                    <p>{{ event.UPCOMING_ECOMMENT_MESSAGE }}</p>
                {% endif %}
            {% endif %}
        </article>
    {% endif %}
</section>
