{% extends "base_with_margins.html" %}

{% load adv_cache extras lametro_extras static %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}

    <section class="row">
        <p>
            <a href='/events/'>
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                Back to {{ CITY_VOCAB.EVENTS }} &amp; Agendas
            </a>
        </p>

        <!-- Header -->
        <div class="col-12">
        {% if event.status == 'cancelled' %}
            <h1 class="d-inline-block"><del>{{event.name}}</del></h1>
            <small class="label label-stale">Cancelled</small>
        {% else %}
            <h1>{{event.name}}</h1>
        {% endif %}
        </div>

        {% if event.is_ongoing and event.english_live_media_url %}
            <div class="col-7 col-sm-12">
                <a class="btn btn-primary mb-2" href="{{ event.english_live_media_url }}"  target="_blank" aria-label="Watch in English - link opens in a new tab">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                    Watch in English
                </a>

                {% if event.bilingual %}
                    <a lang="es" class="btn btn-primary mb-2" href="{{ event.spanish_live_media_url }}" target="_blank" aria-label="Ver en Español - enlace se abre en una pestaña nueva">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        Ver en Español
                    </a>
                {% endif %}
            </div>
        {% else %}
            <div>
                {% for media in event.media.all %}
                    {% if media.note == 'Audio (SAP)' %}
                        <a lang="es" class="btn btn-primary mb-2" href="{{ media.links.all.0.url }}" target="_blank" aria-label="Ver en Español - enlace se abre en una pestaña nueva">
                            <i class= "fa fa-headphones" aria-hidden="true"></i>
                            Ver en Español
                        </a>
                    {% else %}
                        <a class="btn btn-primary mb-2" href="{{ media.links.all.0.url }}" target="_blank" aria-label="Watch in English - link opens in a new tab">
                            <i class= "fa fa-headphones" aria-hidden="true"></i>
                            Watch in English
                        </a>
                    {% endif %}

                {% endfor %}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            {% include 'event/_admin_actions.html' %}
        {% endif %}

        <!-- Details -->
        {% if not event.accepts_public_comment %}
            {% include 'event/_event_header_no_public_comment.html' %}
        {% elif event.accepts_live_comment %}
            {% include 'event/_event_header_live_public_comment.html' %}
        {% else %}
            {% include 'event/_event_header_no_live_public_comment.html' %}
        {% endif %}

        <hr aria-hidden="true">

        <div class="col-12">
            <div class="row">
                <div class="col-lg-7">
                    {% if participants %}
                    <h2 class="h4">Participants</h2>
                    <p>
                        {% for participant in participants %}
                        <span class="d-block"><i class="fa fa-fw fa-users" aria-hidden="true"></i> {{participant.link_html | safe}}</span>
                        {% endfor %}
                    </p>
                    {% endif %}

                    <!-- Check that the database has an agenda to display -->
                    {% if agenda.url %}
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="h4">Agenda</h2>
                                <p class="mb-1">
                                    <a id="pdf-download-link" class="fw-bold fs-6" target="_blank" href='{{agenda.url}}' aria-label="Download Agenda - link opens in a new tab">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        Download Agenda
                                    </a>
                                </p>
                                {% if event.packet.is_ready %}
                                    <p class="mb-1">
                                        <a href="{{event.packet.url}}" class="fw-bold fs-6"><i class="fa fa-files-o" aria-hidden="true"></i>
                                            Download Agenda and Attachments
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                {% if event.start_time|compare_time %}
                                    {% if minutes %}
                                        <h2 class="h4">Minutes</h2>

                                        {% for m in minutes %}
                                            <p>
                                                <a href="{{ m.links.get.url }}"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                    View Minutes {% if minutes.count > 1 %}#{{ forloop.counter}}{% endif %}
                                                </a>
                                            </p>
                                        {% endfor %}

                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <p class="d-none d-md-block">
                            <em>To use a link in the following PDF, hold the CTRL button on your keyboard when clicking the link.</em>
                        </p>
                        <iframe
                            id="pdf-embed-agenda"
                            class="pdf-viewer d-none d-md-block"
                            name="{{agenda.timestamp}}"
                            height="600">
                        </iframe>
                    {% else %}
                        <p>
                            Agenda will be posted no later than 72 hours prior to the start of the meeting, or 24 hours for Special Board meetings.
                            If you are unable to access an Agenda within either of these time frames, please visit:
                            <a href="http://metro.legistar.com/calendar.aspx" target="_blank" aria-label="http://metro.legistar.com/calendar.aspx - link opens in a new tab">http://metro.legistar.com/calendar.aspx</a>.
                        </p>
                    {% endif %}
                </div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    {% if related_board_reports %}
                        {% include 'event/_related_bills.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ CITY_NAME }}"
        },
        "name": "{{event.location.name}}"
      },
      "name": "{{event.name}}",
      "startDate": "{{ event.start_time.isoformat }}",
      "url" : "{{ event.source_url }}"
    }
    </script>

{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
        if (window.innerWidth > 768){
            const agendaUrl =  "{% if agenda.manual %}{{ agenda.url }}{% else %}/pdfviewer/?{{agenda.url|full_text_doc_url}}{% endif %}"
            $("#pdf-embed-agenda").attr("src", agendaUrl);
        }
        else{
            $('#pdf-embed-agenda').hide()
            $('#pdf-download-link').html("<i class='fa fa-fw fa-external-link'></i> View PDF")
        }

        {% for source in event.sources.all %}
            console.log('source: {{source}}');
        {% endfor %}
    })
    </script>
{% endblock %}
