/* city-specific css lives here */
/* anything in this file will override custom.css in django-councilmatic */

.no-wrap {
    white-space: nowrap;
}

#section-photo {
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(211, 211, 211, 0.3)
        ),
        url('../images/la-metro-regional-rail-map.gif');
}

#section-events {
    margin-bottom: 10px;
}

#section-intro {
    line-height: 1.6em;
    padding-top: 1.6em;
}

#section-events {
    /*background-color: #DBEEFA;*/
}

#map-screenshot{
    width: 90%;
}