[class*="alert"] {
  --font-color: #fff;
  --a: 0.6;
  background-color: rgba(var(--r), var(--g), var(--b), var(--a));
  color: var(--font-color);
  border: 1px solid rgba(var(--r), var(--g), var(--b), 1)!important;
}

.button[class*="alert"]:hover {
  background-color: rgba(var(--r), var(--g), var(--b), var(--a));
  color: var(--font-color);
}

/* Add default border to empty alert select */
.alert- {
  border: 1px solid var(--w-color-border-field-default)!important;
}

.alert-primary {
  --r: 235;
  --g: 104;
  --b: 100;
}

.alert-secondary {
  --r: 170;
  --g: 170;
  --b: 170;
}

.alert-success {
  --r: 34;
  --g: 178;
  --b: 76;
}

.alert-danger {
  --font-color: #000;
  --r: 252;
  --g: 186;
  --b: 3;
}

.alert-warning {
  --font-color: #000;
  --r: 245;
  --g: 230;
  --b: 37;
}

.alert-info {
  --font-color: #000;
  --r: 112;
  --g: 219;
  --b: 240;
}

.list-display-wrapper {
  font-weight: normal!important;
}
