# Byte-compiled / optimized / DLL files
.DS_Store

# Collected Static Files
static/**
**/static/images/ocd-person/*.jpg
**/static/pdf/agenda-*.pdf

**/__pycache__
.pytest_cache/

downloads

merged_pdfs/*
debug.log

.cache

*.csv
!historical_events.csv
!lametro_divisions.csv

*_bk/

lametro/secrets.py
.env
.env.local

.venv
media/
