# Byte-compiled / optimized / DLL files
.DS_Store

# Settings
settings_deployment.py

# Collected Static Files
static/**
**/static/images/ocd-person/*.jpg
**/static/pdf/agenda-*.pdf

solr-4.10.4/**

**/__pycache__
.pytest_cache/

downloads
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/scripts/app_start.sh
/scripts/app_stop.sh
/scripts/validate_service.sh

merged_pdfs/*
debug.log

.cache
/configs/lametro-staging.conf.nginx
/configs/lametro.conf.nginx
/configs/lametro-staging.conf.supervisor
/configs/lametro.conf.supervisor
/scripts/after_install.sh
/configs/settings_deployment.production.py
/configs/settings_deployment.staging.py
/configs/lametro_service_acct_key.json

*.csv
!historical_events.csv
!lametro_divisions.csv
.gnupg/

lametro/secrets.py
/configs/settings_deployment.upgrade.py
