psycopg2==2.7.1
-e git://github.com/datamade/django-councilmatic.git@31ce23b2c47bf1cee1bcb663f42f2b3415c61c0a#egg=councilmatic_core
raven==5.30.0
gunicorn==19.6.0
PyPDF2==1.26.0
requests==2.7.0
pytest
pytest-django
pytest-mock==1.6.3
lxml==4.1.1
