Django>=3.2,<3.3
psycopg2-binary>=2.8,<2.9
opencivicdata>=3.1.0
#django-councilmatic[convert_docs]==2.6.1
https://github.com/datamade/django-councilmatic/zipball/hcg/3.0
django-debug-toolbar>=3.4,<3.5
sentry-sdk==0.14.2
gunicorn==19.6.0
gevent>=20.9
greenlet>=0.4.17
pytest
pytest-django
pytest-mock==1.6.3
requests-mock==1.8.0
freezegun==1.0.0
dj_database_url
https://github.com/opencivicdata/python-legistar-scraper/zipball/master
locust==2.5.0
django-recaptcha==2.0.6
google-api-python-client==2.42.0
google-auth-oauthlib
google-auth-httplib2
textract
django-haystack[elasticsearch]
elasticsearch>=7.0.0,<7.14.0
