Django>=2.2,<2.3
opencivicdata>=3.1.0
https://github.com/datamade/django-councilmatic/zipball/hotfix/jfc/2.5-escape-selected-facets
django-debug-toolbar==1.9.1
sentry-sdk==0.14.2
gunicorn==19.6.0
pytest
pytest-django
pytest-mock==1.6.3
lxml==4.1.1
dj_database_url
https://github.com/opencivicdata/python-legistar-scraper/zipball/master
locustio==0.13.2
