{% load extras %}

<hr aria-hidden="true">

<p>
    <a class="small" href="/board-report/{{ legislation.slug }}/">{{ legislation.friendly_name }}</a>
    {{ legislation.inferred_status | inferred_status_label | safe }}
</p>

<div class="row">
    <div class="col-10 col-sm-11">
        <p>
            {{ legislation.listing_description | short_blurb }}
        </p>
    </div>

    <div class="col-2 col-sm-1">
        <a class='btn-bill-detail' href='/board-report/{{ legislation.slug }}/'>
            <i class="fa fa-fw fa-chevron-right"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-10 col-sm-11">
        <p class="small text-muted mb-0">
            <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{legislation.last_action_date|date:'n/d/Y'}} - {{legislation.current_action.description | remove_action_subj }}
        </p>

        {% if legislation.topics %}
            <i class="fa fa-fw fa-tag" aria-hidden="true"></i>
            {% for tag in legislation.topics %}
                <span class="badge badge-muted pseudo-topic-tag">
                    <a href='/search/?q=&selected_facets=topics_exact:{{ tag }}'>{{ tag }}</a>
                </span>
            {% endfor %}
        {% else %}
            <i class="fa fa-fw fa-tag" aria-hidden="true"></i>
            {% for tag in legislation.pseudo_topics %}
                <span class="badge badge-muted pseudo-topic-tag">
                    <a href='/search/?q={{request.GET.q}}&selected_facets=sponsorships_exact%3A{{ tag }}'>{{ tag | committee_topic_only }}</a>
                </span>
            {% endfor %}
        {% endif %}
    </div>
</div>
