{% load extras %}
{% load lametro_extras wagtailcore_tags %}


<div class="row">
    <div class="col-sm-4 col-md-12">
        {% include "common/headshot.html" %}
        {% if person_details.headshot %}
        <p class="small">
            <i class="fa fa-fw fa-camera" aria-hidden="true"></i>
            Credit: {{person_details.headshot_source}}
        </p>
        {% endif %}
    </div>

    <div class="col-sm-6 col-md-12 mt-3 mt-md-0">
        {% if qualifying_post %}
            <p class="small mb-1">
                <i class='fa fa-fw fa-briefcase' aria-hidden="true"></i>
                {{ qualifying_post | appointment_label }}
            </p>
        {% endif %}

        <p class="small">
            <a href="/about/#about-la-metro">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                More about Metro appointments
            </a>
        </p>
    </div>

    {% if person_details.bio %}
        <div class="col-md-8 mt-3">
            <h3>About {{ person.name }}</h3>
            <p>{{ person_details.bio | richtext }}</p>
        </div>
    {% endif %}
</div>
