{% extends "base_with_margins.html" %}

{% load adv_cache extras lametro_extras static %}

{% block title %}{{ person.name }}{% endblock %}

{% block extra_css %}
    {% if map_geojson %}
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1 class="d-inline-block me-1">{{ person.name }}</h1>
            <div class="d-inline-block">
                <div class="text-secondary d-inline-block fw-normal h4">
                    {% if person.current_council_seat %}
                        {{ person.current_council_seat.role }}
                    {% else %}
                        Former {{ person.latest_council_membership.role }}
                    {% endif %}
                </div>
                <a href="rss/" title="RSS feed for Sponsored Board Actions by {{person.name}}" aria-label="RSS feed for Sponsored Board Actions by {{person.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    {% comment %}
        The Metro CEO does not sponsor reports or serve as a committee member.
        His/her/their detail view provides a bio, in lieu of the 'Sponsorhsips' and 'Committees' lists.
    {% endcomment %}
    {% if qualifying_post == 'Chief Executive Officer' %}
        {% include 'person/_person_ceo.html' %}
    {% else %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-4 col-md-12">
                    <img src='{{person.headshot_url}}' alt='{{person.name}}' title='{{person.name}}' class='img-responsive img-thumbnail img-padded' id="person-detail-headshot" />
                </div>

                <div class="col-sm-6 col-md-12 mt-3 mt-md-0">
                    {% if qualifying_post %}
                        <p class="small mb-1">
                            <i class='fa fa-fw fa-briefcase' aria-hidden="true"></i>
                            {{ qualifying_post | appointment_label }}
                        </p>
                    {% endif %}

                    {% if person.headshot_source %}
                        <p class='small'>
                            <i class='fa fa-fw fa-camera' aria-hidden="true"></i>
                            Credit: {{person.headshot_source}}
                        </p>
                    {% endif %}

                    <p class="small">
                        <a href="/about/#about-la-metro">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            More about Metro appointments
                        </a>
                    </p>

                    {% if user.is_authenticated %}
                        {% include './partials/person_headshot_form.html' %}
                    {% endif %}
                </div>
            </div>
            <hr aria-hidden="true">

            {% if map_geojson %}

                <figure>
                    {% if person.current_district %}
                        <figcaption class="h4" id="map-label">{{ person.current_district | format_district }} map</figcaption>
                    {% endif %}
                    <div id='map-detail' aria-labelledby="map-label"></div>
                </figure>

            {% endif %}

        </div>

        <div class="col-md-8 mt-3">
            {% if person.current_bio %}
                <h2 class="h3">
                    <i class="fa fa-user" aria-hidden="true"></i> About {{ person.name }}
                </h2>
                <p class="bio">{{person.current_bio | safe}}</p>
            {% endif %}

            {% if user.is_authenticated %}
                {% include './partials/person_bio_form.html' %}
            {% endif %}

            <ul class="nav nav-pills mb-4">
                <li class="nav-item" role="presentation">
                    <a class="nav-link{% if request.GET.view == 'committees' or request.GET.view == None %} active{% endif %}" href="/person/{{person.slug}}/?view=committees">
                        <i class="fa fa-fw fa-group" aria-hidden="true"></i>
                        Committees
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link{% if request.GET.view == 'board-reports' %} active{% endif %}" href="/person/{{person.slug}}/?view=board-reports">
                        <i class="fa fa-fw fa-files-o" aria-hidden="true"></i>
                        Board Reports
                    </a>
                </li>
            </ul>

            {% if request.GET.view == 'committees' or request.GET.view == None %}
                <h3>
                    <i class="fa fa-fw fa-group" aria-hidden="true"></i>
                    Committees
                </h3>

                <div class="table-responsive">
                    <table class="table">
                        <caption class="mb-3">Committees to which {{person.name}} belongs</caption>
                        <thead>
                            <tr>
                                <th scope="col">Member of</th>
                                <th scope="col">Position</th>
                                <th scope="col">Committee actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membership in memberships_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'lametro:committee' membership.organization.slug %}">{{membership.organization}}</a>
                                    </td>
                                    <td>{{membership.role}}</td>
                                    <td>
                                        <a href="/search/?q=&selected_facets=sponsorships_exact:{{membership.organization.name}}">View board reports &raquo;</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% elif request.GET.view == 'board-reports' %}
                <h3>
                    <i class="fa fa-fw fa-files-o" aria-hidden="true"></i>
                    Board Reports
                </h3>
                <p class="mb-3">Board reports acted upon most recently by committees to which {{person.name}} belongs</p>

                {% for legislation in sponsored_legislation %}
                    {% include "person/_legislation_item.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "email": "{{person.email}}",
          "image": "{{person.headshot_url}}",
          {% if person.current_council_seat %}
          "jobTitle": "{{ person.current_council_seat }} Representative",
          {% endif %}
          "affiliation":    {
                                "@type": "Organization",
                                "name": "{{ CITY_COUNCIL_NAME }}"
                            },
          "name": "{{person.name}}",
          "url": "{{website_url}}"
        }
    </script>

{% endblock %}

{% block extra_js %}
    <script>
        {% for source in person.sources.all %}
            console.log('source: {{source}}');
        {% endfor %}
    </script>
    {% if map_geojson %}
        <script src="{% static 'js/lib/leaflet.js' %}" /></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&v=3.17&key={{GOOGLE_API_KEY}}"></script>
        <script type="text/javascript" src="{% static 'js/lib/leaflet-google.js' %}" ></script>
        <script>
            var map = L.map('map-detail', {
                scrollWheelZoom: false,
                dragging: false,
                touchZoom: false,
                doubleClickZoom: false,
                center: {{MAP_CONFIG.center}},
                zoom: {{MAP_CONFIG.zoom}},
                zoomControl: false
            });
            var google_map_styles = [
                {
                    stylers: [
                        { saturation: -100 },
                        { lightness: 40 }
                    ]
                }
            ];
            var layer = new L.Google('ROADMAP', {
                animate: false,
                mapOptions: {styles: google_map_styles}
            });
            map.addLayer(layer);
            var geojson = L.geoJson({{ map_geojson |safe }}, {
                style: {
                        "color": "#3D8A8E",
                        "weight": 1.2,
                        "opacity": 1,
                        "fillOpacity": .3
                    }
            });

            $(function() {
                geojson.addTo(map);
                map.fitBounds(geojson.getBounds());
            });

            geojson.on('click', function(){
                window.location.href="{% url 'lametro:council_members' %}";
            });
        </script>

    {% endif %}

{% endblock %}
