{% load lametro_extras %}

{% if not forloop.first %}
    <hr class="events-line mt-0" aria-hidden="true"/>
{% endif %}

<a href="{{event.event_page_url}}">
  <div class="row">
        <div class="col-3 pe-0">

            {% if event.status == 'cancelled' %}<del>{% endif %}

            <p class="small">
                <i class="fa fa-fw fa-clock-o d-none d-sm-inline" aria-hidden="true"></i>
                {{event.start_time| date:"g:i a"}}
            </p>

            {% if event.status == 'cancelled' %}</del>{% endif %}

        </div>
        <div class="col-9">
            <p>
                {% if event.status == 'cancelled' %}
                    <del>{{event.name}}</del>
                    <span class="label label-stale">Cancelled</span>
                {% else %}
                    {{event.name}}
                    {% if event|updates_made %}
                        <span class='label label-info label-teal'>Updated</span>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
</a>
