{% load lametro_extras %}

<h3 class="text-default m-0 h5">
    <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{date | date:"D m/d/Y"}}
</h3>
<div class="divider" aria-hidden="true"></div>

{% for event in event_list %}

  {% if not forloop.first %}
    <hr class="events-line mt-0" aria-hidden="true"/>
  {% endif %}

  <div class="row">
    <div class="col-3 pe-0">

        {% if event.status == 'cancelled' %}<del>{% endif %}

        <p class="small">
            <i class="fa fa-fw fa-clock-o d-none d-sm-inline" aria-hidden="true"></i>
            {{event.start_time| date:"g:i a"}}
        </p>

        {% if event.status == 'cancelled' %}</del>{% endif %}

    </div>

    <div class="col-4">
        <p>
            {% if event.status == 'cancelled' %}
                <del><a href="{{event.event_page_url}}">{{event.name}}</a></del>
                <span class="label label-stale">Cancelled</span>
            {% else %}
                <a href="{{event.event_page_url}}">{{event.name}}</a>
            {% endif %}
        </p>
    </div>

    <div class="col-3">
        {% for media in event.media.all %}
          <p>
            <a href="{{ media.links.all.0.url }}" target="_blank" aria-label="{% if media.note == 'Audio (SAP)' %}Ver en Español - enlace se abre in una pestaña nueva{% else %}Watch in English - link opens in a new tab{% endif %}">
                {% if media.note == 'Audio (SAP)' %}Ver en Español{% else %}Watch in English{% endif %}
            </a>
          </p>
        {% endfor %}
    </div>

    {% if event.start_time|compare_time %}
    <div class="col-2 p-0">
        {% with minutes=event.minutes.0.links.all.0.url %}
            {% if minutes %}
            <p>
                <a href="{{ minutes }}">Minutes</a>
            </p>
            {% endif %}
        {% endwith %}
    </div>
    {% endif %}

</div>
{% endfor %}
