{% extends "base_with_margins.html" %}

{% load static %}

{% block title %}Events{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-9 px-0 px-md-3">

            <section class="row" id="events-form">
                <h1 class="h2">Select a date range</h1>
                <div class="col-lg-8">
                    <form action='/events' method='GET'>
                        <div class="input-group" id='date-search'>
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <input type="text" id="from" name="from" class="form-control date-filter" placeholder="From..." value='{{ start_date }}' autocomplete="off" aria-label="Start date">
                            <input type="text" id="to" name="to" class="form-control date-filter" placeholder="To..." value='{{ end_date }}' autocomplete="off" aria-label="End date">
                            <button class="btn btn-secondary btn-date" id="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class='d-none d-sm-inline'>Search</span></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 my-2 my-lg-0">
                    <a href="{% url 'events' %}?show=all" class="btn btn-primary d-inline-block px-lg-2">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        All meetings
                    </a>
                    <a href="{% url 'events' %}" class="btn btn-teal d-inline-block px-lg-2">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                        Reset
                    </a>
                </div>
            </section>

            {% if request.user.is_authenticated %}
            <article class="row">
                <div class="col-lg-10">
                    <div class="card-body login">
                        <h2 class="h4">Hello, {{ user.username }}!</h2>
                        <p>You have the authority to add agenda links to relevant events.
                            Please click on an event that needs an agenda, and look for the URL input box.
                        </p>
                        <p><em>You only have this option for events without agendas.</em></p>
                    </div>
                </div>
            </article>
            {% endif %}

            {% if future_events %}
                <div class="row mt-4">
                    <div>
                        <h2 class="d-inline" id="upcoming-meetings">
                            <span>Upcoming {{ CITY_VOCAB.EVENTS }}</span>
                        </h2>
                        <small class="rss">
                            <a href="rss/" title="RSS feed for Upcoming and Recent Events" aria-label="RSS feed for Upcoming and Recent Events">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                        </small>
                    </div>
                    <p class="mt-3 mt-sm-0">
                        <span>Download event calendar:</span>
                        <a href="{% static 'pdf/fy25-committee-board-calendar.pdf' %}" target="_blank" class="btn btn-link pt-0 d-block d-sm-inline text-start" aria-label="Fiscal Year 2025 (PDF) - link opens in a new tab">
                            <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                            Fiscal Year 2025 (PDF)
                        </a>
                        <a href="{% static 'pdf/fy26-committee-board-calendar.pdf' %}" target="_blank" class="btn btn-link pt-0 d-block d-sm-inline text-start" aria-label="Fiscal Year 2026 (PDF) - link opens in a new tab">
                            <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                            Fiscal Year 2026 (PDF)
                        </a>
                    </p>
                </div>

                <div class='row'>
                    <div class='col-md-8' id='events_message'></div>
                </div>

                <ul class="row mt-4 search-results">
                {% for date, event_list in future_events %}
                    <li class="event-upcoming-listing mb-4">
                        {% include "events/_event_day.html" %}
                    </li>
                {% endfor %}
                </ul>

                {% if 'show' in request.GET and request.GET.show == 'future' %}
                    <a href="{% url 'events' %}" class="btn btn-primary" id="fewer-upcoming-events">
                        <i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i>Show fewer upcoming meetings
                    </a>
                {% else %}
                    <a href="{% url 'events' %}?show=future#upcoming-meetings" class="btn btn-primary" id="more-upcoming-events">
                        <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>Show all upcoming meetings
                    </a>
                {% endif %}

                <div class="row mt-5">
                    <div>
                        <h2 class="d-inline" id="past-meetings"><span>Past {{ CITY_VOCAB.EVENTS }}</span></h2>
                        <small class="rss">
                            <a href="rss/" title="RSS feed for Upcoming and Recent Events" aria-label="RSS feed for Upcoming and Recent Events">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                        </small>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-8' id='events_message'></div>
                </div>

                <ul class="row mt-4 search-results">
                {% for date, event_list in past_events %}
                    <li class='event-listing mb-4'>
                        {% include "events/_past_event_day.html" %}
                    </li>
                {% endfor %}
                </ul>

                {% if 'show' in request.GET and request.GET.show == 'past' %}
                    <a href="{% url 'events' %}" class="btn btn-primary mb-5" id="fewer-events">
                        <i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Show fewer past meetings
                    </a>
                {% else %}
                    <a href="{% url 'events' %}?show=past#past-meetings" class="btn btn-primary mb-5" id="more-events">
                        <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> Show all past meetings
                    </a>
                {% endif %}

            {% elif past_events %}
                <div class="row mt-4">
                    <div>
                        <h2 class="d-inline">Past {{ CITY_VOCAB.EVENTS }}</h2>
                        <small class="rss">
                            <a href="rss/" title="RSS feed for Upcoming and Recent Events" aria-label="RSS feed for Upcoming and Recent Events">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                        </small>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-8' id='events_message'></div>
                </div>

                <ul class="row mt-4 search-results">
                {% for date, event_list in past_events %}
                    <li class='event-listing mb-4'>
                        {% include "events/_past_event_day.html" %}
                    </li>
                {% endfor %}
                </ul>

                <a href="#" class="btn btn-primary mb-5" id="more-events"><i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> Show all past meetings</a>
                <a href="#" class="btn btn-primary mb-5" id="fewer-events"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Show fewer past meetings</a>

            {% elif select_events %}
                <div class="row mt-4">
                    <div>
                        <h2 class="d-inline"><span>{{ CITY_VOCAB.EVENTS }} from {{ start_date }} to {{ end_date }}</span></h2>
                        <small class="rss">
                            <a href="rss/" title="RSS feed for Upcoming and Recent Events" aria-label="RSS feed for Upcoming and Recent Events">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                        </small>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-8' id='events_message'></div>
                </div>

                <ul class="row mt-4 search-results">
                {% for date, event_list in select_events %}
                    <li class='mb-4'>
                        {% include "events/_past_event_day.html" %}
                    </li>
                {% endfor %}
                </ul>

            {% elif all_events %}
                <div class="row mt-4">
                    <div>
                        <h2 class="d-inline">All {{ CITY_VOCAB.EVENTS }}</h2>
                        <small class="rss">
                            <a href="rss/" title="RSS feed for Upcoming and Recent Events" aria-label="RSS feed for Upcoming and Recent Events">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                        </small>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-8' id='events_message'></div>
                </div>

                <ul class="row mt-4 search-results">
                {% for date, event_list in all_events %}
                    <li class='mb-4'>
                        {% include "events/_past_event_day.html" %}
                    </li>
                {% endfor %}
                </ul>

            {% else %}
                <div class='row my-4'>
                    <h2 class="h5">Your search did not return any results.</h2>
                </div>
            {% endif %}
        </div>

        <aside class="col-md-3 px-0 px-md-2">
            {% include 'events/_events_info_blurb.html' %}

            <div>
                <p class="my-2">
                    <a href="{% url 'about' %}#rules"><i class="fa fa-gavel" aria-hidden="true"></i> Board Room Rules</a>
                </p>
                <p class="my-2">
                    <a href="{% url 'about' %}#procedures"><i class="fa fa-book" aria-hidden="true"></i> Rules &amp; Procedures</a>
                </p>
                <p class="my-2">
                    <a href="{% url 'about' %}#visit"><i class="fa fa-map-marker" aria-hidden="true"></i> Visit Metro Headquarters Building</a>
                </p>
            </div>
        </aside>

    </section>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/lib/jquery-1.10.1.min.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'js/lib/bootstrap-datetimepicker.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#from').datepicker();
        $('#to').datepicker();
    });
    </script>
{% endblock %}
