{% csrf_token %}
<p>
    {{form.type.label_tag}} {{form.type}}
</p>

<p style="margin-bottom: 0px;">
    {{form.description.label_tag}}
</p>

<div class="d-flex" style="flex-direction: column;">
    <div style="border: 1px solid rgb(118, 118, 118);">
        <button id="add-link" class="rich-text-btn" type="button" aria-label="Insert markdown for a link" title="Insert markdown for a link">
            <i class="fa fa-link" aria-hidden="true"></i>
        </button>
        <button id="add-bold" class="rich-text-btn" type="button" aria-label="Insert markdown for bold text" title="Insert markdown for bold text">
            <i class="fa fa-bold" aria-hidden="true"></i>
        </button>
        <button id="add-italic" class="rich-text-btn" type="button" aria-label="Insert markdown for italic text" title="Insert markdown for italic text">
            <i class="fa fa-italic" aria-hidden="true"></i>
        </button>
        <button id="add-break" class="rich-text-btn" type="button" aria-label="Insert markdown for line break" title="Insert markdown for line break">
            <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </button>
    </div>

    {{form.description}}
</div>

{% for error in form.description.errors %}
    <span style="color: #eb6864; display: block;">*{{error|striptags}}</span>
{% endfor %}
