{% load extras %}
{% load lametro_extras %}

{% for name, count in item_list %}
    {% if count %}
        {% if name in selected_list %}
            <li class="small d-flex">
                <div class="skinny-list">
                    <a href="#" class="filter-value" data-param="{{facet_name}}_exact:{{name}}" title="{{ name }}">
                        <strong>{{ name | short_topic_name }}</strong>
                    </a>
                    <a href="#" class="remove-filter-value btn btn-primary btn-sm" data-param="{{facet_name}}_exact:{{name}}" aria-label="Remove {{name}} filter">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
                <span class="badge badge-facet ms-auto">{{ count }}</span>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
{% for name, count in item_list|dictsort:0 %}
    {% if count %}
        {% if name not in selected_list %}
            <li class="small d-flex">
                <a href="#" class="filter-value" data-param="{{facet_name}}_exact:{{name}}" title="{{ name }}">{{ name | short_topic_name }}</a>
                <span class="badge badge-facet ms-auto">{{ count }}</span>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
