{% load extras %}
{% load lametro_extras %}

{% if facet_label != 'Controlling Body' %}

    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{facet_name}}" aria-expanded="false" aria-controls="collapse_{{facet_name}}">
                Filter by
                {% if 'Legislation' in facet_label %}
                    Report Type
                {% elif 'Sponsor' in facet_label %}
                    Meeting
                {% elif 'Legislative Session' in facet_label %}
                    Fiscal Year
                {% else %}
                    {{facet_label}}
                {% endif %}
            </button>
        </h3>
        <div id="collapse_{{facet_name}}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <ul class="search-facet-list">
                    {% if facet_name in 'topics,lines_and_ways,phase,bill_type,project,metro_location,geo_admin_location,significant_date,motion_by,plan_program_policy' %}
                        {% include 'search/_ordered_search_filter_items.html' %}

                    {% elif facet_name == 'sponsorships' %}
                        {% for name, count in facets.fields.sponsorships %}

                            {% if count %}
                                <li class="small d-flex">
                                    {% if name in selected_facets.sponsorships %}
                                        <div class="skinny-list">
                                            <a href="#" class="filter-value" data="sponsorships_exact:{{name}}" title="{{ name|title }}">
                                                <strong>{{ name | title }}</strong>
                                            </a>
                                            <a href="#" class="remove-filter-value btn btn-primary btn-sm" data="{{facet_name}}_exact:{{name}}">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    {% else %}
                                        <a href="#" class="filter-value" data="sponsorships_exact:{{name}}" title="{{ name|title }}">
                                            {{ name | title }}
                                        </a>
                                    {% endif %}

                                    <span class="badge badge-facet ms-auto">{{ count }}</span>

                                </li>
                            {% endif%}

                        {% endfor %}
                    {% else %}

                        {% for name, count in item_list %}
                            {% if count %}
                                {% include 'search/_ordered_search_filter_items.html' %}
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endif %}
