<p class="h4">
    Search Metro Board Reports
</p>
<p id="search-help">
    Begin typing in the search bar to add a keyword or pick a suggested topic as they appear. Press enter to perform a search for your selected terms.
    <a id="beta-info" class="hover-hand" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="<strong>Suggested topics are a new feature.</strong> If you aren't seeing helpful suggestions or have any additional feedback or questions, get in touch with us at <a href='mailto:boardreport@metro.net'>boardreport@metro.net</a>.">
        <i id="beta-info" class="fa fa-info-circle fa-fw"></i>
    </a>
</p>
