<h1 class="h4">
    Search Metro Board Reports
</h1>
<p id="search-help">
    Begin typing in the search bar to add a keyword or pick a suggested topic as they appear. Press enter to perform a search for your selected terms.
    <a href="#" id="beta-info" class="hover-hand" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="<strong>Suggested topics are a new feature.</strong> If you aren't seeing helpful suggestions or have any additional feedback or questions, get in touch with us at <a href='mailto:boardreport@metro.net'>boardreport@metro.net</a>." aria-label="Suggested topics are a new feature. If you aren't seeing helpful suggestions or have any additional feedback or questions, get in touch with us at boardreport@metro.net.">
        <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
    </a>
</p>
