{% load extras %}
{% load lametro_extras %}

{% if facet_label != 'Controlling Body' and item_list|length > 0 %}

    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{facet_name}}" aria-expanded="false" aria-controls="collapse_{{facet_name}}">
                Filter by
                {% if 'Legislation' in facet_label %}
                    Board Report Type
                {% elif 'Sponsor' in facet_label %}
                    Meeting
                {% elif 'Legislative Session' in facet_label %}
                    Fiscal Year
                {% else %}
                    {{facet_label}}
                {% endif %}

                {% show_tooltip facet_label %}
            </button>
        </h3>
        <div id="collapse_{{facet_name}}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <ul class="search-facet-list">
                    {% if facet_name != 'sponsorships' %}

                        {% include 'search/_ordered_search_filter_items.html' %}

                    {% else %}

                        {% for name, count in facets.fields.sponsorships %}
                            {% if count %}
                            <li class="small d-flex">
                                <div class="skinny-list">
                                    {% if name in selected_facets.sponsorships %}
                                        <strong>{{ name | title }}</strong>
                                        <a href="#" class="remove-filter-value btn btn-primary btn-sm" data-param="{{facet_name}}_exact:{{name}}" aria-label="Remove {{name}} filter">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a href="#" class="filter-value" data-param="sponsorships_exact:{{name}}" title="{{ name|title }}">
                                            {{ name | title }}
                                        </a>
                                    {% endif %}
                                </div>
                                <span class="badge badge-facet ms-auto">{{ count }}</span>
                            </li>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endif %}
