{% load extras %}
{% load lametro_extras %}

<p class="small text-muted mb-0">
    <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
    {{ result.last_action_date|date:'n/d/Y' }} - {{ result.last_action_description | remove_action_subj }} (most recent action)
</p>

{% if result.primary_sponsor %}
    <p class="small text-muted mb-0">
        <i class="fa fa-fw fa-users" aria-hidden="true"></i>
        {{ result.primary_sponsor }}
    </p>
{% endif %}

<div class="row">
    <div class="col-10 col-sm-11">
        {% if result.rich_topics|length %}
            <i class="fa fa-fw fa-tag" aria-hidden="true"></i>
            {% hits_first result.rich_topics|safe selected_facets as tags %}
            {% for tag in tags|slice:":10" %}
                {% with tag.classification|add:":"|add:tag.name as tag_facet %}
                    <span class="badge{% if tag.name|matches_query:request or tag.name|matches_facet:selected_facets %} badge-highlight{% else %} badge-muted{% endif %} pseudo-topic-tag">
                        <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{tag.name}}</a>
                    </span>
                {% endwith %}
            {% endfor %}

            {% if tags|length > 10 %}
                <div class="small d-block">
                    <a data-bs-toggle="collapse" href="#collapse-{{ result.slug }}" role="button" aria-expanded="false" aria-controls="collapse-{{ result.slug }}">More topics...</a>
                </div>
                <div class="collapse" id="collapse-{{ result.slug }}">
                    {% for tag in tags|slice:"10:" %}
                        {% with tag.classification|add:":"|add:tag.name as tag_facet %}
                            <span class="badge{% if tag.name|matches_query:request or tag.name|matches_facet:selected_facets %} badge-highlight{% else %} badge-muted{% endif %} pseudo-topic-tag">
                                <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{tag.name}}</a>
                            </span>
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}

        {% elif result.pseudo_topics|length %}
            <i class="fa fa-fw fa-tag" aria-hidden="true"></i>
            {% hits_first result.pseudo_topics|safe selected_facets as tags %}
            {% for tag in tags %}
                {% with tag.name as tag_name %}
                {% with "sponsorships_exact:"|add:tag_name as tag_facet %}
                    <span class="badge{% if tag|matches_query:request or tag|matches_facet:selected_facets.topics %} badge-highlight{% else %} badge-muted{% endif %} pseudo-topic-tag">
                        <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{ tag_name | committee_topic_only }}</a>
                    </span>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr aria-hidden="true">
