{% load extras %}
{% load lametro_extras %}

<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if headshot_error %}
        <p class="text-primary">*{{headshot_error}}</p>
    {% endif %}
    {{headshot_form.headshot_form}}
    <label class="mb-2" for="{{headshot_form.image.id_for_label}}">Update Headshot:</label>
    <input class="mb-2" type="file" name="headshot" id="{{headshot_form.image.id_for_label}}">
    <button class="btn btn-primary">Submit</button>

</form>
