<div class="row">
    <div class="col-xs-12">
        <h2 class="text-white" style="display: inline-block;">Manage Alerts</h2>
        <button class="btn btn-primary" id="alert-manager-toggle" style="margin-left: 10px; width: 70px;">Show</button>
    </div>

</div>

<div class="row" id="alert-manager">
    <div class="col-md-7">
        <h3 class="text-white">Add New</h3>
        <form role="form" method="POST" enctype="multipart/form-data" id="alert-form">
            {% csrf_token %}
            <p>
                {{alert_form.type.label_tag}} {{alert_form.type}}
            </p>

            <p>
                {{alert_form.description.label_tag}}
                <div class="d-flex" style="background-color: white; flex-direction: column;">
                    <div style="border-bottom: 1px solid rgb(118, 118, 118);">
                        <button id="link" type="button" aria-label="Insert markdown for a link">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </button>
                        <button id="bold" type="button" aria-label="Insert markdown for bold text">
                            <i class="fa fa-bold" aria-hidden="true"></i>
                        </button>
                        <button id="italic" type="button" aria-label="Insert markdown for italic text">
                            <i class="fa fa-italic" aria-hidden="true"></i>
                        </button>
                    </div>

                    {{alert_form.description}}
                </div>

                {% for error in alert_form.description.errors %}
                    <span style="color: #eb6864; display: block;">*{{error|striptags}}</span>
                {% endfor %}
            </p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col-md-5 text-white">
        <h3 class="text-white">View Existing</h3>
        {% if alerts %}
            <table class="table">
                <thead>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th aria-hidden="true" scope="col"></th>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>{{alert.type|title}}</td>
                            <td>{{alert.description}}</td>
                            <td>
                                <form action="{% url 'delete_alert' alert.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Alerts Added</p>
        {% endif %}
    </div>
</div>
<hr class="col-md-12 text-white" aria-hidden="true">
