<div class="row mt-4">
  <div class="col-6 col-md-4">
    {% if event.status == 'cancelled' %}
      <del>
    {% endif %}
        <div class="d-inline-block small">
          <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
          <span class="non-mobile-only">
            {{event.start_time | date:"l"}}
          </span>
          {{event.start_time | date:"m/d"}}
        </div>

        <div class="d-inline-block small">
          <span class="non-mobile-only">
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
          </span>
          {{event.start_time| date:"g:i a"}}
        </div>

        <div class="desktop-only text-muted d-block small">
          {{event.location.name}}
        </div>
    {% if event.status == 'cancelled' %}
      </del>
    {% endif %}
  </div>

  <div class="col-6 col-md-8">
    <p>
      {% if event.status == 'cancelled' %}
        <del>{{ event.link_html | safe }}</del>
        <small><span class="label label-stale text-light rounded">Cancelled</span></small>
      {% else %}
        {{ event.link_html | safe }}
      {% endif %}
    </p>
  </div>
</div>
