{% load lametro_extras %}

<div class="accordion w-100" id="accordionAgenda-{{file_format}}-{{meeting_id}}">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-{{file_format}}-{{meeting_id}}" aria-expanded="false" aria-controls="panels-{{file_format}}-{{meeting_id}}">
        <strong><i class="fa fa-file-text-o me-1" aria-hidden="true"></i>
        Get Agenda {{file_format|upper}}</strong>
      </button>
    </h2>
    <div id="panels-{{file_format}}-{{meeting_id}}" class="accordion-collapse collapse">
    <div class="accordion-body p-0">
      <div class="card">
        <ul id="agenda-{{file_format}}-list-{{meeting_id}}" class="list-group list-group-flush">
          {% if original_pdf_url %}
            <li class="list-group-item"><a href="{{ original_pdf_url }}">Download Agenda (English)</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
