<p>
    The <a href="https://www.metro.net/" target="_blank" aria-label="Los Angeles County Metropolitan Transportation Authority - link opens in a new tab">Los Angeles County Metropolitan Transportation Authority</a>,
    commonly known as Metro, consists of several <a href="{% url 'lametro:council_members' %}">Board Members</a>, who set policy, coordinate, plan, fund, build, and operate transit services and transportation programs throughout Los Angeles County.
</p>

<p>
    The <strong>Metro Board</strong> website tracks all things related to the Metro Board of Directors:
    <ul>
        <li>
            the <a href="{% url 'lametro:search' %}">board reports</a> introduced and passed
        </li>
        <li>
            its various <a href="{% url 'lametro:committees' %}">committees</a> and the <a href="{% url 'events' %}">meetings</a> they hold
        </li>
        <li>
            the <a href="{% url 'lametro:council_members' %}">board members</a> themselves
        </li>
    </ul>
</p>
<p>
    <span class="non-mobile-only">
        <a href="{% url 'lametro:about' %}">Read more about how Metro works &raquo;</a>
    </span>
    <span class="mobile-only">
        <a href="{% url 'lametro:about' %}">More about how Metro works &raquo;</a>
    </span>
</p>
