<script>
    function renderTranslationLinks(linksArr, file_format, meeting_id) {
        if (linksArr.length > 0) {
            const agendaList = document.getElementById(`agenda-${file_format}-list-${meeting_id}`)
            const agendaDisplay = document.getElementById(`agenda-${file_format}s-display-${meeting_id}`)

            const fileLinks = linksArr.map(file => {
                const linkEl = document.createElement("li")
                linkEl.classList.add("list-group-item")
                linkEl.innerHTML = `<a href="${file.url}" target="_blank">${file.link_text}</a>`
                agendaList.appendChild(linkEl)
            })
            agendaDisplay.classList.remove("d-none")
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const document_id = "{{ document_id }}"
        const meeting_id = "{{ meeting.id }}"

        const response = fetch(`/api/translations/${document_id}/`, {
            headers: { "X-CSRFToken": getCookie("csrftoken"), "Content-Type": "application/x-www-form-urlencoded" },
            method: "POST",
            body: new URLSearchParams({ "entity_type": "event" }),
        })
        .then(r => r.json())
        .then(data => {
            const messageEl = document.getElementById(`checking-message-${meeting_id}`)
            if (data.document_pdfs.length == 0 && data.document_rtfs.length == 0) {
                messageEl.innerHTML = `<p><em>No translations found for this agenda.</em></p>`
            } else {
                messageEl.classList.add("d-none")
                renderTranslationLinks(data.document_pdfs, "pdf", meeting_id)
                renderTranslationLinks(data.document_rtfs, "rtf", meeting_id)
            }
        })
    })
</script>
