{% load lametro_extras static %}

<div>
    {% if current_meeting|length > 1 %}
        <div class="col-md-12">
            <p>There are <strong>{{ current_meeting|length }}</strong> meetings in session:</p>

            {% for meeting in current_meeting %}
                <div class="row">
                    <div class="col-6">
                        <h3 class="h4">{{  meeting.link_html | safe }}</h3>
                        <span class="d-block small text-muted">{{ meeting.description }}</span>

                        <p class="small text-muted">
                            <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
                            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ meeting.location.name }}<br>
                        </p>
                    </div>

                    <div class="col-6 text-center">
                        {% if meeting.documents.all %}
                            <p>
                                <a class="btn btn-teal" id="pdf-download-link" href="{{ meeting.documents.all|find_agenda_url }}">
                                    <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                                    Get Agenda PDF
                                </a>
                            </p>
                        {% endif %}

                        {% if meeting.is_ongoing and USING_ECOMMENT %}
                            <p>
                                <a class="btn btn-primary" href="{{ event.ecomment_url }}" target="_blank" aria-label="Go to public comment - link opens in a new tab">
                                    <i class='fa fa-fw fa-external-link' aria-hidden="true"></i>
                                    Go to public comment
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <hr aria-hidden="true">
            {% endfor %}

            <p class="small">These meetings will take place in succession. The broadcast for the second meeting will begin immediately after the first concludes.</p>

            <div class="text-center">
                <p>
                    <a class="btn btn-link" href="{{ current_meeting.first.GENERIC_ENGLISH_MEDIA_URL }}" target="_blank" aria-label="Watch in English - link opens in a new tab">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        Watch in English
                    </a>

                    {% if bilingual %}
                        <a lang="es" class="btn btn-link" href="{{ current_meeting.first.GENERIC_SPANISH_MEDIA_URL }}" target="_blank" aria-label="Ver en Español - enlace se abre en una pestaña nueva">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            Ver en Español
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% else %}

        <!-- Display meeting details and image side by side -->
        <div class="row mt-3">
            <div class="col-lg-6 mb-2 current-meeting-img">
                <img src="{% static 'images/Gateway03RT.jpg' %}" class="img-fluid rounded" title="Los Angeles Gateway Plaza" alt="Los Angeles Gateway Plaza">
            </div>

            <div class="col-lg-6">
                <!-- Meeting name -->
                <h3 class="h4">{{ current_meeting.first.link_html | safe }}</h3>
                <span class="small text-muted">{{ current_meeting.first.description }}</span>

                <!-- Meeting info -->
                <p class="small text-muted">
                    <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ current_meeting.first.start_time | date:"D n/d/Y"}}<br/>
                    <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ current_meeting.first.start_time | date:"g:i a"}}<br/>
                    <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ current_meeting.first.location.name}}<br />
                </p>
            </div>
        </div>

        <!-- Buttons -->
        <div class="row">
            <div class="col-12">
                {% if current_meeting.first.english_live_media_url %}
                    <a class="btn btn-sm btn-primary current-meeting-info" href="{{ current_meeting.first.english_live_media_url }}" target="_blank" aria-label="Watch in English - link opens in a new tab">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        Watch in English
                    </a>

                    {% if bilingual %}
                        <a lang="es" class="btn btn-sm btn-primary current-meeting-info" href="{{ current_meeting.first.spanish_live_media_url }}" target="_blank" aria-label="Ver en Español - enlace se abre en una pestaña nueva">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            Ver en Español
                        </a>
                    {% endif %}
                {% endif %}

                {% if USING_ECOMMENT %}
                    <a class="btn btn-sm btn-primary current-meeting-info" href="{{ current_meeting.first.ecomment_url }}" target="_blank" aria-label="Go to public comment - link opens in a new tab">
                        <i class='fa fa-fw fa-external-link' aria-label='Opens in a new tab.'></i>
                        Go to public comment
                    </a>
                {% endif %}

                {% if current_meeting.first.documents.all %}
                    <a class="btn btn-sm btn-teal current-meeting-info" id="pdf-download-link" target='_blank' href='{{ current_meeting.first.documents.all|find_agenda_url }}' aria-label="Get Agenda PDF - link opens in a new tab">
                        <i class='fa fa-fw fa-download' aria-hidden="true"></i>
                        Get Agenda PDF
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
