{% load lametro_extras static %}

{% if upcoming_board_meetings|length > 1 %}
 <div class="col-md-12">
  <p>There are <strong>{{ upcoming_board_meetings|length }}</strong> upcoming meetings this month:</p>

  {% for meeting in upcoming_board_meetings %}
      <div class="row">
          <div class="col-6">
            <!-- Meeting name -->
            {% if meeting.status == 'cancelled' %}
              <h3 class="d-inline h4"><del>{{  meeting.link_html | safe }}</del></h3>
              <small><span class="label label-stale text-light rounded">Cancelled</span></small>
            {% else %}
              <h3 class="h4">{{  meeting.link_html | safe }}</h3>
            {% endif%}
            <span class="d-block small text-muted">{{ meeting.description }}</span>

            <!-- Meeting info -->
            <p class="small text-muted">
              {% if meeting.status == 'cancelled' %}
                <del>
                  <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
                  <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
                </del>
              {% else %}
                <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
                <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
                <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ meeting.location.name }}<br>
              {% endif %}
            </p>
          </div>

          <div class="col-6 text-center">
            <!-- Supplementary links -->
            {% with agenda_url=meeting.documents.all|find_agenda_url meeting_id=meeting.id %}
            {% if agenda_url %}
              <div class="mt-2" id="checking-message-{{ meeting_id }}">
                <p><em>Checking for translations for this agenda...</em></p>
              </div>

              <div class="mb-1 d-none" id="agenda-pdfs-display-{{ meeting_id }}">
                {% include "index/_get_files_accordion.html" with file_format="pdf" original_pdf_url=meeting.documents.all|find_agenda_url %}
              </div>

              <div class="mb-1 d-none" id="agenda-rtfs-display-{{ meeting_id }}">
                {% include "index/_get_files_accordion.html" with file_format="rtf" %}
              </div>
            {% endif %}
            {% endwith %}
          </div>
      </div>
      <hr aria-hidden="true">
  {% endfor %}
</div>

{% else %}

  {% with meeting=upcoming_board_meetings.0 %}
  <!-- Display meeting details and image side by side -->
  <div class="row">
    <div class="col-lg-6 mb-2 current-meeting-img">
      <img src="{% static 'images/Gateway03RT.jpg' %}" class="img-fluid rounded" title="Los Angeles Gateway Plaza" alt="Los Angeles Gateway Plaza">
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-12">
          <!-- Meeting name -->
          <div>
            {% if meeting.status == 'cancelled' %}
              <h3 class="d-inline h4"><del>{{  meeting.link_html | safe }}</del></h3>
              <small><span class="label label-stale text-light rounded">Cancelled</span></small>
            {% else %}
              <h3 class="h4">{{  meeting.link_html | safe }}</h3>
            {% endif%}
            <span class="small text-muted">{{ meeting.description }}</span>
          </div>

          <!-- Meeting info -->
          <p class="small text-muted">
            {% if meeting.status == 'cancelled' %}
              <del>
                <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
                <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
              </del>
            {% else %}
              <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
              <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
              <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ meeting.location.name }}<br>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <!-- Supplementary links -->
      {% with agenda_url=meeting.documents.all|find_agenda_url meeting_id=meeting.id %}
      {% if agenda_url %}
        <div  class="mt-2" id="checking-message-{{ meeting_id }}">
          <p><em>Checking for translations for this agenda...</em></p>
        </div>

        <div class="row my-2">
          <div class="col-xl-6 mb-2 mb-xl-0 d-none" id="agenda-pdfs-display-{{ meeting_id }}">
            {% include "index/_get_files_accordion.html" with file_format="pdf" original_pdf_url=agenda_url %}
          </div>

          <div class="col-xl-6 mb-2 mb-xl-0 d-none" id="agenda-rtfs-display-{{ meeting_id }}">
            {% include "index/_get_files_accordion.html" with file_format="rtf" %}
          </div>
        </div>
      {% endif %}
      {% endwith %}
    </div>
  </div>
{% endwith %}
{% endif %}

<div class="row">
  <div class="col-12">
    <p class="small pt-1 underline text-muted">
      <strong>No meetings are in session at this time. The links to watch a meeting live, in English or Spanish, will be posted here once the meeting begins.</strong>
    </p>

    <!-- Links to media url and PDF download -->
    {% if not meeting.documents.all %}
    <p class="small">
      <em>Agenda will be posted no later than 72 hours prior to the start of the meeting, or 24 hours for Special Board meetings.</em>
    </p>
    {% endif %}

    {% if not upcoming_board_meetings|all_have_extra:'ecomment' and USING_ECOMMENT %}
      <p class="small">
        <em>{{ upcoming_board_meetings.first.UPCOMING_ECOMMENT_MESSAGE|safe }}</em>
      </p>
    {% endif %}
  </div>
</div>

{% block extra_js %}

{% for meeting in upcoming_board_meetings %}
  {% with document_id=meeting|get_agenda_pk %}
  {% if document_id %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        IndexTranslationUtils.findTranslations("{{ document_id }}", "{{ meeting.id }}")
      })
    </script>
  {% endif %}
  {% endwith %}
{% endfor %}

{% endblock %}
