<div class="row">
  <div class="col-6 col-md-4">
    {% if event.status == 'cancelled' %}
      <del>
    {% endif %}
      <small>
        <div class="d-inline-block">
          <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
          <span class="non-mobile-only">
            {{ event.start_time | date:"D" }}
          </span>
          {{ event.start_time | date:"m/d" }}
        </div>

        <div class="d-inline-block">
          <span class="non-mobile-only">
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
          </span>
          {{ event.start_time| date:"g:ia" }}
        </div>

        <div class="desktop-only text-muted d-block">
          {{event.location.name}}
        </div>
      </small>
    {% if event.status == 'cancelled' %}
      </del>
    {% endif %}
  </div>

  <div class="col-6 col-md-8">
    <p>
      {% if event.status == 'cancelled' %}
        <del>{{ event.link_html | safe }}</del>
        <small><span class="label label-stale text-light rounded">Cancelled</span></small>
      {% else %}
        {{ event.link_html | safe }}

        {% if event.media %}
          {% for media in event.media.all %}
            <p>
              <a class="btn btn-sm btn-primary" href="{{ media.links.all.0.url }}" target="_blank" aria-label="{% if media.note == 'Audio (SAP)' %}Ver en Español - enlace se abre en una pestaña nueva{% else %}Watch in English - link opens in a new tab{% endif %}">
                <i class="fa fa-headphones" aria-hidden="true"></i>
                {% if media.note == 'Audio (SAP)' %}Ver en Español{% else %}Watch in English{% endif %}
              </a>
            </p>
          {% endfor %}
        {% endif %}

      {% endif %}
    </p>
  </div>
</div>
<hr aria-hidden="true">
