<h3>Today's Meetings</h3>

{% for meeting in todays_meetings %}
    {% if meeting.display_status == 'Cancelled' %}
        <h5 class="d-inline mb-2">
            <del>{{  meeting.link_html | safe }}</del>
        </h5>
        <small>
            <span class="label label-stale text-light rounded">Cancelled</span>
        </small>
        <p class="small text-muted">
            <del>
                <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
                <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
            </del>
        </p>
    {% elif meeting.display_status == 'Concluded' %}
        <h5 class="d-inline mb-2">{{  meeting.link_html | safe }}</h5>
        <small>
            <span class="label label-stale text-light rounded">{{ meeting.display_status }}</span>
        </small>
        <p class="small text-muted">
            <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br>
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br>
        </p>
    {% elif meeting.display_status == 'In progress' or meeting.display_status == 'Upcoming' %}
        <h5 class="d-inline mb-2">{{  meeting.link_html | safe }}</h5>
        <small>
            {% if meeting.display_status == 'In progress' %}
            <span class="label label-primary text-light rounded">
            {% elif meeting.display_status == 'Upcoming' %}
            <span class="label label-info text-light rounded">
            {% endif %}
                {{ meeting.display_status }}
            </span>
        </small>

        <p class="small text-muted">
            <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br/>
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ meeting.start_time | date:"g:i a" }}<br/>
            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ meeting.location.name }}<br />
        </p>
    {% endif %}
{% endfor %}
