{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block full_content %}
    <div id="section-photo" class="container-fluid pt-4">
        <div class="row">
            <div class='col-sm-10 offset-sm-1'>
                {% if user.is_authenticated %}
                    {% include "index/_alert_manager.html" %}
                {% endif %}

                    <h1 class="home-header">Los Angeles County Metropolitan Transportation Authority</h1>
                <p class="h3">
                    <span class="text-light">Search Metro Board Reports (2015 – present)</span>
                </p>
                <p>
                  <span class="text-light">
                    Begin typing in the search bar to add a keyword or pick a suggested topic as they appear. Press enter to perform a search for your selected terms.
                    <i id="beta-info" class="fa fa-info-circle fa-fw" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="<strong>Suggested topics are a new feature.</strong> If you aren't seeing helpful suggestions or have any additional feedback or questions, get in touch with us at <a href='mailto:boardreport@metro.net'>boardreport@metro.net</a>."></i>
                  </span>
                </p>
                <div class="site-intro-search">
                    {% include 'common/search_bar.html' %}
                </div>
                <p class="archive-link"><a href="{% url 'lametro:archive-search' %}">Search the Metro Board Archive from 1952-2015 (Board Boxes 1994-Present)</a></p>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="section-intro">
        <div class="row">
            <div class='col-sm-10 offset-sm-1'>

                <div class="row">
                    <div class='col-lg-7'>
                    {% if current_meeting %}
                        <h2>
                            <span class="non-mobile-only"><i class="fa fa-bell" aria-hidden="true"></i></span>
                            Current Meeting
                        </h2>
                        {% include "index/_meeting_details_current.html" %}
                    {% else %}
                        <h2>
                            <span class="non-mobile-only"><i class="fa fa-university" aria-hidden="true"></i></span>
                                Next Board Meeting{% if upcoming_board_meetings|length > 1 %}s{% endif %}
                        </h2>
                        {% include "index/_meeting_details_next.html" %}
                    {% endif %}
                    </div>

                    <div class='col-lg-5'>
                        {% if todays_meetings %}
                            {% include "index/_todays_meetings.html" %}
                        {% else %}
                            {% include "index/_index_metro_description.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="section-events">
        <div class="row">
            <div class="col-sm-10 offset-sm-1" id="upcoming-meetings">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="d-inline-block">
                            <span class="non-mobile-only">
                                <i class="fa fa-fw fa-group" aria-hidden="true"></i>
                            </span>
                            Upcoming Meetings
                        </h2>
                    </div>

                    <div class="col-md-7 d-flex">
                        <div class="ms-md-auto d-inline-block mt-2">
                            <p class="mb-0">
                                Download event calendar:
                                <a href="{% static 'pdf/fy24-committee-board-calendar.pdf' %}" target="_blank" class="btn btn-link">
                                    <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                                    Fiscal Year 2024 (PDF)
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="last-hr mb-3">
                    {% if upcoming_committee_meetings %}
                        {% if upcoming_committee_meetings %}
                            {% for event in upcoming_committee_meetings %}
                                {% include "index/_event_item.html" %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <br>
                        <p><em>No meetings scheduled in the next two months.</em></p>
                    {% endif %}
                </div>
                <a href="/events/" class="btn btn-sm btn-primary">
                    View Upcoming and Past {{ CITY_VOCAB.EVENTS }}
                    <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="d-inline-block">
                            <span class="non-mobile-only">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            </span>
                            Recent Meetings
                        </h2>
                    </div>

                    <div class="col-md-7 d-flex">
                        <div class="ms-md-auto d-inline-block mt-2">
                            <p class="mb-0">
                                Download event calendar:
                                <a href="{% static 'pdf/fy24-committee-board-calendar.pdf' %}" target="_blank" class="btn btn-link">
                                    <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                                    Fiscal Year 2024 (PDF)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="last-hr">
                    {% if most_recent_past_meetings %}
                        {% for event in most_recent_past_meetings %}
                            {% include "index/_past_event_item.html" %}
                        {% endfor %}
                    {% else %}
                        <p><em>No meetings in the past two weeks.</em></p>
                    {% endif %}
                </div>

                <a href="/events/" class="btn btn-sm btn-primary">
                    View Upcoming and Past {{ CITY_VOCAB.EVENTS }}
                    <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>

    <script>

        initAutocomplete('#search-form', '#search-bar');

        function collapseActivity(){
            $(".list-item:gt(4)").hide();
            $("#more-list-items").show();
            $("#fewer-list-items").hide();
        }
        function expandActivity(){
            $(".list-item:gt(4)").show();
            $("#more-list-items").hide();
            $("#fewer-list-items").show();
        }

        collapseActivity();

        $("#more-list-items").click(function() {
            expandActivity();
            return false;
        });
        $("#fewer-list-items").click(function() {
            collapseActivity();
            return false;
        });

        $('#beta-info').tooltip({html: true, trigger: 'focus click', placement: 'right'});

        function toggleAlertManager(){
            $("#alert-manager").toggle();
        }

        toggleAlertManager();

        $("#alert-manager-toggle").click(function() {
            toggleAlertManager();
            if ($(this).text() == "Show"){
                $(this).text("Hide")
            } else {
                $(this).text("Show")
            }
            return false;
        });

        $("#id_type").on('change', function() {
            $(this).removeClass()
            $("#id_description").removeClass()
            if (this.value != "") {
                $(this).addClass("alert-" + this.value)
                $("#id_description").addClass("alert-" + this.value)
            }
        });


        $("#link, #bold, #italic").on('click', function(){
            input = document.getElementById("id_description")

            switch(this.id) {
                case "link":
                    input.value += ("[this is a link!](https://url.com) ")
                    break;
                case "bold":
                    input.value += ("**this is bolded text!** ")
                    break;
                case "italic":
                    input.value += ("*this is italicized text!* ")
                    break;
            }
        })

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

    </script>
{% endblock %}
