{% load lametro_extras %}

<div class="accordion w-100" id="accordionAgendaPDFs-{{ forloop.counter }}">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsPDFs-{{ forloop.counter }}" aria-expanded="false" aria-controls="panelsPDFs-{{ forloop.counter }}">
        <strong><i class="fa fa-file-text-o me-1" aria-hidden="true"></i>
        Get Agenda PDF</strong>
      </button>
    </h2>
    <div id="panelsPDFs-{{ forloop.counter }}" class="accordion-collapse collapse">
    <div class="accordion-body p-0">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{{ agenda_url }}">Download Agenda (English)</a></li>
          {% for pdf in agenda_pdfs|keyvalue:meeting_id %}
            <li class="list-group-item"><a href="{{pdf.url}}" target="_blank">{{pdf.link_text}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
