{% load lametro_extras %}

<div class="accordion w-100" id="accordionAgendaRTFs-{{ forloop.counter }}">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsRTFs-{{ forloop.counter }}" aria-expanded="false" aria-controls="panelsRTFs-{{ forloop.counter }}">
        <strong><i class="fa fa-file-text-o me-1" aria-hidden="true"></i>
        Get Agenda RTF</strong>
      </button>
    </h2>
    <div id="panelsRTFs-{{ forloop.counter }}" class="accordion-collapse collapse">
    <div class="accordion-body p-0">
      <div class="card">
        <ul class="list-group list-group-flush">
          {% for rtf in agenda_rtfs|keyvalue:meeting_id %}
            <li class="list-group-item"><a href="{{rtf.url}}" target="_blank">{{rtf.link_text}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
