{% extends "base.html" %}
{% load adv_cache %}
{% block title %}Archive Search{% endblock %}

{% block full_content %}
<div class="container-fluid mt-5">
  <div class="row">

    <div class="col-md-9">
      <div>
        <h1 class="d-inline">Archive Search</h1>
        <span class="h5 text-muted fw-normal">Metro’s Board Records from 1993-2015</span>
      </div>
      <gcse:search></gcse:search>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body info-blurb">
          <h5><i class="fa fa-fw fa-info-circle text-dark" aria-hidden="true"></i> What's this?</h5>

          <p>Search the LACMTA Board of Directors records from 1993 to 2015. Also includes Meeting Minutes for Metro predecessor public agencies: Los Angeles Metropolitan Transit Authority (LAMTA 1951-1964, incomplete), Southern California Rapid Transit District (SCRTD 1964-1993), Los Angeles County Transportation Commission (LACTC 1977-1993) and Rail Construction Corporation (RCC 1989-1993).</p>

          <p>Subcategories to refine your search will appear after a search is initiated.</p>

          <p>Looking for Board records from 2015 to present? <a href="{% url 'lametro:search' %}">Search current records &raquo;</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  (function() {
    var cx = '007602828488985387677:mhzmxh6ty20';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
