{% load staticfiles %}
{% load adv_cache %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - {{SITE_META.site_name}}</title>

    {% include 'partials/seo.html' %}
    {% include 'partials/icons.html' %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.journal.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/city_custom.css' %}" />

    {% block extra_css %}{% endblock %}

</head>
<body>

    <!--[if lt IE 11]>
        <div class="alert alert-danger">
            <strong>This version of Internet Explorer may limit the functionality of this website.</strong> We recommend that you <a href="https://browsehappy.com/?locale=en">upgrade your browser. &raquo;</a>
        </div>
    <![endif]-->

    {% cache 600 nav_wrapper 'nav' %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container-fluid-nav">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="/">
                <img id="logo" src="{% static IMAGES.logo %}"></img>
                <span id="logo-text">Metro Board</span>
              </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'lametro:about' %}">About</a>
                    </li>
                    <li>
                        <a href='{% url 'lametro:council_members' %}'>Board of Directors</a>
                    </li>
                    <li>
                        <a href='{% url 'committees' %}'>Committees</a>
                    </li>
                    <li>
                        <a href='{% url 'events' %}'>{{ CITY_VOCAB.EVENTS }} &amp; Agendas</a>
                    </li>
                    <li>
                        <a href="{% url 'lametro:search' %}">Board Reports</a>
                    </li>
                    <li>
                        <a href="{% url 'lametro:archive-search' %}">Archive Search</a>
                    </li>
                    {% nocache %}
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'metro_logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                        {% else %}
                            <div id="google_translate_element"></div>
                        {% endif %}
                    </li>
                    {% endnocache %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    {% endcache %}

    {% block full_content %}
    {% endblock %}
    <script src="https://use.typekit.net/foe4jis.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-90842833-1'},
                'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    {% block extra_js %}{% endblock %}

    <script type="text/javascript">
        $('label.btn.btn-search-option').click(function toggleRadio(e) {
            // Toggle "active" appearance first, so filtering on active works.
            // .button docs: https://getbootstrap.com/docs/3.3/javascript/#buttons
            $(this).button('toggle');

            var selected_input = $(this).children('input')[0];
            $(selected_input).attr('checked', true);

            var unselected_input = $('label.btn').not('.active')
                                                 .children('input')[0];
            $(unselected_input).removeAttr('checked');
        });
    </script>

    <script>
        var analyticsTrackingCode = '{{ANALYTICS_TRACKING_CODE}}';
    </script>
    <script src="{% static 'js/analytics_lib.js' %}"></script>

</body>
</html>
