{% load adv_cache extras lametro_extras markdownify static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - {{SITE_META.site_name}}</title>

    {% include '_icons.html' %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootswatch.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.min.css' %}" />

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/city_custom.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="wrapper">

        <!--[if lt IE 11]>
            <div class="alert alert-danger">
                <strong>This version of Internet Explorer may limit the functionality of this website.</strong> We recommend that you <a href="https://browsehappy.com/?locale=en">upgrade your browser. &raquo;</a>
            </div>
        <![endif]-->
        <button type="button" class="btn btn-link skip-main">
            Skip to main content
        </button>

        {% cache 600 nav_wrapper 'nav' %}
        <nav class="navbar fixed-top navbar-default navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="/">
                    <img alt="" id="logo" src="{% static IMAGES.logo %}">
                    <span id="logo-text">Metro Board</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto justify-content-end">
                        <li class="nav-item dropdown me-2 pt-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About
                            </a>
                            <ul class="dropdown-menu shadow rounded-bottom">
                                <li><a class="dropdown-item dropdown-size" href="{% url 'lametro:council_members' %}">Board of Directors</a></li>
                                <li><a class="dropdown-item dropdown-size" href="{% url 'committees' %}">Committees</a></li>
                                <li><a class="dropdown-item dropdown-size" href="{% url 'lametro:contact' %}">Contact Us</a></li>
                                <li><a class="dropdown-item dropdown-size" href="{% url 'lametro:about' %}">About Us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown me-2 pt-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Search
                            </a>
                            <ul class="dropdown-menu shadow rounded-bottom">
                                <li><a class="dropdown-item dropdown-size" href="{% url 'lametro:search' %}">Board Reports</a></li>
                                <li><a class="dropdown-item dropdown-size" href="https://mtasearch01.metro.net:23352/apps/boardarchives/">Archive Search</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown me-2 pt-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Meetings
                            </a>
                            <ul class="dropdown-menu shadow rounded-bottom">
                                <li><a class="dropdown-item dropdown-size" href="{% url 'events' %}">{{ CITY_VOCAB.EVENTS }} &amp; Agendas</a></li>
                                <li><a class="dropdown-item dropdown-size" href="{% url 'lametro:minutes' %}">Minutes</a></li>
                            </ul>
                        </li>
                        {% nocache %}
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown me-2 pt-3">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu shadow rounded-bottom">
                                        <li>
                                            <a class="dropdown-item dropdown-size" href="{% url 'alerts' %}">Alerts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item pt-3">
                                    <a class="nav-link" href="{% url 'metro_logout' %}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                    </a>
                                </li>
                            {% else %}
                                <li><div id="google_translate_element"></div></li>
                            {% endif %}
                        {% endnocache %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        {% endcache %}

        {% get_alerts as alerts %}
        {% if alerts %}
            {% for alert in alerts|dictsort:"pk" %}
                <div class="alert alert-{{alert.type}}" style="margin-bottom: 0px;">
                    {{alert.description|markdownify}}
                </div>
            {% endfor %}
        {% endif %}

        {% include '_messages.html' %}

        <main id="main" tabindex="-1">
            {% block full_content %}
            {% endblock %}
        </main>

        <footer class="d-md-flex flex-wrap justify-content-md-between align-items-center border-top" id="footer">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <a class="navbar-brand me-md-auto" href="/">
                    <img alt="" id="logo-footer" src="{% static IMAGES.logo %}">
                    <span id="logo-text-footer">Metro Board</span>
                </a>
            </div>
            <ul class="nav col-md-6 justify-content-around justify-content-md-end list-unstyled">
                <li class="ms-3"><a href="{% url 'lametro:contact' %}">Contact Us</a></li>
                <li class="ms-3"><a href="{% url 'lametro:about' %}">About Us</a></li>
                <li class="ms-3"><a href="{% url 'metro_login' %}">Metro Login</a></li>
            </ul>
        </footer>
    </div>

    <script src="https://use.typekit.net/foe4jis.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="{% static 'js/lib/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/lib/urlPolyfill.js' %}"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-90842833-1'},
                'google_translate_element');
        }

		// Make sure the Google Translate toolbar doesn't block the navbar
		const navBar = document.querySelector("nav"),
		  languageSelector = document.querySelector("#google_translate_element")

        if (languageSelector) {
            languageSelector.addEventListener("change", (e) => {
                // Make room for the translate bar
                navBar.style.top = "40px";

                const translateBar = document.querySelector(".skiptranslate iframe"),
                translateBarDoc = translateBar.contentWindow.document,
                translateBarClose = translateBarDoc.querySelector("a[title='Close']")

                // Move navbar back up when translate bar is closed
                translateBarClose.addEventListener("click", (e) => navBar.style.top = "0px")
            })
        }

        function listenForSearch() {
            $('form#search-form').submit(function validateFormSubmission(e) {
                e.preventDefault();

                grecaptcha.execute(
                    '{{ recaptcha_public_key }}', {action: 'form'}
                ).then(function(token) {
                    console.log("reCAPTCHA validated. Setting input value...")
                    var element = document.querySelector('.g-recaptcha[data-widget-uuid]');
                    element.value = token || '-';

                    // Defined in autocomplete.js
                    window.handleSubmit(e);
                });
            });

            // Add link click event listener to document so it is attached to
            // existing links, as well as links that are dynamically added to
            // to DOM, e.g., related topic links.
            $(document).on('click', 'a', function validateLinkClick(e) {
                var $target = $(e.target);

                // The remove filter target is an <i> element - grab the parent
                // <a> element.
                if (!$target.attr('href')) {
                    $target = $target.parent();
                }

		        const isSearchFilter = $target.hasClass('filter-value') || $target.hasClass('remove-filter-value') || $target.hasClass('remove-order-value')
                if (isSearchFilter) {
                    // Search filters have an href of "#". There is logic below
                    // to construct the correct URL. Start with the current URL
                    // as a basis for this construction.
                    var targetUrl = new URL(window.location.href);
                } else {
                    var targetUrl = new URL(window.location.origin + $target.attr('href'));
				}

                var isSearch = ['/search', '/search/'].indexOf(targetUrl.pathname) >= 0;

                if (isSearch) {
                    e.preventDefault();

                    grecaptcha.execute(
                        '{{ recaptcha_public_key }}', {action: 'form'}
                    ).then(function(token) {
                        console.log("reCAPTCHA validated. Appending token to querystring...");

                        var token = token || '-';

                        // Remove the original reCAPTCHA value.
                        targetUrl.searchParams.delete('captcha');

                        // Add the new reCAPTCHA value.
                        targetUrl.searchParams.append('captcha', token);

                        // If there is an updateQueryParameters method on the
                        // window, e.g., on the search page, apply it to the
                        // URL object.
                        targetUrl = window.updateQueryParameters
                            ? window.updateQueryParameters($target, targetUrl)
                            : targetUrl;

                        window.location = targetUrl.toString();
                    })
                }
            });
        };

        window.listenForSearch = listenForSearch;

        $('.skip-main').click(() => {
            document.getElementById('main').focus({preventScroll:true})
        })
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_public_key }}&onload=listenForSearch"></script>

    {% block extra_js %}{% endblock %}

    {% comment %}
        This block is included for reference by our template overrides, e.g.,
        search/search.html. Extending the extra_js block and calling super()
        duplicates the extended content. I'm not quite sure why the duplication
        occurs, but this seems to fix the problem.
    {% endcomment %}

    {% block uninherited_js %}{% endblock %}

    <script type="text/javascript">
        $('label.btn.btn-search-option').click(function toggleRadio(e) {
            // Toggle "active" appearance first, so filtering on active works.
            $('label.btn.btn-search-option.active').removeClass('active');
            $(this).addClass('active');

            var selected_input = $(this).children('input')[0];
            $(selected_input).attr('checked', true);

            var unselected_input = $('label.btn').not('.active').children('input')[0];
            $(unselected_input).attr('checked', false);
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9E47Y9QH06"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9E47Y9QH06'); </script>

</body>
</html>
