{% extends "base_with_margins.html" %}

{% load extras static %}

{% block title %}{{CITY_COUNCIL_NAME}} Committees{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h1>Metro Committees</h1>
        <hr aria-hidden="true">
    </div>
</div>

<div class="row">
    <div class="col-md-8 mb-4">
        <table class="table" id="committees">
            <thead>
                <tr>
                    <th scope="col">Committee</th>
                    <th scope="col">Chairperson(s)</th>
                    <th scope="col">Members</th>
                </tr>
            </thead>
            <tbody>
                {% for committee in committees %}
                    <tr>
                        <td>
                            <a href="{% url 'lametro:committee' committee.slug %}">{{ committee.name | committee_topic_only }}</a>
                        </td>
                        <td>
                            {% for membership in committee.chairs %}
                                {{ membership.person.name }}
                            {% endfor %}
                        </td>
                        <td>{{ committee.current_members | length }}</td>
                    </tr>
                {% endfor %}

                {% for committee in ad_hoc_list %}
                    <tr>
                        <td>
                            <a href="{% url 'lametro:committee' committee.slug %}">{{ committee.name | committee_topic_only }}</a>
                        </td>
                        <td>
                            {% for person in committee %}
                                {% if person.role == 'Chair' %}
                                    {{ person.9 }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ committee | length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <div class="card-body info-blurb pt-3">
            <h2 class="d-inline h5">
                <i class="fa fa-fw fa-info-circle text-dark" aria-hidden="true"></i>
                What do committees do?
            </h2>

            {{ ABOUT_BLURBS.COMMITTEES | safe }}

            <p>
                The Metro Board of Directors is currently composed of <strong>{{ committees | length }} Committees</strong>.
                Committees set policy and discuss matters related to the transit system in Los Angeles County.
            </p>

            <p>
                In addition to these committees, other entities are created by state statute, or by the Board for gathering public input in support of
                various public purposes beyond routine monthly business. For example, the Service Authority for Freeway Emergencies (SAFE) which oversees:
            </p>

            <ol type="a">
                <li>the freeway callboxes and freeway service patrol tow truck services</li>
                <li>the Congestional Management Program (CMP) required by the State</li>
                <li>the Independent Citizens Advisory and Oversight Committee created by Measure R</li>
                <li>the Public Transportation Services Corporation (PTSC) created by the Board to facilitate the 1993 merger of the transportation commission and transit district</li>
                <li>the Advanced Transit Vehicle Consortium (ATVC)</li>
                <li>the Citizens Advisory Council (CAC) created by the State for public input on Metro's work</li>
                <li>the Technical Advisory Committee created by the State and its subcommittees</li>
                <li>the Bus Operations Subcommittee</li>
                <li>the Transit Demand Management/Air Quality Subcommittee</li>
                <li>the Streets and Freeways Subcommittee for input from our municipal operator partners and other Los Angeles County transportation program providers</li>
                <li>Metro's Service Councils for public input into proposes transit service changes, and others.</li>
            </ol>

            <p>
                <strong>Ad-hoc Committees</strong> are created at the Board Chair's discretion to review and discuss
                high priority public policy matters. They may be continued, suspended, or revived by any future Board Chair.
            </p>

            <p>
                In addition to the Board of Directors, Metro also has appointed Advisory Committees.
                <a href="https://www.metro.net/calendar/category/committees-subcommittees/" target="_blank" aria-label="Learn more about Advisory Committees here - link opens in a new tab">
                    Learn more about "Advisory Committees" here.
                </a>
            </p>

            <p><a href="/about/#about-la-metro">More on how Metro works &raquo;</a></p>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/lib/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/lib/dataTables.bootstrap.js' %}"></script>

    <script>
        $("#committees").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [0,'desc'] ],
            "aoColumns": [
                null,
                null,
                null
            ]
        });
        $("#subcommittees").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [0,'asc'] ],
            "aoColumns": [
                null,
                null,
                null
            ]
        });
        $("#taskforces").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [0,'asc'] ],
            "aoColumns": [
                null,
                null,
                null
            ]
        });
    </script>
{% endblock %}
