{% extends "base_with_margins.html" %}

{% load extras lametro_extras static %}

{% block title %}{{committee.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{committee.name}}</h1>
        {% if committee_description %}
            <p>{{committee_description}}</p>
        {% endif %}
    </div>
</div>

<div class="row my-3" aria-hidden="true">
    <div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if committee.recent_events %}
            <div class="mb-4">
                <h4 class="d-inline">
                    <i class='fa fa-fw fa-calendar-o' aria-hidden="true"></i>
                    Committee {{ CITY_VOCAB.EVENTS }}
                </h4>
                <small class="rss">
                    <a href="events/rss/" title="RSS feed for Committe Events by {{committee.name}}" aria-label="RSS feed for Committe Events by {{committee.name}}">
                        <i class="fa fa-rss-square" aria-hidden="true"></i>
                    </a>
                </small>
            </div>

            {% for event in committee.recent_events %}
                <p class="event-listing my-2">
                    {% if event.status == 'cancelled' %}
                        <del>
                            <a href="{{event.event_page_url | safe}}" title="View Event Details">{{event.start_time | date:'n/d/Y' }} - {{event.name}}</a>
                        </del>
                        <span class="label label-stale">Cancelled</span>
                    {% else %}
                        <a href="{{event.event_page_url | safe}}" title="View Event Details">{{event.start_time | date:'n/d/Y' }} - {{event.name}}</a>
                    {% endif %}
                </p>
            {% endfor %}
            <a href="#" id="more-events"><i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> Show more {{ CITY_VOCAB.EVENTS|lower }}</a>
            <a href="#" id="fewer-events"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Show fewer {{ CITY_VOCAB.EVENTS|lower }}</a>
        {% endif %}
    </div>
</div>

<div class="row my-3" aria-hidden="true">
    <div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h4><i class='fa fa-fw fa-group' aria-hidden="true"></i> Committee Members</h4>

        <table class="table" id="council-members">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Member</th>
                    <th scope="col">Title</th>
                    <th class="no-wrap" scope="col">
                        <span class="d-none d-sm-inline">Committee </span>Role
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for membership in non_ceos %}
                <tr>
                    <td data-order="{{ membership.index }}">
                        <div class="thumbnail-square">
                            <img src="{{ membership.person.headshot_url }}" alt="{{membership.person.name}}" title="{{membership.person.name}}" class="img-responsive img-thumbnail">
                        </div>
                    </td>
                    <td>
                        {% if membership.person.latest_council_membership %}
                            <a href="{% url 'lametro:person' membership.person.slug %}">{{ membership.person.name }}</a>
                        {% else %}
                            {{ membership.person.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ membership.extras | clean_membership_extras }} {{ membership.person.latest_council_membership.post.label | format_label }}
                    </td>
                    <td>
                        {{ membership.role }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if ceo %}
        <h4 class="mt-5"><i class="fa fa-user" aria-hidden="true"></i> Chief Executive Officer</h4>
        <table class="table" id="ceo-table">
            <tbody>
                <tr>
                    <td width="12%">
                        <div class="thumbnail-square">
                            <img src="{{ ceo.headshot_url }}" alt="{{ceo.name}}" title="{{ceo.name}}" class="img-responsive img-thumbnail">
                        </div>
                    </td>
                    <td width="22%"><a href="{% url 'lametro:person' ceo.slug %}">{{ ceo.name }}</a></td>
                    <td>Chief Executive Officer</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/lib/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/lib/dataTables.bootstrap.js' %}"></script>

    <script>
        $("#council-members").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" },
                null
            ],
            "order": []
        });

        $('.thumbnail-square img').each(function() {
            if ($(this).width() > $(this).height()) {
                $(this).addClass('landscape');
            }
        });

        function collapseEvents(){
            $(".event-listing:gt(4)").hide();
            $("#more-events").show();
            $("#fewer-events").hide();
        }
        function expandEvents(){
            $(".event-listing:gt(4)").show();
            $("#more-events").hide();
            $("#fewer-events").show();
        }

        collapseEvents();

        $("#more-events").click(function() {
            expandEvents();
            return false;
        });
        $("#fewer-events").click(function() {
            collapseEvents();
            return false;
        });

    </script>
{% endblock %}
