{% extends "base_with_margins.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}
  <section class="row">

    <div class="col-md-9">
      <h1>Contact Us</h1>
    </div>

    <div class="col-md-9">
      <p>
        For questions about or comments for the Metro Board, please contact
        <a href="mailto:boardclerk@metro.net">boardclerk@metro.net</a>.
        Written public comment can be mailed to:
      </p>

      <address>
        Board Administration<br aria-hidden="true"/>
        1 Gateway Plaza, Mail Stop 99-3-1<br aria-hidden="true"/>
        Los Angeles, CA 90012
      </address>

      <p>If you are commenting on a specific item, please include the item number and your position on it - for, against, general comment, or item needs more consideration - in your message. Written public comment (via mail or email) must be received by 5pm the evening prior to the meeting where the item will be considered.</p>
      <p>To provide live public comment during a meeting, please see page 4 of the agenda where item appears for instructions on how to call into the meeting.</p>
      <p>For questions about this website or Board records, please email <a href="mailto:boardreport@metro.net">boardreport@metro.net</a>.</p>
    </div>

  </section>
{% endblock %}

{% block extra_js %}
<script>
  (function() {
    var cx = '007602828488985387677:mhzmxh6ty20';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
