{% extends "base_with_margins.html" %}

{% load extras lametro_extras static %}

{% block title %}{{ legislation.friendly_name }}{% endblock %}

{% block content %}

{% if legislation %}
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="bill-page-title">
                {% if legislation.extras.plain_text|prepare_title %}
                    {{ legislation.identifier}} - {{ legislation.extras.plain_text|prepare_title }}
                {% else %}
                    {{ legislation.identifier}}
                {% endif %}
            </h1>

            <h2 class="h1 my-3">
                <span class="label label-info me-2">
                    {{ legislation.bill_type }}
                </span>

                {% if legislation.inferred_status %}
                    {{ legislation.inferred_status | inferred_status_label | safe }}
                {% endif %}
            </h2>

            <p>
                <a href="{{ legislation.bill_type | get_bill_type_link }}" title="Learn more about this type of Board Report" target="_blank">
                    <i class="fa fa-fw fa-external-link" aria-label="Opens in a new tab."></i> Learn more about this type of Board Report
                </a>
            </p>
            <p>
                <a href="{{legislation.web_source.url}}" title="View on the {{CITY_VOCAB.SOURCE}} website" target="_blank">
                    <i class="fa fa-fw fa-external-link" aria-label="Opens in a new tab."></i> View on the {{CITY_VOCAB.SOURCE}} website
                </a>
            </p>
        </div>

        <div class="col-md-8" aria-hidden="true">
            <hr aria-hidden="true">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% if legislation.board_report %}
                {% with board_report=legislation.board_report %}
                <h3>
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                    Report text
                </h3>

                <p>
                    To access embedded hyperlinks, please download the report PDF by clicking "Download Board Report".
                </p>

                <p>
                    <a id="pdf-download-link" target='_blank' href='{{board_report.url}}' class="fw-bold fs-6">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i> Download Board Report
                    </a>
                </p>

                {% if legislation.packet.is_ready and attachments%}
                    <p>
                        <a href="{{legislation.packet.url}}" class="fw-bold fs-6"><i class="fa fa-files-o" aria-hidden="true"></i> Download Board Report and Attachments</a>
                    </p>
                {% endif %}

                <iframe
                    id="pdf-embed-agenda"
                    class="pdf-viewer d-none d-sm-block"
                    frameborder="0"
                    seamless="true"
                    width="100%"
                    height="600px"
                    src="/pdfviewer/?{{board_report.url|full_text_doc_url}}">
                </iframe>
                {% endwith %}
            {% elif legislation.extras.plain_text != "" %}
                <h3>
                    <i class='fa fa-fw fa-file-text-o' aria-hidden="true"></i>
                    Report text
                </h3>

                <div class="card">
                    <div class="card-body bg-white">
                        {{ legislation.extras.plain_text|prepare_title}}
                    </div>
                </div>
            {% endif %}

            <div class="divider" aria-hidden="true"></div>

            {% if actions %}
                <h3 class="no-pad-bottom">
                    <i class='fa fa-fw fa-list-ul' aria-hidden="true"></i>
                    History
                </h3>

                <div class="table-responsive">
                    <table class="table" id="committee-actions">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Meeting</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for action in actions %}
                                <tr>
                                    <td class="nowrap text-muted small">
                                        <span datetime='{{action.date}}'>{{action.date|date:'n/d/y'}}</span>
                                    </td>
                                    <td class="small">
                                        <span class="text-default">{{action.description}}</span>
                                    </td>
                                    <td class="small">
                                        {% if action.event.status == 'cancelled' %}<del>{% endif %}
                                            {{ action.event.link_html|safe }}
                                        {% if action.event.status == 'cancelled' %}
                                            </del>
                                            <small><span class="label label-stale ms-1"> {{ action.event.status }}</span></small>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="divider" aria-hidden="true"></div>
            {% endif %}
        </div>

        <!-- New col added, here. -->
        <div class="col-md-4">
            {% if attachments %}
                <h3>
                    <i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>
                    Attachments ({{ attachments | length }})
                </h3>

                <ul>
                    {% for doc in attachments %}
                        <li>
                            <a href="{{doc.links.all.0.url}}" target="blank">{{ doc.note }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="divider mb-5" aria-hidden="true"></div>
            {% endif %}

            {% if related_bills %}
                <h3 class="no-pad-bottom">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    Related Board Reports
                </h3>

                <div class="table-responsive">
                    <table class="table" id="related-bills">
                        <thead>
                            <tr>
                                <th>Board Report</th>
                                <th class="no-wrap">Last action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for relation in related_bills %}
                                {% with bill=relation.related_bill %}
                                <tr>
                                    <td class="text-muted small">
                                        <a href="{% url 'lametro:bill_detail' bill.slug %}">{{ bill.identifier}}</a>

                                        {% if bill.extras.plain_text|prepare_title %}
                                            - {{ bill.extras.plain_text|prepare_title }}
                                        {% endif %}

                                        {{bill.inferred_status | inferred_status_label | safe}}
                                    </td>

                                    <td class="text-muted small text-end">{{ bill.last_action_date|date:'n/d/Y' }}</td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="divider mb-5" aria-hidden="true"></div>
            {% endif %}

            {% if legislation.topics %}
                <h3><i class="fa fa-tag" aria-hidden="true"></i> Topics</h3>
                    {% with legislation.rich_topics|group_by_classification as topics_list %}
                    {% for category, topics in topics_list %}
                        <h4>{{ category }}</h4>
                        <ul>
                            {% for topic in topics|sort_topics %}
                            {% with topic.classification|add:":"|add:topic.name as tag_facet %}
                                <li>
                                    <a href="{% search_with_querystring request selected_facets=tag_facet %}">
                                        {{ topic.name }}
                                    </a>
                                </li>
                            {% endwith %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    {% endwith %}
            {% endif %}
        </div>
    </div>

    {% if DISQUS_SHORTNAME %}
        <div class="row">
            <div class="col-12">
                <h3>Comments</h3>

                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
                    /*
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//{{ DISQUS_SHORTNAME }}.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    {% endif %}
{% else %}
    <h3>Legislation not found</h3>
{% endif %}

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "CreativeWork",
    "sourceOrganization": "{{ CITY_COUNCIL_NAME }}",
    "name": "{{ legislation.friendly_name }}",
    "alternateName": ["{{ legislation.identifier }}", "{{ legislation.identifier.split|join:'' }}"],
    {% if actions %}"datePublished": "{{actions.0.date|date:'Y-m-d'}}", {% endif %}
    "description": "{{ legislation.description }}",
    "text": "{% firstof legislation.full_text legislation.extras.plain_text %}"
    }
    </script>


{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/lib/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/lib/dataTables.bootstrap.js' %}"></script>

    <script>

        $("#committee-actions,#related-bills").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "bSort" : false
        });

        $("#council-members").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "order": [[ 1, "desc" ]]
        });

        $('.thumbnail-square img').each(function() {
            if ($(this).width() > $(this).height()) {
                $(this).addClass('landscape');
            }
        });

        if (window.screen.width > 768){
            $("#pdf-embed").attr("src", "/pdfviewer/?{{legislation.url|full_text_doc_url}}");
        }
        else{
            $('#pdf-embed').hide()
            $('#pdf-download-link').html("<i class='fa fa-fw fa-external-link' aria-label='Opens in a new tab.'></i> View PDF")
        }

        {% for source in legislation.sources.all %}
            console.log('source: {{source}}');
        {% endfor %}
    </script>
{% endblock %}
