<div class="row">
  {% if not forloop.first %}
  <div class="col-12">
    <hr class="events-line" aria-hidden="true">
  </div>
  {% endif %}

  <div class="col-4">
    <span class="text-muted">
      {{ e.meeting }}
    </span>
  </div>

  <div class="col-4">
    {% for link in e.agenda_link %}
      <a href="{{ link | safe }}">Agenda {% if not forloop.first %}{{ forloop.counter }}{% endif %}</a>
    {% endfor %}
  </div>

  <div class="col-4">
    {% for link in e.minutes_link %}
      <a href="{{ link | safe }}">Minutes {% if not forloop.first %}{{ forloop.counter }}{% endif %}</a>
    {% endfor %}
  </div>
</div>
