<section class="row">
  {% if not forloop.first %}
  <div class="col-12">
    <hr class="events-line" aria-hidden="true">
  </div>
  {% endif %}

  <div class="col-4">
    <span class="text-muted">
      {% if e.status == "cancelled" %}
      <del>
        {{ e.meeting }}
      </del>
      {% else %}
      {{ e.meeting }}
      {% endif %}

    </span>
  </div>

  <div class="col-4">
    {% if e.status == "cancelled" %}
    <small class="label label-stale">Cancelled</small>
    {% endif %}

    {% for link in e.agenda_link %}
      <a href="{{ link | safe }}">Agenda {% if not forloop.first %}{{ forloop.counter }}{% endif %}</a>
    {% endfor %}
  </div>

  <div class="col-4">
    {% for link in e.minutes_link %}
      <a href="{{ link | safe }}">Minutes {% if not forloop.first %}{{ forloop.counter }}{% endif %}</a>
    {% endfor %}
  </div>
</section>
