{% extends "base_with_margins.html" %}
{% load static %}
{% block title %}Minutes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block content %}
<div class="row mb-5" id="minutes-form">
  <h2>Select a date range</h2>
  <div class="col-md-8">
      <form action='/minutes' method='GET'>
          <div class="input-group" id='date-search'>
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <input type="text" id="minutes-from" name="minutes-from" class="form-control date-filter" placeholder="From..." value='{{ start_date }}' autocomplete="off">
              <input type="text" id="minutes-to" name="minutes-to" class="form-control date-filter" placeholder="To..." value='{{ end_date }}' autocomplete="off">
              <button class="btn btn-secondary btn-date" id="minutes-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class='d-none d-sm-inline'>Search</span></button>
          </div>
      </form>
  </div>
  <div class="col-md-4 my-2 my-md-0">
      <a href="{% url 'lametro:minutes' %}" class="btn btn-teal d-inline-block">
          <i class="fa fa-repeat" aria-hidden="true"></i>
          Reset
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div id="minutes-list">
      <h2 class="mb-3">Minutes</h2>
      {% if all_minutes %}
        {% for date, minutes_list in all_minutes %}
          <div class="minutes-listing mb-5">
            <h5 class="text-default mb-0">
              <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> {{ date | date:"D m/d/Y"}}
            </h5>
            <div class="divider" aria-hidden="true"></div>
            {% for e in minutes_list %}
              {% include 'minutes/_minutes_item.html' %}
            {% endfor %}
          </div>
        {% endfor %}
        <a href="" class="btn btn-primary" id="more-minutes"><i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> Show all minutes</a>
        <a href="" class="btn btn-primary" id="fewer-minutes"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Show fewer minutes</a>
      {% else %}
        <div class="row my-4">
          <h5>No minutes have been found.</h5>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery-1.10.1.min.js' %}"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script type="{% static 'js/lib/moment.js' %}"></script>
  <script type="{% static 'js/lib/bootstrap-datetimepicker.js' %}"></script>
  <script>
    $(document).ready(function() {

      $('#minutes-from').datepicker();
      $('#minutes-to').datepicker();

      function collapseMinutes(e){
        $(".minutes-listing:gt(10)").hide();
        $("#more-minutes").show();
        $("#fewer-minutes").hide();
      }
      function expandMinutes(e){
        $(".minutes-listing:gt(10)").show();
        $("#more-minutes").hide();
        $("#fewer-minutes").show();
      }

      collapseMinutes();

      $("#more-minutes").click(function() {
          expandMinutes();
          return false
      });

      $("#fewer-minutes").click(function() {
          collapseMinutes();
          return false
      });
    });
  </script>
{% endblock %}
