<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Displayed Status</th>
            <th class="desktop-only">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for status, obj in BILL_STATUS_DESCRIPTIONS.items %}
            <tr>
                <td>
                    <p class="nowrap desktop-only">
                        <a href="/search/?selected_facets=inferred_status_exact%3A{{obj.search_term}}">{{status | title}}</a>
                    </p>
                    <p class="d-block d-md-none">
                        <a href="/search/?selected_facets=inferred_status_exact%3A{{obj.search_term}}">{{status | title}}</a>
                    </p>
                    <p class="d-block d-md-none">
                        {{obj.definition}}
                    </p>
                </td>

                <td>
                    <p>
                        {% if obj.search_term %}
                        <a href="/search/?selected_facets=inferred_status_exact%3A{{obj.search_term}}">{{obj.search_term}}</a>
                        {% else %}
                        <p>N/A</p>
                        {% endif %}
                    </p>
                </td>

                <td class="desktop-only">
                    <p>
                        {{obj.definition}}
                    </p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
