{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{CITY_COUNCIL_NAME}} Members{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toggle.min.css' %}" />
    {% if map_geojson %}
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    {% endif %}
{% endblock %}


{% block full_content %}
<div class="container-fluid">
    {% if map_geojson %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="map-heading">
                {{ CITY_VOCAB.COUNCIL_MEMBERS }}

                <h2 class="map-info" data-container="body" data-toggle="popover" data-placement="right" title="What does this map represent?" data-content="<div style='font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;'>This map shows two layers: (1) one that shows cities, which nominate a representative from their “sector,” as defined by the California League of Cities, and (2) another that shows all of the incorporated cities in Los Angeles County. The nomination comes from the geographic sector with a majority weighted population vote (1 per 10k pop.), but the confirmation vote that puts them in office comes from all 87 cities (again by weighted majority pop vote, 1 per 10k pop). These results exclude the City of Los Angeles, since they already have the mayor and three appointees on the board.</div>"><small> <i class="fa fa-info-circle" aria-hidden="true"></i> Learn more</small></h2>
            </h1>

        </div>
        <div class="col-sm-6">
            <h4>Look up a Metro board member</h4>
            <div class="input-group address-search">
                <input name="search_address" id='search_address' type="text" class="form-control" placeholder="Enter your address">
                <div class='input-group-btn'>
                    <button id='btn_search' class="btn btn-primary" title='Search'>
                        <i class='fa fa-fw fa-search'></i><span class="non-mobile-only"> Search</span>
                    </button>
                    <a class='btn btn-default' id='reset' title='Reset the map' href='#'>
                        <i class='glyphicon glyphicon-repeat'></i> Reset
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <h1>
                {{ CITY_VOCAB.COUNCIL_MEMBERS }}
            </h1>
            <hr />
        </div>
    </div>
    {% endif %}

    <div class="row-fluid">
        {% if map_geojson %}
            <div class='col-sm-6 no-pad-mobile'>

                <div id="toggleControls" class="" data-toggle="buttons">
                  <label id="districtToggle" class="btn btn-xs btn-district active">
                    <input type="radio" name="options" autocomplete="off" checked><i class="fa fa-check" aria-hidden="true"></i> Districts
                  </label>
                  <label id="sectorToggle" class="btn btn-xs btn-sector">
                    <input type="radio" name="options" autocomplete="off"> Sectors
                  </label>
                  <label id="cityToggle" class="btn btn-xs btn-city">
                    <input type="radio" name="options" autocomplete="off"> City of LA
                  </label>
                </div>

                <div id="searchOn" class="well small" style="display: none;">Displaying address search. Reset your results to see all areas.</div>

                <div id="map"></div>
            </div>
            <div class="col-sm-6 no-pad-mobile">
                <div id="council-member-scroll-area">
                    {% include 'partials/council_member_table.html' %}
                </div>
            </div>
        {% else %}
            <div class="col-sm-8 no-pad-mobile">
                {% include 'partials/council_member_table.html' %}
            </div>
            <div class='col-sm-4'>
                {% include 'partials/council_info_blurb.html' %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block extra_js %}
    {% include 'partials/map.html' %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>
        var council_member_table = $("#council-members").DataTable({
            "info": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [1,'asc'] ],
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" }
            ]
        });

        $( document ).ready(function() {
            $('.map-info').popover({'trigger': 'hover', 'html': true})

            $('.thumbnail-square img').each(function() {
              if ($(this).width() > $(this).height()) {
                $(this).addClass('landscape');
              }
            });
        });


        {% if map_geojson %}
        $('tbody tr').on( 'mouseover', function () {
            $('tr').css('background-color', 'inherit')
            $(this).css('background-color', '#eee');
            activeToggle = $('#toggleControls').find('.active').attr('id');
            hoverOnRow(this.id, activeToggle);
        } );

        $('tbody tr').on( "mouseout", function() {
            $('tr').css('background-color', 'inherit');
            activeToggle = $('#toggleControls').find('.active').attr('id');
            hoverOffRow(this.id, activeToggle);
        } )

        function hoverOffRow(select_id, active_id){
            var controlView = $("#toggleControls").is(":hidden");

            if (active_id.includes('district') || controlView) {
                districts.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('sector') || controlView) {
                sectors.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('city') || controlView) {
                los_angeles_city.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id || select_id.includes("mayor-of-the-city-of-los-angeles")){
                        layer.fire('tableout');
                    }
                });
            }

        }

        function hoverOnRow(select_id, active_id) {
            var controlView = $("#toggleControls").is(":hidden");

            if (active_id.includes('district') || controlView) {
                districts.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('sector') || controlView) {
                sectors.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('city') || controlView) {
                los_angeles_city.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id || select_id.includes("mayor-of-the-city-of-los-angeles")) {
                        layer.fire('tableover');
                    }
                });
            }

        }

        {% endif %}
    </script>


{% endblock %}