{% extends 'base.html' %}

{% load adv_cache extras lametro_extras static wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_css %}
    {% cache 86400 leaflet_wrapper 'leaflet' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toggle.min.css' %}" />
    {% if MAP_CONFIG %}
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    {% endif %}
    {% endcache %}
{% endblock %}

{% block full_content %}

{% cache 86400 members_wrapper 'members' %}

<div class="container-fluid">
        <h1 class="map-heading pt-4">
            {% if MAP_CONFIG %}
                Metro Board of Directors
            {% else %}
                {{ CITY_VOCAB.COUNCIL_MEMBERS }}
            {% endif %}
        </h1>
</div>

{% if MAP_CONFIG %}
<section class="container-fluid" id="search-header">
    <div class="row d-flex align-center h-100">
        <div class="col-md-10 offset-md-1 bg-transparent-white">
            <h2 class="mt-2 h4">{{ page.search_title }}</h2>

            <div class="input-group address-search">
                <input name="search_address" id='search_address' type="text" class="form-control" placeholder="Enter your address">
                <div class='input-group-btn d-flex'>
                    <button id='btn_search' class="btn btn-primary" title='Search'>
                        <i class='fa fa-fw fa-search' aria-hidden="true"></i><span class="d-none d-md-inline"> Search</span>
                    </button>
                    <a class='btn btn-secondary' id='reset' title='Reset the map' href='#' aria-label="Reset the map">
                        <i class="fa fa-repeat" aria-hidden="true"></i><span class="d-none d-md-inline"> Reset</span>
                    </a>
                </div>
            </div>

            <p class="search-example">{{ page.search_examples }}</p>
        </div>
    </div>
</section>
{% endif %}

<section class="container-fluid mt-4 px-4 px-lg-5">
    <div class="row">
        {% if MAP_CONFIG %}
            <div class='col-lg-6 px-0 px-lg-3'>
                <div id="toggleControls" data-toggle="buttons">
                                    <label id="districtToggle" class="btn btn-sm btn-district radio-focus active">
                                        <input type="radio" name="options" autocomplete="off" checked><i class="fa fa-check" aria-hidden="true"></i> Districts
                                    </label>
                                    <label id="sectorToggle" class="btn btn-sm btn-sector radio-focus">
                                        <input type="radio" name="options" autocomplete="off"> Sectors
                                    </label>
                                    <label id="cityToggle" class="btn btn-sm btn-city radio-focus">
                                        <input type="radio" name="options" autocomplete="off"> City of LA
                                    </label>
                                    <label id="caltransToggle" class="btn btn-sm btn-caltrans radio-focus">
                                        <input type="radio" name="options" autocomplete="off"> Caltrans
                                    </label>
                                    <a href="#" tabindex="0" class="map-info text-secondary" data-container="body" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus" data-bs-placement="right" title="What do these map layers represent?"
                                        data-bs-content='{{ page.geography_tooltip|richtext }}'
                                        aria-label="{{ page.geography_tooltip|plaintext }}">
                                        <p><i class="fa fa-info-circle text-secondary" aria-hidden="true"></i> Learn more</p>
                                    </a>
                                </div>

                                <div id="searchOn" class="card d-none">
                                    <div class="card-body">
                                        <p class="mb-0">Displaying address search. Reset your results to see all areas.</p>
                                    </div>
                                </div>

                                <div id="map"></div>
            </div>

            <div class="col-lg-6 px-0 px-lg-3">
                {% include 'board_members/_council_member_table.html' %}
            </div>
        {% else %}
            <div class="col-lg-8 px-0 px-md-3 mb-4">
                {% include 'board_members/_council_member_table.html' %}
            </div>
            <div class="col-lg-4">
                {% include 'board_members/_council_info_blurb.html' %}
            </div>
        {% endif %}
    </div>
</section>

<section class="container-fluid px-4 px-lg-5 mt-5 mt-lg-4">
    <div class="row">
        <div class="col-lg-8">
            <h3 class="h4"><i class='fa fa-fw fa-list-ul' aria-hidden="true"></i> Recent Activity</h3>
            <table class="table" id="committee-actions">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for action in recent_activity|slice:":25" %}
                    <tr class="activity-row">
                        <td class="nowrap">
                            <p class="small mb-0">
                                {{action.date_dt|date:'n/d/Y'}}
                            </p>
                            <p class="small mb-0">
                                <span class='text-{{action.label}}'>{{action.description | remove_action_subj}}</span>
                            </p>
                        </td>
                        <td>
                            <p class="small mb-0">
                                <a href="/board-report/{{action.bill.slug}}/">{{action.bill.friendly_name}}</a>
                            </p>
                            <p class="small mb-0">
                                {{action.bill.title | short_blurb}}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-end text-lg-center" colspan="2">
                            <a href="#" id="more-actions"><i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> Show more activity</a>
                            <a href="#" id="fewer-actions"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Show fewer activity</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0">
            <h3 class="h4"><i class='fa fa-fw fa-calendar-o' aria-hidden="true"></i> Board of Directors Meetings</h3>
            {% for event in recent_events %}
                <p class="event-listing">
                    <a href="{{event.event_page_url | safe}}" title="View Event Details" aria-label="{{event.start_time | date:'n/d/Y' }} - {{event.name}}. View Event Details">{{event.start_time | date:'n/d/Y' }} - {{event.name}}</a>
                </p>
            {% endfor %}
            <p>
                <a href="#" id="more-events"><i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> Show more meetings</a>
                <a href="#" id="fewer-events"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Show fewer meetings</a>
            </p>
        </div>
    </div>
</section>

{% endcache %}

{% endblock %}


{% block extra_js %}
    {% include 'board_members/_map.html' %}
    <script src="{% static 'js/lib/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/lib/dataTables.bootstrap.js' %}"></script>
    <script src="https://cdn.datatables.net/fixedheader/2.0.0/js/FixedHeader.min.js"></script>

    <script>
        var council_member_table = $("#council-members").DataTable({
            "info": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [],
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" },
            ],
            "fixedHeader": true,
            "scrollCollapse": true,
            "scrollY": "500px",
        });

        $( document ).ready(function() {
            $('.map-info').popover({
                    'trigger': 'focus',
                    'html': true,
                    'container': 'body'
            });

            $('.thumbnail-square img').each(function() {
              if ($(this).width() > $(this).height()) {
                $(this).addClass('landscape');
              }
            });
        });


        {% if MAP_CONFIG %}
        $('tbody tr').on( 'mouseover', function () {
            $('tr').css('background-color', 'inherit')
            $(this).css('background-color', '#eee');

            var rowLabel = $(this).find("p.badge").attr("class")
            var activeToggle

            if (rowLabel.includes("district")) {
                activeToggle = activateButton('district');
            } else if (rowLabel.includes("sector")) {
                activeToggle = activateButton('sector');
            } else if (rowLabel.includes("city")) {
                activeToggle = activateButton('city');
            } else if (rowLabel.includes("caltrans")) {
                activeToggle = activateButton('caltrans');
            };

            memberNameSlug = $(this).attr('data-name')
            hoverOnRow($(this).attr("data-polygon"), activeToggle, memberNameSlug);

        } );

        $('tbody tr').on( "mouseout", function() {
            $('tr').css('background-color', 'inherit');
            let activeToggle = $('#toggleControls').find('.active').attr('id');
            hoverOffRow($(this).attr("data-polygon"), activeToggle);
        } )

        function activateButton(button) {
            $('#districtToggle, #sectorToggle, #cityToggle, #caltransToggle').removeClass('active');
            $('#' + button + 'Toggle').addClass('active');
            return (button + 'Toggle')
        }

        function hoverOffRow(select_id, active_id){
            var controlView = $("#toggleControls").is(":hidden");

            if (active_id.includes('district') || controlView) {
                districts.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('sector') || controlView) {
                sectors.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('city') || controlView) {
                los_angeles_city.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('caltrans') || controlView) {
                caltrans.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

        }

        function hoverOnRow(select_id, active_id, member_name) {
            var controlView = $("#toggleControls").is(":hidden");

            if (active_id.includes('district') || controlView) {
                districts.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('sector') || controlView) {
                sectors.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('city') || controlView) {
                los_angeles_city.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id && layer.feature.properties.detail_link.includes(member_name)){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('caltrans') || controlView) {
                caltrans.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }
        }

        // Expandable content on for events and actions.
        function collapseActivity(){
            $(".activity-row:gt(4)").hide();
            $("#more-actions").show();
            $("#fewer-actions").hide();
        }
        function expandActivity(){
            $(".activity-row:gt(4)").show();
            $("#more-actions").hide();
            $("#fewer-actions").show();
        }
        function collapseEvents(){
            $(".event-listing:gt(4)").hide();
            $("#more-events").show();
            $("#fewer-events").hide();
        }
        function expandEvents(){
            $(".event-listing:gt(4)").show();
            $("#more-events").hide();
            $("#fewer-events").show();
        }

        collapseActivity();
        collapseEvents();

        $("#more-actions").click(function() {
            expandActivity();
            return false;
        });
        $("#fewer-actions").click(function() {
            collapseActivity();
            return false;
        });
        $("#more-events").click(function() {
            expandEvents();
            return false;
        });
        $("#fewer-events").click(function() {
            collapseEvents();
            return false;
        });

        {% endif %}

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>


{% endblock %}
