{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{CITY_COUNCIL_NAME}} Members{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toggle.min.css' %}" />
    {% if map_geojson %}
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    {% endif %}
{% endblock %}


{% block full_content %}
<div class="container-fluid">
    {% if map_geojson %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="map-heading">
                {{ CITY_VOCAB.COUNCIL_MEMBERS }}
                <a tabindex="0" class="map-info" data-container="body" data-toggle="popover" data-placement="right" title="What does this map represent?" data-content="<p style='font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14px;'>The three layers of this map show areas from which members of the Metro Board of Directors are nominated:<br><br>
                <strong>(1) Los Angeles County Districts</strong> – The elected representative from each district from the Los Angeles County Board of Supervisors serves on the Metro Board.<br><br>
                <strong>(2) Sectors</strong> – As defined by the California League of Cities, all the incorporated and unincorporated areas in Los Angeles County, excluding the City of Los Angeles, are divided into four sectors. Each sector nominates one representative, which is approved and appointed by all members of the California League of Cities, to serve on the Metro Board.<br><br>
                <strong>(3) City of Los Angeles</strong> – Residents within the City of Los Angeles are represented by the mayor and three city appointees on the Metro Board.<br><br>
                Learn more about <a href='{% url 'about' %}#about-la-metro'>Metro Board appointments</a>.</p>"><h2><small> <i class="fa fa-info-circle" aria-hidden="true"></i> Learn more</small></h2><a>
            </h1>

        </div>
        <div class="col-sm-6">
            <h4>Look up a Metro Board Member</h4>
            <div class="input-group address-search">
                <input name="search_address" id='search_address' type="text" class="form-control" placeholder="Enter your address">
                <div class='input-group-btn'>
                    <button id='btn_search' class="btn btn-primary" title='Search'>
                        <i class='fa fa-fw fa-search'></i><span class="non-mobile-only"> Search</span>
                    </button>
                    <a class='btn btn-default' id='reset' title='Reset the map' href='#'>
                        <i class='glyphicon glyphicon-repeat'></i> Reset
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <h1>
                {{ CITY_VOCAB.COUNCIL_MEMBERS }}
            </h1>
            <hr />
        </div>
    </div>
    {% endif %}

    <div class="row-fluid">
        {% if map_geojson %}
            <div class='col-sm-6 no-pad-mobile'>

                <div id="toggleControls" class="" data-toggle="buttons">
                  <label id="districtToggle" class="btn btn-xs btn-district active">
                    <input type="radio" name="options" autocomplete="off" checked><i class="fa fa-check" aria-hidden="true"></i> Districts
                  </label>
                  <label id="sectorToggle" class="btn btn-xs btn-sector">
                    <input type="radio" name="options" autocomplete="off"> Sectors
                  </label>
                  <label id="cityToggle" class="btn btn-xs btn-city">
                    <input type="radio" name="options" autocomplete="off"> City of LA
                  </label>
                </div>

                <div id="searchOn" class="well small" style="display: none;">Displaying address search. Reset your results to see all areas.</div>

                <div id="map"></div>
            </div>
            <div class="col-sm-6 no-pad-mobile">
                <div id="council-member-scroll-area">
                    {% include 'partials/council_member_table.html' %}
                </div>
            </div>
        {% else %}
            <div class="col-sm-8 no-pad-mobile">
                {% include 'partials/council_member_table.html' %}
            </div>
            <div class='col-sm-4'>
                {% include 'partials/council_info_blurb.html' %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block extra_js %}
    {% include 'partials/map.html' %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>
        var council_member_table = $("#council-members").DataTable({
            "info": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [3,'asc'] ],
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" }
            ],
            "aoColumnDefs": [
                {
                    "targets": [ 3 ],
                    "visible": false,
                    "searchable": false
                },
            ]
        });

        $( document ).ready(function() {
            $('.map-info').popover({
                    'trigger': 'focus',
                    'html': true,
                    'container': 'body'
            });

            $('.thumbnail-square img').each(function() {
              if ($(this).width() > $(this).height()) {
                $(this).addClass('landscape');
              }
            });
        });


        {% if map_geojson %}
        $('tbody tr').on( 'mouseover', function () {
            $('tr').css('background-color', 'inherit')
            $(this).css('background-color', '#eee');
            activeToggle = $('#toggleControls').find('.active').attr('id');
            memberNameSlug = $(this).attr('data')
            hoverOnRow(this.id, activeToggle, memberNameSlug);
        } );

        $('tbody tr').on( "mouseout", function() {
            $('tr').css('background-color', 'inherit');
            activeToggle = $('#toggleControls').find('.active').attr('id');
            hoverOffRow(this.id, activeToggle);
        } )

        function hoverOffRow(select_id, active_id){
            var controlView = $("#toggleControls").is(":hidden");

            if (active_id.includes('district') || controlView) {
                districts.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('sector') || controlView) {
                sectors.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableout');
                    }
                });
            }

            if (active_id.includes('city') || controlView) {
                los_angeles_city.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id || select_id.includes("mayor-of-the-city-of-los-angeles")){
                        layer.fire('tableout');
                    }
                });
            }

        }

        function hoverOnRow(select_id, active_id, member_name) {
            var controlView = $("#toggleControls").is(":hidden");

            if (active_id.includes('district') || controlView) {
                districts.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('sector') || controlView) {
                sectors.eachLayer(function (layer) {
                    if (layer.feature.properties.select_id === select_id){
                        layer.fire('tableover');
                    }
                });
            }

            if (active_id.includes('city') || controlView) {
                los_angeles_city.eachLayer(function (layer) {
                    var target_member = layer.feature.properties.council_member.toLowerCase().replace(' ', '-')
                    if (member_name == target_member) {
                        layer.fire('tableover');
                    }
                });
            }

        }

        {% endif %}
    </script>


{% endblock %}