{% extends "base_with_margins.html" %}
{% load extras %}
{% load lametro_extras %}
{% load staticfiles %}
{% block title %}{{committee.name}}{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="col-sm-8">
            <br/>
            <h1>{{committee.name }}</h1>
            {% if committee_description %}
                <p>{{committee_description}}</p>
            {% endif %}

        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12">
        <hr />
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12">
            {% if committee.recent_events %}

                <h4>
                    <i class='fa fa-fw fa-calendar-o'></i> Committee {{ CITY_VOCAB.EVENTS }}
                    <a href="events/rss/" title="RSS feed for Committe Events by {{committee.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
                </h4>
                <br>
                {% for event in committee.recent_events %}
                    <p class='event-listing'>
                        {{event.start_time | date:'n/d/Y' }} - {{event.link_html | safe}}
                    </p>
                {% endfor %}
                <a href="" id="more-events"><i class="fa fa-fw fa-chevron-down"></i>Show more</a>
                <a href="" id="fewer-events"><i class="fa fa-fw fa-chevron-up"></i>Show fewer</a>
            {% endif %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12">
        <hr />
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-8">

            <h4><i class='fa fa-fw fa-group'></i> Committee Members</h4>
            <table class='table' id='council-members'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Member</th>
                        <th>Title</th>
                        <th class='no-wrap'>Committee Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% if 'Ad-Hoc' in committee.name %}
                        {% for member in ad_hoc_list %}
                            <tr>
                                <td data-order='{{ member.index }}'>
                                    <div class="thumbnail-square">
                                        <img src='{{ member.ocd_id | call_headshot_url }}' alt='{{member.name}}' title='{{member.name}}' class='img-responsive img-thumbnail' />
                                    </div>
                                </td>
                                <td>
                                    {% if member.label %}
                                        <a href="{% url 'lametro:person' member.slug %}">{{ member.name }}</a>
                                    {% else %}
                                        {{ member.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if member.label %}
                                        {{ extras | clean_membership_extras }} {{ member.label.0 | format_string | clean_label | format_label | safe }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                    {% if member.committee_role %}
                                        {{ member.committee_role }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}

                    {% else %}

                        {% for member in membership_objects %}
                            <tr>
                                <td data-order='{{ member.index }}'>
                                    <div class="thumbnail-square">
                                        <img src='{{ member.ocd_id | call_headshot_url }}' alt='{{member.name}}' title='{{member.name}}' class='img-responsive img-thumbnail' />
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'lametro:person' member.slug %}">{{ member.name }}</a>
                                </td>
                                <td>
                                    {{ member.extras | clean_membership_extras }} {{ member.label.0 | format_string | clean_label | format_label | safe }}
                                </td>
                                <td>
                                    {{ member.role }}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                </tbody>
            </table>

            {% if ceo %}
            <br>
            <h4><i class="fa fa-user"></i> Chief Executive Officer</h4>
            <table class='table' id='ceo-table'>
                <tbody>
                    <tr>
                        <td width="12%">
                            <div class="thumbnail-square">
                                <img src='{{ ceo.ocd_id | call_headshot_url }}' alt='{{ceo.name}}' title='{{ceo.name}}' class='img-responsive img-thumbnail' />
                            </div>
                        </td>
                        <td width="22%"><a href="{% url 'lametro:person' ceo.slug %}">{{ ceo.name }}</a></td>
                        <td>Chief Executive Officer</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>
        $("#council-members").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" },
                null
            ]
        });

        $('.thumbnail-square img').each(function() {
            if ($(this).width() > $(this).height()) {
                $(this).addClass('landscape');
            }
        });

        function collapseActivity(){
            $(".activity-row:gt(4)").hide();
            $("#more-actions").show();
            $("#fewer-actions").hide();
        }
        function expandActivity(){
            $(".activity-row:gt(4)").show();
            $("#more-actions").hide();
            $("#fewer-actions").show();
        }
        function collapseEvents(){
            $(".event-listing:gt(4)").hide();
            $("#more-events").show();
            $("#fewer-events").hide();
        }
        function expandEvents(){
            $(".event-listing:gt(4)").show();
            $("#more-events").hide();
            $("#fewer-events").show();
        }

        collapseActivity();
        collapseEvents();

        $("#more-actions").click(function() {
            expandActivity();
            return false;
        });
        $("#fewer-actions").click(function() {
            collapseActivity();
            return false;
        });
        $("#more-events").click(function() {
            expandEvents();
            return false;
        });
        $("#fewer-events").click(function() {
            collapseEvents();
            return false;
        });

        // for reference purposes
        console.log( "OCD ID: {{committee.ocd_id}}" )

    </script>
{% endblock %}
