{% extends "base_with_margins.html" %}
{% load extras %}
{% load lametro_extras %}
{% load adv_cache %}
{% load staticfiles %}
{% block title %}{{event.name}}{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="col-sm-12">
            <br/>
            <p>
                <a href='/events/'>
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    Back to {{ CITY_VOCAB.EVENTS }} &amp; Agendas
                </a>
            </p>

            <!-- Header -->
            <h1>
                {% if event.status == 'cancelled' %}
                    <strike>{{event.name}}</strike> <small><span class="label label-stale">Cancelled</span></small>
                {% else %}
                    {{event.name}}
                {% endif %}

                {% if event.is_ongoing %}
                    <a class="btn btn-salmon" href="{{ event.english_live_media_url }}" target="_blank">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        Watch in English
                    </a>

                    {% if event.bilingual %}
                        <a class="btn btn-salmon" href="{{ event.spanish_live_media_url }}" target="_blank">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            Ver en Español
                        </a>
                    {% endif %}
                {% else %}
                    {% for media in event.media.all %}
                        <a class="btn btn-salmon" href="{{ media.links.all.0.url }}" target="_blank"><i class= "fa fa-headphones" aria-hidden="true"></i> {% if media.note == 'Audio (SAP)' %}Ver en Español{% else %}Watch in English{% endif %}</a>
                    {% endfor %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if event_ok %}
                        <h1>Event's ok!</h1>
                    {% else %}
                        <h1>Event's not ok</h1>
                    {% endif %}
                {% endif %}

            </h1>

            <div class="row">
                {% if has_agenda and not event.has_passed %}
                <div class="col-sm-7">
                {% else %}
                <div class="col-sm-12">
                {% endif %}

                    <p>{{event.description}}</p>
                    <p class="small text-muted">
                        {% if event.status == 'cancelled' %}
                            <strike>
                            <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
                            <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
                            </strike>
                        {% else %}
                            <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
                            <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
                            <i class="fa fa-fw fa-map-marker"></i> {{event.location.name}}
                        {% endif %}
                    </p>

                    {% if USING_ECOMMENT %}
                        {% if event.is_ongoing %}
                            <p>
                                <strong>You can submit your comments to the Metro Board of Directors during this meeting.</strong> Use the link below to comment on board reports on the agenda.
                            </p>

                            <p>
                                <a class="btn btn-salmon" href="{{ event.ecomment_url }}" target="_blank">
                                    <i class='fa fa-fw fa-external-link'></i>
                                    Go to public comment
                                </a>
                            </p>
                        {% elif event.ecomment_message %}
                            <p>{{ event.ecomment_message|safe }}</p>
                        {% endif %}
                    {% endif %}

                    <p class="small">
                        {% if event.web_source.url %}
                            {% if not agenda_url and not uploaded_agenda_url and not uploaded_agenda_pdf %}
                                Not seeing an agenda? Please use this link:<br>
                            {% endif %}
                            <a href='{{event.web_source.url}}' title='View on the {{CITY_VOCAB.SOURCE}} website' target="_blank">
                                <i class='fa fa-fw fa-external-link'></i>
                                View on the {{CITY_VOCAB.SOURCE}} website
                            </a>
                        {% endif %}
                    </p>
                </div>

                {% if has_agenda and not event.has_passed %}
                    <div class="col-sm-5">
                        <h4>Submit public comment remotely</h4>

                        <p>
                            <strong>During the meeting</strong>
                        </p>

                        <strong>By phone:</strong>

                        {% if event.is_upcoming or event.is_ongoing %}

                            <p>You may join the public comment participation call 5 minutes prior to the start of the meeting.</p>

                            <p>
                                <strong>Dial-in:</strong> 888-251-2949 or 215-861-0694<br/>
                                <strong>English Access Code:</strong> 8231160#<br/>
                                <strong>Spanish Access Code:</strong> 4544724#
                            </p>

                            <p>To give public comment on an item, enter #2 (pound two) when that item is taken up by the Board.</p>

                            <p>
                                Need assistance with your audio? Please dial 888-796-6118.
                            </p>

                            <p>
                                <i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i>
                                <em>When you call in to comment, you will be able to hear the live stream of the meeting while you wait to comment. <strong>If you are also listening to the meeting on another device, please lower the volume on the second device to avoid feedback and ensure you can be heard clearly.</strong></em>
                            </p>

                            <br />

                            {% if event.is_ongoing and USING_ECOMMENT %}
                                <p>
                                    <strong>On the web:</strong>
                                    <a href="{{ event.ecomment_url }}" target="_blank">
                                        <i class='fa fa-fw fa-external-link'></i>
                                        Go to public comment
                                    </a>
                                </p>
                            {% endif %}
                        {% else %}
                            <p>
                                Dial-in information to submit public comment by phone will become available on this page the evening before the meeting.
                            </p>

                            {% if USING_ECOMMENT %}
                                <p>
                                    {{ event.UPCOMING_ECOMMENT_MESSAGE }}
                                </p>
                            {% endif %}

                            <p>
                                <strong>Before the meeting</strong><br />

                                <p>
                                    <strong>Via email:</strong> <a href="mailto:jacksonm@metro.net">jacksonm@metro.net</a><br />
                                    <strong>By postal mail:</strong> Board Secretary's Office, One Gateway Plaza, MS: 99-3-1, Los Angeles, CA 90012
                                </p>
                            </p>

                            <p>
                                <i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i>
                                <em>Please make sure to note the meeting name, meeting date, and agenda number or item along with comments submitted by email or postal mail. <strong>Comments via mail must be received by 5pm on the day prior to the meeting.</strong></em>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <hr />

            <div class="row">
                <div class="col-md-7">
                    {% if participants %}
                    <h4>Participants</h4>
                    <p>
                        {% for participant in participants %}
                           <i class="fa fa-fw fa-users"></i> {{participant.link_html | safe}}<br />
                        {% endfor %}
                    </p>
                    {% endif %}

                    <!-- Check that the database has an agenda to display -->
                    {% if has_agenda %}

                    <!-- An event can have both manually uploaded and auto-imported agendas, i.e., if a Metro Admin uploads an agenda and then import_data runs. Give the Admin an option to delete the manually uploaded agenda, but ONLY if an auto-imported agenda does not exist. -->
                    {% if not agenda_url%}
                        {% if user.is_authenticated %}
                            <div class="well">
                                <p>An admin submitted a URL to render this agenda. Not seeing what you expect? Delete this agenda, and afterwards, you can resubmit.</p>
                                <a href="{% url 'delete_submission' event.slug %}" class='btn btn-teal'><i class="fa fa-times" aria-hidden="true"></i> Delete!</a>
                            </div>
                        {% endif %}
                    {% endif  %}

                    <div class="row">
                        <div class="col-xs-8">
                            <h4>Agenda</h4>
                            <p>
                                <a id="pdf-download-link" target='_blank' href={% if agenda_url %}'{{agenda_url}}'{% elif uploaded_agenda_url %}'{{uploaded_agenda_url}}'{% elif uploaded_agenda_pdf %}'/static/{{uploaded_agenda_pdf}}'{% endif %}>
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                    Download Agenda
                                </a>
                            </p>
                            {% if event.packet.is_ready %}
                            <p>
                                <a href="{{event.packet.url}}"><i class="fa fa-files-o" aria-hidden="true"></i> Download Agenda and Attachments</a>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-xs-4">

                        {% if event.start_time|compare_time %}
                            {% if 'board meeting' in event.name|lower or 'la safe' in event.name|lower %}
                            <h4>Minutes</h4>
                            <p>
                                <a href="https://www.metro.net/about/board/recap-actions/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> View Recap</a>
                                </br>
                            </p>
                            {% endif %}

                                {% if minutes %}
                                <p>
                                    <a href="{{ minutes.links.get.url }}"><i class="fa fa-calendar" aria-hidden="true"></i> View Minutes</a>
                                </p>
                                {% endif %}

                        {% endif %}

                        </div>
                    </div>
                    <p class="hidden-xs"><i>
                      To use a link in the PDF below, hold the CTRL button on your keyboard when clicking the link.
                    </i></p>
                    <iframe
                        id="pdf-embed-agenda"
                        class="pdf-viewer hidden-xs"
                        name="{{document_timestamp}}"
                        frameborder="0"
                        seamless="true"
                        width="100%"
                        height="600px"
                        src={% if agenda_url %}"/pdfviewer/?{{agenda_url|full_text_doc_url}}"{% elif uploaded_agenda_url %}"/pdfviewer/?{{uploaded_agenda_url|full_text_doc_url}}"{% elif uploaded_agenda_pdf %}"{% static uploaded_agenda_pdf %}"{% endif %}>
                    </iframe>

                    {% else %}
                        {% if user.is_authenticated %}

                         <p>This event does not have an agenda. To add one, please provide a link to Legistar or directly upload a PDF. <span class="text-uppercase"><strong>Only upload a PDF during a Legistar outage!</strong></span></p>
                         <br>

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <!-- URL Upload -->
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseURL" aria-expanded="true" aria-controls="collapseURL">
                                  <i class="fa fa-link" aria-hidden="true"></i> Upload an Agenda URL
                                </a>
                              </h4>
                            </div>
                            <div id="collapseURL" class="panel-collapse collapse {% if url_form.errors %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">

                                <p>Find the corresponding agenda URL on Legistar, and paste it here.</p>
                                <!-- The variable "name" identifies the modal and form submit button -->
                                {% with form=url_form name='url_form' %}
                                    {% include 'partials/agenda_url_form.html' %}
                                {% endwith %}

                              </div>
                            </div>
                          </div>
                          <!-- PDF Upload -->
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePDF" aria-expanded="false" aria-controls="collapsePDF">
                                  <i class="fa fa-file-text" aria-hidden="true"></i> Upload an Agenda PDF
                                </a>
                              </h4>
                            </div>
                            <div id="collapsePDF" class="panel-collapse collapse {% if pdf_form.errors %}in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                {% if legistar_ok %}
                                    <div class="alert alert-info" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <strong>Caution!</strong> Our system does NOT detect a Legistar outage. Do not use this option.</div>
                                {% else %}
                                    <div class="alert alert-info" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Our system detects a Legistar outage. Proceed with this option but exercise caution.</div>
                                {% endif %}

                                <!-- The variable "name" identifies the modal and form submit button -->
                                {% with form=pdf_form name='pdf_form' %}
                                    {% include 'partials/agenda_pdf_form.html' %}
                                {% endwith %}

                              </div>
                            </div>
                          </div>
                        </div>

                        {% else %}
                        <p>Agenda will be posted no later than 72 hours prior to the start of the meeting, or 24 hours for Special Board meetings. If you are unable to access an Agenda within either of these time frames, please visit: <a href="http://metro.legistar.com/calendar.aspx" target="_blank">http://metro.legistar.com/calendar.aspx</a>.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if event.documents.all %}
                        {% include 'partials/related_bills.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ CITY_NAME }}"
        },
        "name": "{{event.location.name}}"
      },
      "name": "{{event.name}}",
      "startDate": "{{ event.start_time.isoformat }}",
      "url" : "{{ event.source_url }}"
    }
    </script>

{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
        // Admin view: Display preview of event document submitted via URL
        $('#url_form_modal').on('shown.bs.modal', function (e) {
            e.preventDefault();
            agenda_url_submitted = $('#agenda_url').val();
            base_url = '{{base_url}}'
            agenda_url_clean = full_text_doc_url_js(agenda_url_submitted, base_url);
            document.getElementById('pdf-embed-agenda-check').src = agenda_url_clean
        });

        // Admin view: Cancel submission of PDF
        $('#pdf-form-cancel').on('click', function() {
            document.getElementById('pdf-check-viewer-test').src = '';
            document.getElementById('pdf-form-input').value= null;
            $('#pdf-form-message, #pdf-check-viewer-test, #pdf-form-cancel, #pdf-form-submit').addClass('hidden');
        });

        // for reference purposes
        console.log( "OCD ID: {{event.id}}" )
    });
    </script>

{% endblock %}
