{% extends "base_with_margins.html" %}
{% load extras %}
{% load lametro_extras %}
{% load adv_cache %}
{% load staticfiles %}
{% block title %}{{event.name}}{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="col-sm-12">
            <br/>
            <p><a href='/events/'><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to {{ CITY_VOCAB.EVENTS }} &amp; Agendas</a></p>
            <h1>
                {{event.name}}

                {% for media in event.media %}
                    <a class="btn btn-salmon" href="{{ media.url }}" target="_blank"><i class="fa fa-headphones" aria-hidden="true"></i> {{ media.label }}</a>
                {% endfor %}
            </h1>
            <p>{{event.description}}</p>
            <p class="small text-muted">
                {% if event.status == 'cancelled' %}
                    <i class="fa fa-fw fa-calendar-o"></i> <strike>{{event.start_time | date:"D n/d/Y"}}</strike><br/>
                    <i class="fa fa-fw fa-clock-o"></i> <strike>{{event.start_time | date:"g:i a"}}</strike> <br/>
                    <span class="label label-stale">Cancelled</span>
                {% else %}
                    <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
                    <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
                    <i class="fa fa-fw fa-map-marker"></i> {{event.location_name}}
                {% endif %}
            </p>

            <p class="small">
                {% if 'https://metro.legistar.com' in event.source_url %}
                    {% if not agenda_url and not uploaded_agenda_url and not uploaded_agenda_pdf %}
                        Not seeing an agenda? Please use this link:<br>
                    {% endif %}
                    <a href='{{event.source_url}}' title='View on the {{CITY_VOCAB.SOURCE}} website' target="_blank">
                        <i class='fa fa-fw fa-external-link'></i>
                        View on the {{CITY_VOCAB.SOURCE}} website
                    </a>
                {% endif %}
            </p>

            <hr />

            <div class="row">
                <div class="col-md-7">
                    {% if participants %}
                    <h4>Participants</h4>
                    <p>
                        {% for participant in participants %}
                           <i class="fa fa-fw fa-users"></i> {{participant.link_html | safe}}<br />
                        {% endfor %}
                    </p>
                    {% endif %}
              
                    <!-- Check that the database has an agenda to display -->
                    {% if agenda_url or uploaded_agenda_url or uploaded_agenda_pdf %}

                    <!-- An event can have both manually uploaded and auto-imported agendas, i.e., if a Metro Admin uploads an agenda and then import_data runs. Give the Admin an option to delete the manually uploaded agenda, but ONLY if an auto-imported agenda does not exist. -->
                    {% if not agenda_url%}
                        {% if user.is_authenticated %}
                            <div class="well">
                                <p>An admin submitted a URL to render this agenda. Not seeing what you expect? Delete this agenda, and afterwards, you can resubmit.</p>
                                <a href="{% url 'delete_submission' event.slug %}" class='btn btn-teal'><i class="fa fa-times" aria-hidden="true"></i> Delete!</a>
                            </div>
                        {% endif %}
                    {% endif  %}

                    <div class="row">
                        <div class="col-xs-8">
                            <h4>Agenda</h4>
                            <p>
                                <a id="pdf-download-link" target='_blank' href={% if agenda_url %}'{{agenda_url}}'{% elif uploaded_agenda_url %}'{{uploaded_agenda_url}}'{% elif uploaded_agenda_pdf %}'/static/{{uploaded_agenda_pdf}}'{% endif %}>
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> 
                                    Download Agenda
                                </a>
                            </p>
                            {% if packet_url %}
                            <p>
                                <a href="{{packet_url}}"><i class="fa fa-files-o" aria-hidden="true"></i> Download Agenda and Attachments</a>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-xs-4">

                        {% if event.start_time|compare_time %}
                            {% if 'board meeting' in event.name|lower or 'la safe' in event.name|lower %}
                            <h4>Minutes</h4>
                            <p>
                                <a href="https://www.metro.net/about/board/recap-actions/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> View Recap</a>
                                </br>
                            </p>
                            {% endif %}
                            {% if 'regular board meeting' in event.name|lower %}
                                {% if event.ocd_id|get_minutes %}
                                <p>
                                    <a href="{{ event.ocd_id|get_minutes }}"><i class="fa fa-calendar" aria-hidden="true"></i> View Minutes</a>
                                </p>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        </div>
                    </div>
   
                    <iframe
                        id="pdf-embed-agenda"
                        class="pdf-viewer hidden-xs"
                        name="{{document_timestamp}}"
                        frameborder="0"
                        seamless="true"
                        width="100%"
                        height="600px"
                        src={% if agenda_url %}"/pdfviewer/?{{agenda_url|full_text_doc_url}}"{% elif uploaded_agenda_url %}"/pdfviewer/?{{uploaded_agenda_url|full_text_doc_url}}"{% elif uploaded_agenda_pdf %}"{% static uploaded_agenda_pdf %}"{% endif %}>
                    </iframe>

                    {% else %}
                        {% if user.is_authenticated %}

                         <p>This event does not have an agenda. To add one, please provide a link to Legistar or directly upload a PDF. <span class="text-uppercase"><strong>Only upload a PDF during a Legistar outage!</strong></span></p>
                         <br>

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <!-- URL Upload -->
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseURL" aria-expanded="true" aria-controls="collapseURL">
                                  <i class="fa fa-link" aria-hidden="true"></i> Upload an Agenda URL
                                </a>
                              </h4>
                            </div>
                            <div id="collapseURL" class="panel-collapse collapse {% if url_form.errors %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                                                                 
                                <p>Find the corresponding agenda URL on Legistar, and paste it here.</p> 
                                <!-- The variable "name" identifies the modal and form submit button -->
                                {% with form=url_form name='url_form' %}                  
                                    {% include 'partials/agenda_url_form.html' %}  
                                {% endwith %}                     
                                                   
                              </div>
                            </div>
                          </div>
                          <!-- PDF Upload -->
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePDF" aria-expanded="false" aria-controls="collapsePDF">
                                  <i class="fa fa-file-text" aria-hidden="true"></i> Upload an Agenda PDF
                                </a>
                              </h4>
                            </div>
                            <div id="collapsePDF" class="panel-collapse collapse {% if pdf_form.errors %}in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                {% if legistar_ok %}
                                    <div class="alert alert-info" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <strong>Caution!</strong> Our system does NOT detect a Legistar outage. Do not use this option.</div>
                                {% else %}
                                    <div class="alert alert-info" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Our system detects a Legistar outage. Proceed with this option but exercise caution.</div>
                                {% endif %}

                                <!-- The variable "name" identifies the modal and form submit button -->
                                {% with form=pdf_form name='pdf_form' %}                  
                                    {% include 'partials/agenda_pdf_form.html' %}  
                                {% endwith %}   
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        {% else %}
                        <p>Agenda will be posted no later than 72 hours prior to the start of the meeting, or 24 hours for Special Board meetings. If you are unable to access an Agenda within either of these time frames, please visit: <a href="http://metro.legistar.com/calendar.aspx" target="_blank">http://metro.legistar.com/calendar.aspx</a>.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if event.documents.all %}
                        {% include 'partials/related_bills.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ CITY_NAME }}"
        },
        "name": "{{event.location_name}}"
      },
      "name": "{{event.name}}",
      "startDate": "{{ event.start_time.isoformat }}",
      "url" : "{{ event.source_url }}"
    }
    </script>

{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
        // Admin view: Display preview of event document submitted via URL
        $('#url_form_modal').on('shown.bs.modal', function (e) {  
            e.preventDefault();
            agenda_url_submitted = $('#agenda_url').val();
            base_url = '{{base_url}}'
            agenda_url_clean = full_text_doc_url_js(agenda_url_submitted, base_url);
            document.getElementById('pdf-embed-agenda-check').src = agenda_url_clean
        });

        // Admin view: Cancel submission of PDF
        $('#pdf-form-cancel').on('click', function() {
            document.getElementById('pdf-check-viewer-test').src = '';
            document.getElementById('pdf-form-input').value= null;
            $('#pdf-form-message, #pdf-check-viewer-test, #pdf-form-cancel, #pdf-form-submit').addClass('hidden');
        });

        // for reference purposes
        console.log( "OCD ID: {{event.ocd_id}}" )
    });
    </script>

{% endblock %}
