{% extends "base_with_margins.html" %}
{% load staticfiles %}
{% block title %}Events{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="col-sm-9 no-pad-mobile">
            <br/><br class="non-mobile-only"/>
            <div id="events-form" class="row">
                <div class="col-xs-8">
                    <form action='/events' method='GET'>
                        
                      <div class="input-group" id='date-search'>
                            <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <input type="text" id="from" name="from" class="form-control date-filter" placeholder="Select start date..." value='{{ start_date }}'>
                            <input type="text" id="to" name="to" class="form-control date-filter" placeholder="Select end date..." value='{{ end_date }}'>
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-date" id="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class='hidden-sm hidden-xs'>Search</span></button>
                            </span>
                      </div>

                    </form>
                </div>
                <div class="col-xs-2">
                    <a href="{% url 'events' %}?show=all" class="btn btn-salmon d-inline-block"><i class="fa fa-list" aria-hidden="true"></i><span class="hidden-xs"> All meetings</span></a>
                </div>
                <div class="col-xs-2">
                    <a href="{% url 'events' %}" class="btn btn-teal d-inline-block"><i class="fa fa-repeat" aria-hidden="true"></i><span class="hidden-xs"> Reset</span></a>
                </div>
            </div>

            {% if future_events %}
                <h2><span>Upcoming {{ CITY_VOCAB.EVENTS }}</span>
                <br class="non-desktop-only"/>
                <small><a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i></a></small>
                </h2>

                <div class='row'>
                    <div class='col-sm-8' id='events_message'></div>
                </div>
                <hr/>
                {% for date, event_list in future_events %}
                    {% include "partials/event_day.html" %}
                {% endfor %}
                <hr/>

                <h2><span>Past {{ CITY_VOCAB.EVENTS }}</span>
                <br class="non-desktop-only"/>
                <small><a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i></a></small>
                </h2>

                <div class='row'>
                    <div class='col-sm-8' id='events_message'></div>
                </div>
                <hr/>

                {% for date, event_list in past_events %}
                    <div class='event-listing'>
                    {% include "partials/past_event_day.html" %}
                    </div>

                {% endfor %}

                <a href="" class="btn btn-salmon" id="more-events"><i class="fa fa-fw fa-chevron-down"></i>Show all past meetings</a>
                <a href="" class="btn btn-salmon" id="fewer-events"><i class="fa fa-fw fa-chevron-up"></i>Show fewer past meetings</a>
            {% elif select_events %}
                <h2><span>{{ CITY_VOCAB.EVENTS }} from {{ start_date }} to {{ end_date }}</span>
                <br class="non-desktop-only"/>
                <small><a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i></a></small>
                </h2>

                <div class='row'>
                    <div class='col-sm-8' id='events_message'></div>
                </div>
                <hr/>

                {% for date, event_list in select_events %}
                    {% include "partials/past_event_day.html" %}
                {% endfor %}

            {% elif all_events %}
                <h2><span>All {{ CITY_VOCAB.EVENTS }}</span>
                <br class="non-desktop-only"/>
                <small><a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i></a></small>
                </h2>

                <div class='row'>
                    <div class='col-sm-8' id='events_message'></div>
                </div>
                <hr/>

                {% for date, event_list in all_events %}
                    {% include "partials/past_event_day.html" %}
                {% endfor %}
            {% else %}
                <div class='row'>
                    <div class="col-sm-12">
                        <br>
                        <p>Your search did not return any results.</p>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="col-sm-3 no-pad-mobile">
            <br/><br class="non-mobile-only"/>
            {% include 'partials/events_info_blurb.html' %}

            <div>
                <p><a href="{% url 'about' %}#rules"><i class="fa fa-gavel" aria-hidden="true"></i> Board Room Rules</a></p>
                <p><a href="{% url 'about' %}#procedures"><i class="fa fa-book" aria-hidden="true"></i> Rules &amp; Procedures</a></p>
                <p><a href="{% url 'about' %}#visit"><i class="fa fa-map-marker" aria-hidden="true"></i> Visit Metro Headquarters Building</a></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="{% static 'js/moment.js' %}"></script>
    <script type="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script>
    $(document).ready(function() {

        // $("#form_datetime").datepicker({
        //     autoclose: true,
        //     viewMode: "months",
        //     minViewMode: "months",
        // });

        $('#from').datepicker();
        $('#to').datepicker();


        function collapseEvents(){
            $(".event-listing:gt(4)").hide();
            $("#more-events").show();
            $("#fewer-events").hide();
        }
        function expandEvents(){
            $(".event-listing:gt(4)").show();
            $("#more-events").hide();
            $("#fewer-events").show();
        }

        collapseEvents();

        $("#more-events").click(function() {
            expandEvents();
            return false;
        });
        $("#fewer-events").click(function() {
            collapseEvents();
            return false;
        });

    });
    </script>
{% endblock %}
