{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block full_content %}
    <div class="container-fluid" id="section-photo">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <br/>
                    <h1 class="home-header">Los Angeles County Metropolitan Transportation Authority</h1>
                <br/>
                <p class="h3">
                    <span class="text-bg">Search {{CITY_NAME}} board reports</span>
                </p>
                <form class="search form-search=" action="/search/" method="GET">
                    <div class="input-group site-intro-search">
                        <input name="q" type="text" class="input-lg form-control" placeholder="{{SEARCH_PLACEHOLDER_TEXT}}">
                        <div class='input-group-btn'>
                            <button type="submit" class="btn btn-lg btn-primary">
                                <i class='fa fa-fw fa-search'></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="section-intro">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <div class="divider"></div>

                <div class='row'>
                    <div class='col-sm-8'>
                        <p>The <a href="https://www.metro.net/" target="_blank">Los Angeles County Metropolitan Transportation Authority</a>, commonly known as Metro, consists of several <a href="{% url 'lametro:council_members' %}">Board Members</a>, who set policy, coordinate, plan, fund, build, and operate transit services and transportation programs throughout Los Angeles County.</p>

                        <p>
                            <strong>Metro Board</strong> tracks all things related to the Metro Board of Directors:
                            <ul>
                                <li>
                                    the <a href="{% url 'lametro:search' %}">legislation</a> introduced and passed
                                </li>
                                <li>
                                    its various <a href="{% url 'lametro:committees' %}">committees</a> and the <a href="{% url 'events' %}">meetings</a> they hold
                                </li>
                                <li>
                                    the <a href="{% url 'lametro:council_members' %}">board members</a> themselves
                                </li>
                            </ul>
                        </p>
                        <p>
                            <span class="non-mobile-only">
                                Read more about how <a href="{% url 'lametro:about' %}">Metro works &raquo;</a>
                            </span>
                            <span class="mobile-only">
                                <a href="{% url 'lametro:about' %}">More on how Metro works &raquo;</a>
                            </span>

                        </p>
                    </div>

                    <div class= 'col-sm-4 desktop-only'>

                        <p>
                            <a href="{% url 'lametro:council_members' %}" target="_blank"><img id="map-screenshot" src='/static/images/map-screenshot.png' class='img-responsive img-rounded' title='Metro Districts' alt="Districts to which board members belong" /></a>
                            <em>Districts to which board members belong</em>
                        </p>

                    </div>
                </div>



            </div>
        </div>
    </div>


    {% if upcoming_committee_meetings or upcoming_board_meeting %}
    <div class="container-fluid" id="section-events">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                {% include "partials/component_upcoming_events.html" %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}


{% block extra_js %}
    <script>

        function collapseActivity(){
            $(".list-item:gt(4)").hide();
            $("#more-list-items").show();
            $("#fewer-list-items").hide();
        }
        function expandActivity(){
            $(".list-item:gt(4)").show();
            $("#more-list-items").hide();
            $("#fewer-list-items").show();
        }

        collapseActivity();

        $("#more-list-items").click(function() {
            expandActivity();
            return false;
        });
        $("#fewer-list-items").click(function() {
            collapseActivity();
            return false;
        });

    </script>
{% endblock %}
