{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block full_content %}
    <div class="container-fluid" id="section-photo">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <span class="hidden-xs hidden-sm"><br/><br/></span>
                    <h1 class="home-header">Los Angeles County Metropolitan Transportation Authority</h1>
                <span class="hidden-xs hidden-sm"><br/></span>
                <p class="h3">
                    <span class="text-bg">Search Metro Board Reports (2015 – present)</span>
                </p>
                <form class="search form-search=" action="/search/" method="GET">
                    <div class="input-group site-intro-search">
                        <input name="q"  id="search-bar" type="text" class="input-lg form-control form-lg" placeholder="{{ SEARCH_PLACEHOLDER_TEXT }}">
                        <div class='input-group-btn'>
                            <button type="submit" class="btn btn-lg btn-primary">
                                <i class='fa fa-fw fa-search'></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary btn-search-option active">
                            <input type="radio" autocomplete="off" name="search-all" checked> Search reports and attachments
                        </label>
                        <label class="btn btn-primary btn-search-option">
                            <input type="radio" name="search-reports" autocomplete="off"> Search reports only
                        </label>
                    </div>
                </form><br />
                <p class="archive-link"><a href="{% url 'lametro:archive-search' %}">Search the Metro Board Archive (1952-2015)</a></p>
            </div>
        </div>
    </div>

    {% if current_meeting %}

    <div class="container-fluid" id="section-intro">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>

                <div class="row">
                    <div class='col-sm-7'>
                        <h2>
                            <span class="non-mobile-only"><i class="fa fa-bell" aria-hidden="true"></i></span>
                            Current Meeting
                        </h2>
                        {% include "partials/meeting_details_current.html" %}
                    </div>
                    <div class='col-sm-5'>
                        {% include "partials/index_metro_description.html" %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% else %}

    <div class="container-fluid" id="section-intro">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>

                <div class="row">
                    <div class='col-sm-7'>
                        <h2>
                            <span class="non-mobile-only"><i class="fa fa-university" aria-hidden="true"></i></span>
                            Next Board Meeting
                        </h2>
                        {% with meeting=upcoming_board_meeting %}
                            {% include "partials/meeting_details_next.html" %}
                        {% endwith %}
                    </div>
                    <div class='col-sm-5'>
                        {% include "partials/index_metro_description.html" %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% endif %}

    <div class="container-fluid" id="section-events">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <h2>
                    <span class="non-mobile-only"><i class="fa fa-fw fa-group"></i> </span>
                    Upcoming Committee Meetings
                </h2>
                {% if upcoming_committee_meetings %}
                    {% if upcoming_committee_meetings %}
                        {% for event in upcoming_committee_meetings %}
                            {% include "partials/event_item.html" %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <p><em>No meetings scheduled in the next two months.</em></p>
                {% endif %}
                <br/>
                <a href="/events/" class="btn btn-sm btn-primary">
                    View Upcoming and Past {{ CITY_VOCAB.EVENTS }}
                    <i class="fa fa-fw fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script>

        function collapseActivity(){
            $(".list-item:gt(4)").hide();
            $("#more-list-items").show();
            $("#fewer-list-items").hide();
        }
        function expandActivity(){
            $(".list-item:gt(4)").show();
            $("#more-list-items").hide();
            $("#fewer-list-items").show();
        }

        collapseActivity();

        $("#more-list-items").click(function() {
            expandActivity();
            return false;
        });
        $("#fewer-list-items").click(function() {
            collapseActivity();
            return false;
        });



        $('#search-bar').autocomplete({
          serviceUrl: "{% url 'autocomplete' %}",
          paramName: '',
          transformResult: function(response) {
            response = JSON.parse(response);
            return {
              suggestions: $.map(response.termHints, function(d) {
                return {'value': d.name, 'data': d.id};
              })
            }
          },
          onSelect: function(suggestion) {
            $.when(
              $.get('/topic/', { 'guid': suggestion.data }))
              .then(function(response) {
                console.log(response)
              })
            )
          }
        })

    </script>
{% endblock %}
