{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block full_content %}
    {% include 'partials/banner.html' %}
    <div id="section-photo" class="container-fluid">
        <div class="row">
            <div class='col-sm-10 col-sm-offset-1'>
                <span class="hidden-xs hidden-sm"><br/><br/></span>
                    <h1 class="home-header">Los Angeles County Metropolitan Transportation Authority</h1>
                <p class="h3">
                    <span class="text-bg">Search Metro Board Reports (2015 – present)</span>
                </p>
                <p>
                  <span class="text-bg">
                    Begin typing in the search bar to add a keyword or pick a suggested topic as they appear. Press enter to perform a search for your selected terms. <a id="beta-info" class="hover-hand" data-toggle="tooltip" title="<strong>Suggested topics are a new feature.</strong> If you aren't seeing helpful suggestions or have any additional feedback or questions, get in touch with us at <a href='mailto:boardreport@metro.net'>boardreport@metro.net</a>."><i id="beta-info" class="fa fa-info-circle fa-fw"></i></a>
                  </span>
                </p>
                <div class="site-intro-search">
                    {% include 'partials/search_bar.html' %}
                </div>
                <p class="archive-link"><a href="{% url 'lametro:archive-search' %}">Search the Metro Board Archive from 1952-2015 (Board Boxes 1994-Present)</a></p>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="section-intro">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>

                <div class="row">
                    <div class='col-md-7'>
                    {% if current_meeting %}
                        <h2>
                            <span class="non-mobile-only"><i class="fa fa-bell" aria-hidden="true"></i></span>
                            Current Meeting
                        </h2>
                        {% include "partials/meeting_details_current.html" %}
                    {% else %}
                        <h2>
                            <span class="non-mobile-only"><i class="fa fa-university" aria-hidden="true"></i></span>
                                Next Board Meeting{% if upcoming_board_meetings|length > 1 %}s{% endif %}
                        </h2>
                        {% include "partials/meeting_details_next.html" %}
                    {% endif %}
                    </div>
                    <div class='col-md-5'>
                        {% if todays_meetings %}
                            {% include "partials/todays_meetings.html" %}
                        {% else %}
                            {% include "partials/index_metro_description.html" %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid" id="section-events">
        <div class="row-fluid">
            <div class="col-sm-10 col-sm-offset-1" id="upcoming-meetings">
                <h2>
                    <span class="non-mobile-only"><i class="fa fa-fw fa-group"></i> </span>
                    Upcoming Meetings
                </h2>
                {% if upcoming_committee_meetings %}
                    {% if upcoming_committee_meetings %}
                        {% for event in upcoming_committee_meetings %}
                            {% include "partials/event_item.html" %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <br>
                    <p><em>No meetings scheduled in the next two months.</em></p>
                {% endif %}
                <br/>
                <a href="/events/" class="btn btn-sm btn-primary">
                    View Upcoming and Past {{ CITY_VOCAB.EVENTS }}
                    <i class="fa fa-fw fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>
                    <span class="non-mobile-only"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
</span>
                    Recent Meetings
                </h2>
                {% if most_recent_past_meetings %}
                    {% for event in most_recent_past_meetings %}
                        {% include "partials/past_event_item.html" %}
                    {% endfor %}
                {% else %}
                    <br>
                    <p><em>No meetings in the past two weeks.</em></p>
                {% endif %}
                <br/>
                <a href="/events/" class="btn btn-sm btn-primary">
                    View Upcoming and Past {{ CITY_VOCAB.EVENTS }}
                    <i class="fa fa-fw fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>

    <script>

        initAutocomplete('#search-form', '#search-bar');

        function collapseActivity(){
            $(".list-item:gt(4)").hide();
            $("#more-list-items").show();
            $("#fewer-list-items").hide();
        }
        function expandActivity(){
            $(".list-item:gt(4)").show();
            $("#more-list-items").hide();
            $("#fewer-list-items").show();
        }

        collapseActivity();

        $("#more-list-items").click(function() {
            expandActivity();
            return false;
        });
        $("#fewer-list-items").click(function() {
            collapseActivity();
            return false;
        });

        $('#beta-info').tooltip({html: true, trigger: 'focus click', placement: 'right'});

    </script>
{% endblock %}
