{% extends "base_with_margins.html" %}
{% load staticfiles %}
{% block title %}Minutes{% endblock %}

{% block content %}
  {% include 'partials/banner.html' %}
  <div class="row-fluid">
    <div class="col-sm-9 no-pad-mobile">
      <br/><br class="non-mobile-only"/>
      <div id="events-form" class="row">
        <div class="col-xs-8">
            <h2><span>Minutes</span></h2>
              {% for date_group, events in historical_events.items %}
              <h5 class="text-default">
                <i class="fa fa-fw fa-calendar-o"></i> {{ date_group | date:"D m/d/Y"}}
                <div class="divider"></div>
              </h5>
              {% for e in events %}
                {% include 'partials/minutes_item.html' %}
              {% endfor %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% if forloop.last %}
<div class="row" style="margin-bottom: 30px;">
{% else %}
<div class="row">
{% endif %}