{% load extras %}
{% load lametro_extras %}

<form role="form" method="POST">
    {% csrf_token %}
    <input type="text" class="form-control" id="agenda_url" name="agenda_url" placeholder="Enter URL...">

    {% if form.agenda_url.errors %}
        <br> 
        <span class="error-block" style="color: #eb6864;">{{form.agenda_url.errors}}</span>
    {% endif %}

    <br>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agendaModal">
      <i class="fa fa-arrow-right" aria-hidden="true"></i> Preview and Submit
    </button>

    <!-- Modal -->
    <div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="agendaModalTitle">Agenda submission preview</h5>
          </div>
          <div class="modal-body">
              <p>You submitted the below agenda. Does it look correct?</p>
              <iframe
                  id="pdf-embed-agenda-check"
                  class="pdf-viewer hidden-xs"
                  frameborder="0"
                  seamless="true"
                  width="100%"
                  height="400px"
                  src="">
              </iframe>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No, that's not right</button>

            <button type="submit" class="btn btn-teal" name="{{name}}"><i class="fa fa-check" aria-hidden="true"></i> Looks good! Submit</button>

          </div>
        </div>
      </div>
    </div>

    
</form>



