<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th class="desktop-only">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for status, obj in BILL_STATUS_DESCRIPTIONS.items %}
        <tr>
            <td>
                <p class='nowrap'>
                    {% if obj.search_term != None %}
                    <a href='/search/?selected_facets=inferred_status_exact%3A{{obj.search_term}}'>{{status}}</a>
                    {% else %}
                    <p>{{status}}</p>
                    {% endif %}
                </p>
                <div class="non-desktop-only">
                    <p>
                        <p>{{obj.definition}}</p>
                    </p>
                </div>
            </td>
            <td class="desktop-only">
                <p>
                    <p>{{obj.definition}}</p>
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>