<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th class="desktop-only">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for status in BILL_STATUS_DESCRIPTIONS %}
        <tr>
            <td>
                <p class='nowrap'>
                    <a href='href="/search/?selected_facets=bill_type_exact%3A{{status.search_term}}'>{{status.name}}</p>
                </p>
                <div class="non-desktop-only">
                    <p>
                        <p>{{status.definition}}</p>
                    </p>
                </div>
            </td>
            <td class="desktop-only">
                <p>
                    <p>{{status.definition}}</p>
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>