{% load staticfiles %}

<div>
    <div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-xs-6">
                <img src='/static/images/Gateway03RT.jpg' class='img-responsive img-rounded' title='Los Angeles Gateway Plaza' alt="Los Angeles Gateway Plaza" />
            </div>
            {% if current_meeting_queryset %}
                {% include "partials/meeting_details_simultaneous.html"  %}  
            {% else %}
                {% include "partials/meeting_details.html"  %}   
            {% endif %}
        </div>
    </div>
</div>