{% load staticfiles %}

{% if upcoming_board_meeting %}

    <div>
        <div>
            <br/>

            <div class="row">

                <!-- Image of plaza -->
                {% if current_board_meeting %}
                    <div class="col-xs-4">
                        <img src='/static/images/Los-Angeles-Gateway-Plaza-Office.jpg' class='img-responsive img-rounded' title='Los Angeles Gateway Plaza' alt="Los Angeles Gateway Plaza" />
                    </div>
                {% else %}
                    <div class="col-xs-4">
                        <img src='/static/images/Gateway03RT.jpg' class='img-responsive img-rounded' title='Los Angeles Gateway Plaza' alt="Los Angeles Gateway Plaza" />
                    </div>
                {% endif %}

                <!-- Board meeting info -->
                <div class="col-xs-8">
                    {% if current_board_meeting %}
                    <div class="row">
                      <div class="col-xs-12">
                        <h4>
                          {{ current_board_meeting.link_html | safe }}<br/>
                          <span class="small text-muted">{{current_board_meeting.description}}</span>
                        </h4>

                        <p class="small text-muted">
                            <i class="fa fa-fw fa-calendar-o"></i> {{current_board_meeting.start_time | date:"D n/d/Y"}}<br/>
                            <i class="fa fa-fw fa-clock-o"></i> {{current_board_meeting.start_time | date:"g:i a"}}<br/>
                            <i class="fa fa-fw fa-map-marker"></i> {{current_board_meeting.location_name}}<br />
                        </p>
                      </div>

                    </div>
                    </br>

                    {% elif upcoming_board_meeting %}

                    <div class="row">
                      <div class="col-xs-12">
                        <h4>
                          {{ upcoming_board_meeting.link_html | safe }}<br/>
                          <span class="small text-muted">{{upcoming_board_meeting.description}}</span>
                        </h4>
                        <p class="small text-muted">
                            <i class="fa fa-fw fa-calendar-o"></i> {{upcoming_board_meeting.start_time | date:"D n/d/Y"}}<br/>
                            <i class="fa fa-fw fa-clock-o"></i> {{upcoming_board_meeting.start_time | date:"g:i a"}}<br/>
                            <i class="fa fa-fw fa-map-marker"></i> {{upcoming_board_meeting.location_name}}<br />
                        </p>
                      </div>
                    </div>

                    {% endif %}
                </div>

            </div>


            {% if current_board_meeting %}
                {% with meeting_type=current_board_meeting %}
                    {% include "partials/agenda_items.html"  %}
                {% endwith %}
            {% else %}
                {% with meeting_type=upcoming_board_meeting %}
                    {% include "partials/agenda_items.html" %}
                {% endwith %}
            {% endif %}

        </div>
    </div>

{% endif %}


