{% load lametro_extras %}

<div class="table-responsive">
    <table class='table' id='council-members'>
        <thead>
            <tr>
                <th></th>
                <th>
                    {{ CITY_VOCAB.COUNCIL_MEMBER }}
                </th>
                <th>
                    {{CITY_VOCAB.MUNICIPAL_DISTRICT}}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for membership in membership_objects %}

                    <tr id="polygon-{{ membership.label|clean_label | slugify }}" data="{{ membership.name | slugify}}">

                        <td>
                            <div class="thumbnail-square">
                                <img src='{{ membership.ocd_id | call_headshot_url }}' alt='{{ membership.name }}' title='{{ membership.name }}' class='img-responsive img-thumbnail' />
                            </div>
                        </td>
                        <td>
                            {{ membership.ocd_id | call_link_html | safe }}
                        </td>
                        <td>
                            {{ membership.role | clean_role }}<br>
                            <span class="small">
                                {{ membership.extras | clean_membership_extras }} {{ membership.label|clean_label | format_label | safe }}
                            </span><br>
                            {% if "District" in membership.label|clean_label and "Caltrans District" not in membership.label|clean_label %}
                                <span class="badge district-badge">District appointee</span>
                            {% elif "sector" in membership.label|clean_label %}
                                <span class="badge sector-badge">Sector appointee</span>
                            {% elif "Mayor" in membership.label|clean_label %}
                                <span class="badge city-badge">Los Angeles</span>
                            {% else %}
                            {% endif %}
                        </td>
                        <td data='{{ membership.index }}'></td>
                    </tr>

            {% endfor %}
        </tbody>
    </table>
</div>


