<div class='well'>
    <h4>
      <i class='fa fa-fw fa-info-circle'></i> What does LA Metro do?
    </h4>
    <p>
      {{CITY_COUNCIL_NAME}} sets policy, coordinates, plans, funds, builds, and operates transit services and transportation programs throughout Los Angeles County. It supports transportation improvement programs throughout Los Angeles County, and it also works in collaboration with other regional service providers.
    </p>
    <p>
      <a href='/about/#about-city-council'>Read more <i class='fa fa-chevron-right'></i></a>
    </p>
</div>