<div class="table-responsive">
    <table class='table' id='council-members'>
        <thead>
            <tr>
                <th></th>
                <th>
                    {{ CITY_VOCAB.COUNCIL_MEMBER }}
                </th>
                <th>
                    {{CITY_VOCAB.MUNICIPAL_DISTRICT}}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                {% for membership in post.memberships.all %}
                    <tr id="polygon-{{post.label | slugify}}">
                        <td>
                            {% if membership in post.current_members %}
                                <div class="thumbnail-square">
                                    <img src='{{membership.person.headshot_url}}' alt='{{membership.person.name}}' title='{{membership.person.name}}' class='img-responsive img-thumbnail' />
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if membership in post.current_members %}
                                {{ membership.person.link_html | safe }}
                            {% else %}
                                Vacant
                            {% endif %}
                        </td>
                        <td>
                            {{ post.role }}<br>
                            <span class="small">{{ post.formatted_label | safe }}</span><br>
                            {% if "District" in post.label %}
                                <span class="badge district-badge">District appointee</span>
                            {% elif "sector" in post.label %}
                                <span class="badge sector-badge">Sector appointee</span>
                            {% elif "Mayor" in post.label %}
                                <span class="badge city-badge">Los Angeles</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>


