<div class="row">
  <br/>
  <div class="col-xs-6 col-md-4">
    {% if event.status == 'cancelled' %}
      <strike>
    {% endif %}
      <small>
        <i class="fa fa-fw fa-calendar-o"></i>
        <span class="non-mobile-only">
          {{event.start_time | date:"D"}}
        </span>
        {{event.start_time | date:"m/d"}}
        <span class="non-mobile-only">
          <i class="fa fa-fw fa-clock-o"></i>
        </span>
        {{event.start_time| date:"g:ia"}}<br/>
        <span class="desktop-only text-muted">
          {{event.location.name}}<br />
        </span>
      </small>
    {% if event.status == 'cancelled' %}
      </strike>
    {% endif %}
  </div>

  <div class="col-xs-6 col-md-4">
    <p>
      {% if event.status == 'cancelled' %}
        <strike>{{ event.link_html | safe }}</strike>
        <span class="label label-stale">Cancelled</span>
        <br/>
      {% else %}
        {{ event.link_html | safe }}<br/>
      {% endif %}
    </p>
  </div>

  <div class="hidden-xs hidden-sm col-md-4 text-center">
    <p>
      {% if event.ecomment_url %}
        <a class="btn btn-salmon btn-sm" href="{{ event.ecomment_url }}" target="_blank">
          <i class='fa fa-fw fa-external-link'></i>
          Go to public comment
        </a>
      {% endif %}
    </p>
  </div>
</div>