<div class="row">
    {% if has_agenda and not event.has_passed %}
    <div class="col-sm-7">
    {% else %}
    <div class="col-sm-12">
    {% endif %}

        <p>{{event.description}}</p>
        <p class="small text-muted">
            {% if event.status == 'cancelled' %}
                <strike>
                <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
                <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
                </strike>
            {% else %}
                <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
                <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
                <i class="fa fa-fw fa-map-marker"></i> {{event.location.name}}
            {% endif %}
        </p>

        <p class="small">
            {% if event.web_source.url %}
                {% if not agenda_url and not uploaded_agenda_url and not uploaded_agenda_pdf %}
                    Not seeing an agenda? Please use this link:<br>
                {% endif %}
                <a href='{{event.web_source.url}}' title='View on the {{CITY_VOCAB.SOURCE}} website' target="_blank">
                    <i class='fa fa-fw fa-external-link'></i>
                    View on the {{CITY_VOCAB.SOURCE}} website
                </a>
            {% endif %}
        </p>
    </div>

    {% if has_agenda and not event.has_passed %}
        <div class="col-sm-5">
            <h4>Submit public comment remotely</h4>

            <p>
                <strong>Before the meeting</strong><br />

                <p>
                    <strong>Via email:</strong> <a href="mailto:boardclerk@metro.net">boardclerk@metro.net</a><br />
                    <strong>By postal mail:</strong> Board Secretary's Office, One Gateway Plaza, MS: 99-3-1, Los Angeles, CA 90012
                </p>
            </p>

            <p>
                <i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i>
                <em>Please make sure to note the meeting name, meeting date, and agenda number or item along with comments submitted by email or postal mail. <strong>Comments via mail must be received by 5pm on the day prior to the meeting.</strong></em>
            </p>
        </div>
    {% endif %}
</div>
