<div class="row">
  <br/>
  <div class="col-xs-4">
    <p>
      {{ event.link_html | safe }}<br/>
      <span class="small text-muted">{{event.description}}</span>
    </p>
    <small>
      <i class="fa fa-fw fa-calendar-o"></i>
      <span class="non-mobile-only">
        {{event.start_time | date:"D"}}
      </span>
      {{event.start_time | date:"m/d"}}

      <span class="non-mobile-only">
        <i class="fa fa-fw fa-clock-o"></i>
      </span>
      {{event.start_time| date:"g:ia"}}<br/>
      <span class="desktop-only text-muted">
        {{event.location_name}}<br />
      </span>
    </small>
  </div>
</div>

{% with forloop.counter as count %}

  {% if event.clean_agenda_items %}

          <h4>Agenda</h4>
          <ol>
              {% for agenda_item in event.clean_agenda_items %}
                  <li class="list-item-{{count}} small">
                      {% if agenda_item.related_bills.all %}
                          <a href="/legislation/{{agenda_item.related_bills.first.bill.slug}}/">
                              {{agenda_item.related_bills.first.bill.friendly_name}}
                          </a>
                          <br/>
                      {% endif %}
                      {{agenda_item.description}}
                  </li>
              {% endfor %}
          </ol>

  {% endif %}


  {% if event.clean_agenda_items|length > 4  %}

          <p colspan="3" align="center">
              <a href="" class="btn-sm btn-info" id="more-list-items-{{count}}"><i class="fa fa-fw fa-chevron-down"></i>Full agenda</a>
              <a href="" class="btn-sm btn-info" id="fewer-list-items-{{count}}"><i class="fa fa-fw fa-chevron-up"></i>Less</a>
          </p>

  {% endif %}

{% endwith %}