{% load staticfiles %}

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&v=3.17&key={{GOOGLE_API_KEY}}"></script>
<script src="{% static 'js/leaflet.js' %}" /></script>
<script type="text/javascript" src="{% static 'js/leaflet-google.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/jquery.address.js' %}"></script>
<script type="text/javascript" src="{% static 'js/leaflet-pip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"></script>

<script>

    var locationScope    = '{{CITY_NAME}}'.toLowerCase();
    var currentPinpoint  = null;
    var centerMark       = null;
    var districts        = null;
    var sectors          = null;
    var los_angeles_city = null;
    var search_result    = null;
    var search_result_sector = null;
    var geocoder         = new google.maps.Geocoder();
    var districtColor    = "#3D8A8E";
    var sectorColor      = "#4D649E";
    var cityColor        = "#EB6864";

    var map = L.map('map', {
        scrollWheelZoom: false,
        center: {{MAP_CONFIG.center}},
        zoom: {{MAP_CONFIG.zoom}}
    });

    var google_map_styles = [
        {
            stylers: [
                { saturation: -100 },
                { lightness: 40 }
            ]
        }
    ];

    var layer = new L.Google('ROADMAP', {mapOptions: {styles: google_map_styles}});
    map.addLayer(layer);

    var searchResultsLayer = new L.LayerGroup();
    searchResultsLayer.addTo(map);

    var infoBox = L.control({'position': 'bottomleft'});

    infoBox.onAdd = function() {
        this._div = L.DomUtil.create('div', 'infobox');
        this.update();
        return this._div;
    }

    infoBox.update = function(properties){
        if(properties){
            var info = '<p><strong>' + properties.council_member + '</strong></p>';
            info += '<p>' + properties.district + '</p>';
            this._div.innerHTML = info;
        }
    }

    infoBox.clear = function(){
      this._div.innerHTML = '<p><i class="fa fa-hand-pointer-o fa-fw"></i><span class="non-mobile-only">Hover</span><span class="mobile-only">Tap a ward</span> for details</p>';
    }

    infoBox.addTo(map);
    infoBox.clear();

    var customOptions =
        {
        'className' : 'custom'
        }

    function onEachFeatureDistricts(feature, layer) {
        if (feature.properties) {
            var center = layer.getBounds().getCenter();

            if (map){

                layer.layerPopup = L.popup(customOptions, layer)
                                        .setLatLng(center)
                                        .setContent(feature.properties.popupContent);


                layer.on('click', function(e){
                    window.location = feature.properties.detail_link
                });

                layer.on('mouseover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8, 'color': districtColor});
                });

                layer.on('mouseout', function(e){
                    infoBox.clear();
                    e.target.setStyle({'fillOpacity': 0.2, 'color': districtColor});
                });

                layer.on('tableover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8, 'color': districtColor});
                });

                layer.on('tableout', function(e){
                    infoBox.clear();
                    map.closePopup(e.target.layerPopup);
                    e.target.setStyle({'fillOpacity': 0.2, 'color': districtColor});
                });
            }
        }
    }

    function onEachFeatureSectors(feature, layer) {
        if (feature.properties) {
            var center = layer.getBounds().getCenter();

            if (map){
                layer.layerPopup = L.popup(customOptions, layer)
                                    .setLatLng(center)
                                    .setContent(feature.properties.popupContent);

                layer.on('click', function(e){
                    window.location = feature.properties.detail_link
                });

                layer.on('mouseover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8, 'color': sectorColor});
                });

                layer.on('mouseout', function(e){
                    infoBox.clear();
                    e.target.setStyle({'fillOpacity': 0.2, 'color': sectorColor});
                });

                layer.on('tableover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8, 'color': sectorColor});
                });

                layer.on('tableout', function(e){
                    infoBox.clear();
                    map.closePopup(e.target.layerPopup);
                    e.target.setStyle({'fillOpacity': 0.2, 'color': sectorColor});
                });
            }
        }
    }

    function onEachFeatureCity(feature, layer) {
        if (feature.properties) {
            var center = layer.getBounds().getCenter();

            if (map){

                layer.layerPopup = L.popup(customOptions, layer)
                                        .setLatLng(center)
                                        .setContent(feature.properties.popupContent);

                layer.on('click', function(e){
                    window.location = feature.properties.detail_link
                });

                layer.on('mouseover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8, 'color': cityColor});
                });

                layer.on('mouseout', function(e){
                    infoBox.clear();
                    e.target.setStyle({'fillOpacity': 0.2, 'color': cityColor});
                });

                layer.on('tableover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8, 'color': cityColor});
                });

                layer.on('tableout', function(e){
                    infoBox.clear();
                    map.closePopup(e.target.layerPopup);
                    e.target.setStyle({'fillOpacity': 0.2, 'color': cityColor});
                });
            }
        }
    }

    districts = L.geoJson({{ map_geojson|safe }}, {
        style: {
                "color": districtColor,
                "weight": 1,
                "opacity": 1,
                "fillOpacity": 0.3,
            },
        onEachFeature: onEachFeatureDistricts
    });


    sectors = L.geoJson({{ map_geojson_sectors|safe }}, {
        style: {
                "color": sectorColor,
                "weight": 1,
                "opacity": 1,
                "fillOpacity": 0.3,
            },
        onEachFeature: onEachFeatureSectors
    });

    los_angeles_city = L.geoJson({{ map_geojson_city|safe }}, {
        style: {
                "color": cityColor,
                "weight": 1,
                "opacity": 1,
                "fillOpacity": 0.3,
            },
        onEachFeature: onEachFeatureCity
    });

    function doSearch() {
        clearSearch();
        var address = $("#search_address").val();

        if (address != "") {
            $('#toggleControls').hide();
            $('#searchOn').show();
            $("#reset").show();
            if (address.toLowerCase().indexOf(locationScope) == -1)
            address = address + " " + locationScope;

            geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              currentPinpoint = [results[0].geometry.location.lat(), results[0].geometry.location.lng()];
              $.address.parameter('address', encodeURIComponent(address));
              centerMark = new L.Marker(currentPinpoint, { icon: (new L.Icon({
                iconUrl: "{% static 'images/blue-pushpin.png' %}",
                iconSize: [32, 32],
                iconAnchor: [10, 32]
              }))}).addTo(map);

              // find the district here
              search_result        = leafletPip.pointInLayer([currentPinpoint[1], currentPinpoint[0]], districts);
              search_result_sector = leafletPip.pointInLayer([currentPinpoint[1], currentPinpoint[0]], sectors);
              search_result_city   = leafletPip.pointInLayer([currentPinpoint[1], currentPinpoint[0]], los_angeles_city);

              var districtNumber = "Nothing to search"
              var sectorName     = "Nothing to search"
              var cityName       = "Nothing to search"

              if ((search_result.length > 0) || (search_result_sector.length > 0) || search_result_city.length > 0) {
                map.removeLayer(districts);
                map.removeLayer(sectors);
                map.removeLayer(los_angeles_city);

                if (search_result.length > 0) {
                    search_result = search_result[0]
                    search_result.addTo(searchResultsLayer);
                    map.fitBounds(search_result.getBounds(), {padding: [50,50]});

                    var districtNumber = convertToSearchTerm(search_result.feature.properties.district)
                }

                if (search_result_sector.length > 0) {
                    search_result = search_result_sector[0]
                    search_result.addTo(searchResultsLayer);
                    map.fitBounds(search_result.getBounds(), {padding: [50,50]});

                    var sectorName = convertToSearchTerm(search_result.feature.properties.district)
                }

                if (search_result_city.length > 0) {
                    search_result = search_result_city[0]
                    search_result.addTo(searchResultsLayer);
                    map.fitBounds(search_result.getBounds(), {padding: [50,50]});

                    var cityName = "Mayor of the City of Los Angeles"
                }

                if (council_member_table) {
                    // search the table with the OR operator
                    council_member_table.search("^(?=.*?(" + districtNumber + "|" + sectorName + "|" + cityName + ")).*?", true, false).draw();
                }

              }
              else {
                alert("'" + address + "' is not within {{CITY_NAME}}");
              }
            }
            else {
              alert("We could not find your address: " + status);
            }
            });
        }
        else { //search without geocoding callback
          map.fitBounds(districts.getBounds());
        }
    }

    function clearSearch(){
        if (search_result || search_result_sector) {
            searchResultsLayer.clearLayers();
        }
        if (centerMark)
            map.removeLayer(centerMark);

        council_member_table.search('').draw();
    }

    function findMe() {
        // Try W3C Geolocation (Preferred)
        var foundLocation;

        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            foundLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            addrFromLatLng(foundLocation);
            }, null);
        }
        else {
            alert("Sorry, we could not find your location.");
        }
    }

    function addrFromLatLng(latLngPoint) {
        geocoder.geocode({'latLng': latLngPoint}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              $('#search_address').val(results[1].formatted_address);
              $('.hint').focus();
              doSearch();
            }
          } else {
            alert("Geocoder failed due to: " + status);
          }
        });
    }

    //converts a slug or query string in to readable text
    function convertToPlainString(text) {
        if (text == undefined) return '';
        return decodeURIComponent(text);
    }

    // formats the district property as a searchable term
    function convertToSearchTerm(string) {
        termArray = string.split(", ")
        return termArray.slice(-1).pop()
    }

    function initialize(){
        $("#search_address").val(convertToPlainString($.address.parameter('address')));

        if ($("#search_address").val() != "") {
            doSearch();
        }
        else {
            districts.addTo(map);
            map.fitBounds(districts.getBounds());
            $("#reset").hide()
            $('#toggleControls').show();
            $('#searchOn').hide();
        }
    }

    function removeCheck() {
        $('div#toggleControls .active').html( function(){
            var buttonLabel = $('div#toggleControls .active').html();
            return buttonLabel.replace('<i class="fa fa-check" aria-hidden="true"></i>', '');
        });
    }

    $(function() {
        initialize();

        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('search_address'));

        $('#btn_search').click(function(){
            doSearch();
        });

        $('#reset').click(function(){
            $.address.parameter('address','');
            clearSearch();
            initialize();
            return false;
        });

        $("#search_address").keydown(function(e){
          var key =  e.keyCode ? e.keyCode : e.which;
          if(key == 13) {
              $('#btn_search').click();
              return false;
          }
        });

        $('#districtToggle').on('click', function() {
            map.addLayer(districts);
            map.removeLayer(sectors);
            map.removeLayer(los_angeles_city);
            $(this).prepend('<i class="fa fa-check" aria-hidden="true"></i>')
            removeCheck();
        });

        $('#sectorToggle').on('click', function() {
            map.addLayer(sectors);
            map.removeLayer(districts);
            map.removeLayer(los_angeles_city);
            $(this).prepend('<i class="fa fa-check" aria-hidden="true"></i>')
            removeCheck();
        });

        $('#cityToggle').on('click', function() {
            map.addLayer(los_angeles_city);
            map.removeLayer(districts);
            map.removeLayer(sectors);
            $(this).prepend('<i class="fa fa-check" aria-hidden="true"></i>')
            removeCheck();
        });

    });

</script>
