{% load staticfiles %}
{% load lametro_extras %}

<!-- Meeting info -->
<div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <h4>
          {{  meeting.link_html | safe }}<br/>
          <span class="small text-muted">{{ meeting.description }}</span>
        </h4>

        <p class="small text-muted">
            <i class="fa fa-fw fa-calendar-o"></i> {{ meeting.start_time | date:"D n/d/Y"}}<br/>
            <i class="fa fa-fw fa-clock-o"></i> {{ meeting.start_time | date:"g:i a"}}<br/>
            <i class="fa fa-fw fa-map-marker"></i> {{ meeting.location_name}}<br />
        </p>
        <div class="row">
            {% if meeting.documents.all %}
              <div class="col-xs-7">
                <a class="btn btn-teal" id="pdf-download-link" target='_blank' href='{{meeting.documents.all|find_agenda_url}}'><i class='fa fa-fw fa-download'></i> Get Agenda PDF</a>
              </div>
            {% else %}
              <br>
              <p class="small"><em>Agenda will be posted no later than 72 hours prior to the start of the meeting, or 24 hours for Special Board meetings.</em></p>
            {% endif %}

            {% if current_meeting %}
                {% if media_url %}
                    <div class="col-xs-5">
                        <p><a class="btn btn-salmon" href="{{media_url}}" target="_blank"><i class="fa fa-headphones" aria-hidden="true"></i> Listen</a></p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </div>
    </br>
</div>