{% load lametro_extras %}

<h5 class="text-default">
    <i class="fa fa-fw fa-calendar-o"></i> {{date | date:"D m/d/Y"}}
</h5>

{% for event in event_list %}
<div class="row">
    <div class="col-xs-3 no-pad-right">
        <p class="small">
            <span class="non-mobile-only">
                <i class="fa fa-fw fa-clock-o"></i> {{event.start_time| date:"g:i a"}}<br/>
            </span>
            <span class="mobile-only">
                {{event.start_time| date:"g:i a"}}<br/>
            </span>
        </p>
    </div>
    <div class="col-xs-5">
        <p>
            <a href="{{event.event_page_url}}">{{event.name}}</a><br/>
            <span class="small text-muted">{{event.description}}</span>
        </p>
    </div>
    {% if event.start_time|compare_time %}
    <div class="col-xs-2">
        <p>
            <a href="https://www.metro.net/about/board/recap-actions/" target="_blank">Recap</a>
        </p>
    </div>
    <div class="col-xs-2">
        {% if 'Regular Board Meeting' in event.name %}
            {% if event.start_time|get_minutes %}
            <p>
                <a href="/board-report/{{event.start_time|get_minutes }}">Minutes approval</a>
            </p>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endfor %}