{% load lametro_extras %}

<h5 class="text-default">
    <i class="fa fa-fw fa-calendar-o"></i> {{date | date:"D m/d/Y"}}
    <div class="divider"></div>
</h5>
{% for event in event_list %}

  {% if forloop.last %}
  <div class="row" style="margin-bottom: 30px;">
  {% else %}
  <div class="row">
  {% endif %}

  {% if not forloop.first %}
    <hr class="events-line" />
  {% endif %}

    <div class="col-xs-3 no-pad-right">

        {% if event.status == 'cancelled' %}<strike>{% endif %}

        <p class="small">
            <span class="non-mobile-only">
                <i class="fa fa-fw fa-clock-o"></i> {{event.start_time| date:"g:i a"}}<br/>
            </span>
            <span class="mobile-only">
                {{event.start_time| date:"g:i a"}}<br/>
            </span>
        </p>

        {% if event.status == 'cancelled' %}</strike>{% endif %}

    </div>
    <div class="col-xs-4">
        <p>
            {% if event.status == 'cancelled' %}
                <strike><a href="{{event.event_page_url}}">{{event.name}}</a></strike>
                <span class="label label-stale">Cancelled</span>
            {% else %}
                <a href="{{event.event_page_url}}">{{event.name}}</a>
            {% endif %}
            <br/>
        </p>
    </div>

    <div class="col-xs-3">
        {% for media in event.media.all %}
          <p>
            <a href="{{ media.links.all.0.url }}" target="_blank">{% if media.note == 'Audio (SAP)' %}Ver en Español{% else %}Watch in English{% endif %}</a>
            </br>
          </p>
        {% endfor %}
    </div>

    {% if event.start_time|compare_time %}
    <div class="col-xs-1">
        {% with minutes=event.minutes.0.links.all.0.url %}
            {% if minutes %}
            <p>
                <a href="{{ minutes }}">Minutes</a>
            </p>
            {% endif %}
        {% endwith %}
        {% elif 'board meeting' in event.name|lower or 'la safe' in event.name|lower %}
        <p>
            <a href="http://boardarchives.metro.net/recaps/" target="_blank">Recap</a>
            </br>
        </p>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endfor %}
