{% load lametro_extras %}

<h5 class="text-default">
    <i class="fa fa-fw fa-calendar-o"></i> {{date | date:"D m/d/Y"}}
</h5>

{% for event in event_list %}
<div class="row">
    <div class="col-xs-3 no-pad-right">

        {% if event.status == 'cancelled' %}<strike>{% endif %}

        <p class="small">
            <span class="non-mobile-only">
                <i class="fa fa-fw fa-clock-o"></i> {{event.start_time| date:"g:i a"}}<br/>
            </span>
            <span class="mobile-only">
                {{event.start_time| date:"g:i a"}}<br/>
            </span>
        </p>

        {% if event.status == 'cancelled' %}</strike>{% endif %}

    </div>
    <div class="col-xs-4">
        <p>
            {% if event.status == 'cancelled' %}
                <strike><a href="{{event.event_page_url}}">{{event.name}}</a></strike>
                <span class="label label-stale">Cancelled</span>
            {% else %}
                <a href="{{event.event_page_url}}">{{event.name}}</a>
            {% endif %}
            <br/>
        </p>
    </div>

    <div class="col-xs-3">
        {% for media in event.media_urls.all %}
          <p>
            <a href="{{ media.url }}" target="_blank">{{ media.label }}</a>
            </br>
          </p>
        {% endfor %}
    </div>

    {% if event.start_time|compare_time %}
    <div class="col-xs-1">
        {% if 'board meeting' in event.name|lower or 'la safe' in event.name|lower %}
        <p>
            <a href="https://www.metro.net/about/board/recap-actions/" target="_blank">Recap</a>
            </br>
        </p>
        {% endif %}
    </div>
    <div class="col-xs-1">
        {% if 'regular board meeting' in event.name|lower %}
            {% with minutes=event.event_minutes %}
                {% if minutes %}
                <p>
                    <a href="{{ minutes }}">Minutes</a>
                </p>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    {% endif %}

</div>
{% endfor %}
