{% load static %}

  <input name="q" id="autocomplete-search" type="text" class="input-lg form-control" placeholder="{{ SEARCH_PLACEHOLDER_TEXT }}" value="{{ formatted_q }}">
  <div class="input-group-btn">
      <button type="submit" class="btn btn-lg btn-primary">
          <i class="fa fa-fw fa-search"></i>
      </button>
  </div>
</div> <!-- end input-group -->

{% comment %}
Make search-all if search-reports is not a query param, rather than
if search-all is, so it is active by default, i.e., if someone comes to
the search page with neither search-reports nor search-all in the query
string.
{% endcomment %}
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary btn-search-option{% if 'search-reports' not in request.GET %} active{% endif %}">
        <input type="radio" autocomplete="off" name="search-all"{% if 'search-reports' not in request.GET %} checked{% endif %}> Search reports and attachments
    </label>
    <label class="btn btn-primary btn-search-option{% if 'search-reports' in request.GET %} active{% endif %}">
        <input type="radio" name="search-reports" autocomplete="off" {% if 'search-reports' in request.GET %} checked{% endif %}> Search reports only
    </label>
</div>
