<p class="h4">
    Search Metro Board Reports
</p>
<p id="search-help">
    Press enter to perform a keyword search, or select from suggested topics as they appear. <a id="beta-info" class="hover-hand" data-toggle="tooltip" title="<strong>Suggested topics are a new feature.</strong> If you aren't seeing helpful suggestions or have any additional feedback or questions, get in touch with us at <a href='mailto:boardreport@metro.net'>boardreport@metro.net</a>."><i id="beta-info" class="fa fa-info-circle fa-fw"></i></a>
</p>
