{% load extras %}

{% if facet_label != 'Controlling Body' %}

    <div class="panel panel-default panel-filter">
        <div class="panel-heading" data-toggle="collapse" data-target="#filter-{{facet_name}}">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Filter by
                    {% if 'Legislation' in facet_label %}
                        Report Type
                    {% elif 'Sponsor' in facet_label %}
                        Meeting
                    {% elif 'Legislative Session' in facet_label %}
                        Fiscal Year
                    {% else %}
                        {{facet_label}}
                    {% endif %}
                    <i class="fa fa-fw {% if facet_name in selected_facets %}fa-minus {% else %} fa-plus {% endif %} pull-right"></i>
                </a>
            </h3>
        </div>
        <div class="panel-body {% if facet_name in selected_facets %}panel-show{% endif %} collapse" id="filter-{{facet_name}}">
            <ul class="search-facet-list">

            {% if facet_name == 'topics' %}
                {% for name, count in facets.fields.topics %}
                    {% include 'partials/search_filter_item.html' %}
                {% endfor %}
            {% elif facet_name == 'sponsorships' %}
                {% if facets.fields.legislative_session|length > 1 %}
                    {% for name, count in facets.fields.sponsorships %}
                        <li class="small">
                            <div class="skinny-list">
                                <a href="#" class="filter-value" data="sponsorships_exact:{{name}}" title="{{ name|title }}">
                                {% if name in selected_facets.sponsorships %}
                                    <strong>{{ name | title }}</strong>
                                    <a href ="#" class="remove-filter-value" data="{{facet_name}}_exact:{{name}}">
                                        <i class="fa fa-times"></i>
                                    </a>
                                {% else %}
                                    {{ name | title }}
                                {% endif %}
                                </a>
                            </div>
                            <span class="badge badge-facet pull-right">{{ count }}</span>
                        </li>
                    
                    {% endfor %}

                {% else %}
                    {% for name, count in facets.fields.sponsorships %}
                        {% if count %}
                            <li class="small">
                                <a href="#" class="filter-value" data="sponsorships_exact:{{name}}" title="{{ name|title }}">
                                    {% if name in selected_facets.sponsorships %}
                                        <strong>{{ name | title }}</strong>
                                        <a href ="#" class="remove-filter-value" data="{{facet_name}}_exact:{{name}}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    {% else %}
                                        {{ name | title }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% else %}

                {% for name, count in item_list %}
                    {% if count %}

                        {% include 'partials/search_filter_item.html' %}

                    {% endif %}
                {% endfor %}

            {% endif %}


            </ul>

        </div>
    </div>

{% endif %}