{% load extras %}
{% load lametro_extras %}
<p class="small text-muted condensed">
  {% with last_action=result.object.actions_and_agendas.0 %}
  <i class="fa fa-fw fa-calendar-o"></i> {{ last_action.date|date:'n/d/Y'}} - {{ last_action.description }} (most recent action)
  {% endwith %}
</p>


{% if result.object.primary_sponsor %}
    <p class="small text-muted condensed">
        <i class="fa fa-fw fa-users"></i>
        {{result.object.primary_sponsor.name}}
    </p>
{% endif %}

<div class="row">
    <div class="col-xs-11">
    {% if result.object.rich_topics %}
        <i class="fa fa-fw fa-tag"></i>
        {% hits_first result.object.rich_topics selected_facets as tags %}
        {% for tag in tags|slice:":10" %}
            {% with tag.classification|add:":"|add:tag.name as tag_facet %}
            <span class="badge{% if tag.name|matches_query:request or tag.name|matches_facet:selected_facets %} badge-highlight{% else %} badge-muted{% endif %} pseudo-topic-tag">
                <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{tag.name}}</a>
            </span>&nbsp;
            {% endwith %}
        {% endfor %}
        {% if tags|length > 10 %}
            <small>
                <a data-toggle="collapse" href="#collapse-{{ result.slug }}" aria-expanded="false" aria-controls="collapse-{{ result.slug }}">More&nbsp;topics...</a>
            </small>
            <div class="collapse" id="collapse-{{ result.slug }}">
                {% for tag in tags|slice:"10:" %}
                    {% with tag.classification|add:":"|add:tag.name as tag_facet %}
                    <span class="badge{% if tag.name|matches_query:request or tag.name|matches_facet:selected_facets %} badge-highlight{% else %} badge-muted{% endif %} pseudo-topic-tag">
                        <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{tag.name}}</a>
                    </span>&nbsp;
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        <br /><br />
    {% elif result.object.pseudo_topics %}
        <i class="fa fa-fw fa-tag"></i>
        {% hits_first result.object.pseudo_topics selected_facets.topics as tags %}
        {% for tag in tags %}
            {% with "sponsorships_exact:"|add:tag as tag_facet %}
            <span class="badge{% if tag|matches_query:request or tag|matches_facet:selected_facets.topics %} badge-highlight{% else %} badge-muted{% endif %} pseudo-topic-tag">
                <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{ tag | committee_topic_only }}</a>
            </span>&nbsp;
            {% endwith %}
        {% endfor %}
        <br/>
    {% endif %}
    </div>
</div>
