{% load extras %}
{% load lametro_extras %}
<p class="small text-muted condensed">
  <i class="fa fa-fw fa-calendar-o"></i> {{result.object.get_last_action_date|date:'n/d/Y'}} - {{result.object.current_action.description | remove_action_subj }} (most recent action)
</p>


{% if result.object.primary_sponsor %}
    <p class="small text-muted condensed">
        <i class="fa fa-fw fa-user"></i>
        {{result.object.primary_sponsor.person.name}}
    </p>
{% endif %}

<div class="row">
    <div class="col-xs-11">
    {% if result.object.topics %}
        <i class="fa fa-fw fa-tag"></i>
        {% for tag in result.object.topics %}
            {% with "topics_exact:"|add:tag as tag_facet %}
            <span class="badge {% if tag|matches_query:request %}badge-highlight{% else %}badge-muted{% endif %} pseudo-topic-tag">
                <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{tag}}</a>
            </span>&nbsp;
            {% endwith %}
        {% endfor %}
        <br/>
    {% elif result.object.pseudo_topics %}
        <i class="fa fa-fw fa-tag"></i>
        {% for tag in result.object.pseudo_topics %}
            {% with "sponsorships_exact:"|add:tag as tag_facet %}
            <span class="badge badge-muted pseudo-topic-tag">
                <a href="{% search_with_querystring request selected_facets=tag_facet %}">{{ tag | committee_topic_only }}</a>
            </span>&nbsp;
            {% endwith %}
        {% endfor %}
        <br/>
    {% endif %}
    </br>
    </div>
</div>
