<h3>Today's Meetings</h3>
    {% for meeting in todays_meetings %}
        {% if meeting.status == 'cancelled' %}
            <strike> {{  meeting.link_html | safe }} </strike>
            <small>
                <span class="label label-stale">
                    Cancelled
                </span>
            </small>
            <p class="small text-muted">
                <strike>
                  <i class="fa fa-fw fa-calendar-o"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br/>
                  <i class="fa fa-fw fa-clock-o"></i> {{ meeting.start_time | date:"g:i a" }}<br/>
                </strike>
            </p>
        {% elif meeting.display_status == 'Concluded' %}
            {{  meeting.link_html | safe }} 
            <small>
                <span class="label label-stale">
                    {{ meeting.display_status }}
                </span>
            </small>
            <p class="small text-muted">
                <i class="fa fa-fw fa-calendar-o"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br/>
                <i class="fa fa-fw fa-clock-o"></i> {{ meeting.start_time | date:"g:i a" }}<br/>
            </p>
        {% elif meeting.display_status == 'In progress' %}
            {{  meeting.link_html | safe }} 
            <small>
                <span class="label label-primary">
                    {{ meeting.display_status }}
                </span>
            </small>
            <p class="small text-muted">
                <i class="fa fa-fw fa-calendar-o"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br/>
                <i class="fa fa-fw fa-clock-o"></i> {{ meeting.start_time | date:"g:i a" }}<br/>
                <i class="fa fa-fw fa-map-marker"></i> {{ meeting.location.name }}<br />
            </p>
        {% elif meeting.display_status == 'Upcoming' %}
            {{  meeting.link_html | safe }} 
            <small>
                <span class="label label-info">
                    {{ meeting.display_status }}
                </span>
            </small>
            <p class="small text-muted">
                <i class="fa fa-fw fa-calendar-o"></i> {{ meeting.start_time | date:"D n/d/Y" }}<br/>
                <i class="fa fa-fw fa-clock-o"></i> {{ meeting.start_time | date:"g:i a" }}<br/>
                <i class="fa fa-fw fa-map-marker"></i> {{ meeting.location.name }}<br />
            </p>
        {% endif %}
    {% endfor %}
